<div class="category-dropdown-wrapper" (mouseleave)="showDropdown = false">
<div class="category-dropdown position-absolute top-0 start-0 bg-white shadow-sm">

  <button class="btn category-toggle text-white fw-bold" (click)="toggleDrop(!showDropdown)">
    <i class="fa fa-bars me-2"></i> Shop by Categories
  </button>

  <div class="dropdown-content" *ngIf="showDropdown">
    <div class="category-list">
      <div class="category-item" *ngFor="let p of resources; let i = index" (mouseenter)="onCategoryHover(i)" (mouseleave)="onCategoryLeave()">
        <div class="category-title" (click)="selected_catg(p.category)">
          {{ p.category }}
          <i class="fa fa-angle-right"></i>
        </div>

        <!-- Subcategories shown on right -->
        <div class="subcategory-panel" *ngIf="hoveredCategoryIndex === i">
          <ul class="list-unstyled mb-0">
            <li *ngFor="let subp of p.subcategory" (click)="selected_Sub(subp.subcategory)">
              <a href="javascript:void(0)" class="subcategory-link">{{ subp.subcategory }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
