


// .category-dropdown {
//   position: relative;
//   width: 270px;
//   z-index: 10;
// }

// .category-toggle {
//   width: 100%;
//   background-color: #009b77;
//   border-radius: 0;
//   height: 43px;
//   text-align: left;
// }

// .dropdown-content {
//   background-color: #fff;
//   border: 1px solid #dee2e6;
//   position: absolute;
//   width: auto;
//   max-height: 600px;
//   // overflow-y: auto;
//   z-index: 1000;
// }

// .category-container {
//   display: flex;
//   position: relative;
// }

// .category-list {
//   width: 270px;
//   border-right: 1px solid #dee2e6;
//   background-color: #f9f9f9;
// }

// .category-item {
//   padding: 10px 15px;
//   cursor: pointer;
// }

// .category-item:hover {
//   background-color: #f1f1f1;
// }

// .category-title {
//   display: flex;
//   justify-content: space-between;
//   font-weight: 600;
//   color: #495057;
// }

// .subcategory-panel {
//   position: absolute;
//   left: 270px;
//   top: 0;
//   width: 250px;
//   background-color: #f1f1f1;
//   padding: 15px;
//   border-left: 1px solid #dee2e6;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
// }

// .subcategory-link {
//   display: block;
//   padding: 8px 10px;
//   color: #6c757d;
//   text-decoration: none;
//   font-size: 14px;
//   border-radius: 4px;
// }

// .subcategory-link:hover {
//   background-color: #e9f5f3;
//   color: #009b77;
// }



.category-dropdown-wrapper {
  position: relative;
}

.category-dropdown {
  position: absolute;
  width: 270px;
  z-index: 10;
}

.category-toggle {
  width: 100%;
  background-color: #009b77;
  border-radius: 0;
  height: 43px;
  text-align: left;
}

.dropdown-content {
  background-color: #fff;
  border: 1px solid #dee2e6;
  position: relative;
  display: flex;
  max-height: 600px;
  z-index: 1000;
}

.category-list {
  width: 270px;
  border-right: 1px solid #dee2e6;
  background-color: #f9f9f9;
  position: relative;
}

.category-item {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
}

.category-item:hover {
  background-color: #f1f1f1;
}

.category-title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #495057;
}

.subcategory-panel {
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  background-color: #f1f1f1;
  padding: 15px;
  border-left: 1px solid #dee2e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 999;
}

.subcategory-link {
  display: block;
  padding: 8px 10px;
  color: #6c757d;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
}

.subcategory-link:hover {
  background-color: #e9f5f3;
  color: #009b77;
}
