<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
</ngx-spinner>
<div class="container pad_t_5per pad_b_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>

      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div>
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>
      <a href="javascript.void(0)" routerLink="/Supplier-Invoices-Supplier"
        style="color: #878787 !important;">Invoices</a>&nbsp;>&nbsp;
    </span>
    <span>Invoice</span>
  </p>
  <!-- <div class="row o_s_d"> -->
  <!-- <div class="row bg-theme dash_status" style="margin:0px">
    <div class=" col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':GIhidden == true}"
        (click)="gi()">Generated Invoice</a></div>
    <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':INhidden == true}"
        (click)="inv()">Invoice</a></div>
   
  </div> -->

  <div class="purchasewrap">

    <form (ngSubmit)="onSubmit(productDataForm)" #productDataForm="ngForm">
      <div class="row">
        <div>
          <h4 class="theme_green f_size_13 f_wt_600 txt_green mt_0 bussinesInfo">Invoice</h4>
        </div>
      </div>
      <div class="shippmentwrap">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xs-12 pl_1">
            <div class="col-md-4 col-lg-4">
              <div class="listgroup">
                <!-- <p><b>Address :</b> <span style="color:#515151;font-weight: bold;">&nbsp;Powertex Tools Company Pvt
                    Ltd.</span><br>
                  19-2-239/1/3/B, Chandulal Baradari,
                  Industrial Estate, Bahadurpura.Hyderabad - 500064,
                  Telangana, India.</p>
                <p><b>Mobile No :</b> +91 9849030551</p>
                <p><b>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> info&#64;powertextools.com </p>
                <p><b>IEC Code&nbsp;&nbsp;:</b> 0911005650</p> -->



                <p><b>Address :</b> <span style="color:#515151;font-weight: bold;">&nbsp;Powertex Tools Company Pvt
                    Ltd.</span><br>
                    7-3-109/B/1, Madhubhan Colony,
                    Gagan Pahad, Katedan.Hyderabad - 500077,
                  Telangana, India.</p>
                <p><b>Mobile No :</b> +91 9849030551</p>
                <p><b>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> info&#64;powertextools.com </p>
                <p><b>IEC Code&nbsp;&nbsp;:</b> 0911005650</p>


                <!-- <p><b>Mobile No :</b> {{productdata[0].poqhid.supplierid.mobile}} </p>
                <p><b>Email :</b> {{productdata[0].poqhid.supplierid.email}} </p> -->
                <!-- <input type="text" class="form-control" id="shipment" [(ngModel)]="pro.shipmentport" name="shipmentport" #shipmentport="ngModel"> -->
                <!-- <option></option>
            </select> -->
              </div>
              <!-- <div class="row">
                <div class="col-md-7">
                  <label for="invno"><b>Invoice No <sup>*</sup></b></label>
                  <input type="text" class="form-control" id="invno" required [(ngModel)]="pro.invno" name="invno"
                    #invno="ngModel">
                </div>
              </div> -->
            </div>

            <div class="col-md-4 pull-right">
              <div class="form-group">
                <p><b>PI No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b>
                  {{invccdata.pi_no}} </p>
                <p *ngIf="invccdata.pidate"><b>PI Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                  {{invccdata.pidate
                  | date:'dd-MM-yyyy'}} </p>
                <p *ngIf="invccdata.approveddate"><b>PI Approval :</b> {{invccdata.approveddate |
                  date:'dd-MM-yyyy'}} </p>
                <label for="invno"><b>Invoice No <sup>*</sup></b></label>
                <input type="text" class="form-control w-75" id="invno" required [(ngModel)]="pro.invno" name="invno"
                  #invno="ngModel" disabled>
                <label for="invoicedate"><b>Invoice Date <sup>*</sup></b></label>
                <input type="date" class="form-control w-75" id="brand" name="date" [(ngModel)]="pro.podate"
                  #date="ngModel" required placeholder="Enter Invoice Date">
                <div [hidden]="date.valid || date.untouched" class="validation_msg">
                  please select Invoice Date
                </div>
              </div>
              <div class="form-group  text-left">
                <label for="currency"><b>Currency</b>&nbsp; <sup>*</sup></label>
                <select class="form-control  w-75" id="currency" [(ngModel)]="pro.currency" name="currency"
                 #currency="ngModel" required>
                  <option [ngValue]="undefined" selected disabled>Select Currency</option>
                  <option class='option' *ngFor="let c of currencies" [ngValue]="c.currency">{{c.currency}}</option>
                </select>
                <div [hidden]="currency.valid ||  currency.untouched" class="validation_msg">
                  <small class="form-text text-muted text-danger">Select Currency</small>
                </div>
              </div>

              <div class="listgroup">
                <!-- <p><b>Payment Terms :</b> {{pro.payment_terms}} </p>
                <p><b>Delivery Terms :</b> {{pro.deliveryterms}} </p> -->
                <!-- <label for="discharge">Port of Discharge</label>
              <input type="text" class="form-control" id="discharge" [(ngModel)]="pro.dischargeport" name="dischargeport" #dischargeport="ngModel"> -->
                <!-- <option></option>
              </select> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive mt_3">
              <table class="table table-bordered table-condensed">
                <thead>
                  <th class="cellwidthprod">Product Name</th>
                  <th class="cellwidthprod">Sub Category</th>
                  <th class="cellwidth11">Brand</th>
                  <th class="cellwidth11">SKU No</th>
                  <!-- <th class="cellwidth8 text-right">PI Qty(Pcs)</th>
                  <th class="cellwidth8 text-right">Balance (Pcs)</th> -->
                  <th class="cellwidth8 text-right">Qty(Pcs)</th>
                  <th class="cellwidth8 text-right">Unit Price
                    ({{pro.currency}})
                  </th>
                  <th class="text-right cellwidth9">Amount ({{pro.currency}})</th>
                  <!-- <th>Select</th> -->
                  <th>Options</th>

                </thead>
                <tbody>
                  <tr *ngFor="let product of productdata;let i=index">
                    <td> <input type="text" class="form-control" readonly [(ngModel)]="product.product_name"
                        [ngModelOptions]="{standalone: true}" #product_name="ngModel"
                        title="{{product.product_name}}" /> </td>
                    <td> <input type="text" class="form-control" readonly [(ngModel)]="product.sub_category"
                        [ngModelOptions]="{standalone: true}" #sub_category="ngModel"
                        title="{{product.sub_category}}" /> </td>
                    <td><input type="text" class="form-control" readonly [(ngModel)]="product.brand"
                        [ngModelOptions]="{standalone: true}" #brand="ngModel" title="{{product.brand}}" /></td>
                    <td><input type="text" class="form-control" readonly [(ngModel)]="product.mappingid.sku_no"
                        [ngModelOptions]="{standalone: true}" #sku_no="ngModel" title="{{product.mappingid.sku_no}}" />
                    </td>
                    <!-- <td><input type="text" class="form-control text-right" [disabled]="true"
                        value="{{product.totalqty}}" /></td>
                    <td><input type="text" class="form-control text-right" [disabled]="true" value="{{product.qqty}}" />
                    </td> -->
                    <td><input type="text" class="form-control text-right" (keypress)="keynumber($event)"
                        (keyup)="qtychange(product)" [(ngModel)]="product.qty" [ngModelOptions]="{standalone: true}"
                        (change)="addExtras()" #qty="ngModel" [disabled]="product.disableinput" /></td>
                    <td><input type="text" class="form-control text-right" [(ngModel)]="product.price"
                        (keyup)="qtychange(product)" (change)="addExtras()" [ngModelOptions]="{standalone: true}"
                        [disabled]="product.disableinput" #price="ngModel" /></td>
                    <td><input type="text" class="form-control text-right" readonly
                        [ngModel]="product.amount| number:'1.2-2'" [ngModelOptions]="{standalone: true}"
                        #amount="ngModel" /></td>
                    <td class="text-center">
                      <!-- <input type="checkbox" name="vehicle1" [disabled]="add_disable(product)"
                        (change)="selecteditems($event,product)"> -->
                      <button type="button" class="btn btn-sm" (click)="delpro(i,product)" title="delete">
                        <i class="fa fa-trash" style="font-size: 18px;color: #20978c;"></i>
                      </button>
                    </td>
                    <!-- <td>{{product.qty}}</td> -->
                  </tr>
                  <tr>
                    <td colspan="4" class="text-right">
                      <h5><b>Total Qty</b></h5>
                    </td>
                    <td><input type="text" disabled class="form-control text-right" value="{{totqty}}" />
                    </td>
                    <td class="text-right">
                      <h5><b>Discount ({{pro.currency}})</b></h5>
                    </td>
                    <td><input type="text" (keypress)="keynumber2($event)" (change)="addDiscount($event)"
                        [disabled]="pro.poamount==''||pro.poamount==undefined" class="form-control text-right"
                        [ngModel]="pro.discount" name="discount" #discount="ngModel" />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-right">
                      <h5><b>Fright ({{pro.currency}})</b></h5>
                    </td>
                    <td><input type="text" (keypress)="keynumber2($event)" (change)="addfright($event)"
                        [disabled]="pro.poamount==''||pro.poamount==undefined" class="form-control text-right"
                        [ngModel]="pro.fright" name="fright" #fright="ngModel" /></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-right">
                      <h5><b>Insurance ({{pro.currency}})</b></h5>
                    </td>
                    <td><input type="text" (keypress)="keynumber2($event)" (change)="addinsurance($event)"
                        [disabled]="pro.poamount==''||pro.poamount==undefined" class="form-control text-right"
                        [ngModel]="pro.insurance" name="insurance" #insurance="ngModel" /></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-right">
                      <h5><b>Others ({{pro.currency}})</b></h5>
                    </td>
                    <td>
                      <input type="text" (keypress)="keynumber2($event)" (change)="addothers($event)"
                        [disabled]="pro.poamount==''||pro.poamount==undefined" class="form-control text-right"
                        [ngModel]="pro.others" name="others" #others="ngModel" />
                    </td>

                  </tr>
                  <tr>
                    <td colspan="6" class="text-right">
                      <h5><b>Total ({{pro.currency}})<sup>*</sup></b></h5>
                    </td>
                    <td><input type="text" class="form-control text-right" required readonly
                        [ngModel]="pro.poamount| number:'1.3-3'" name="poamount" #poamount="ngModel" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xs-6">
                <div class="form-group">
                  <label for="payment_terms">Payment Terms<sup>*</sup></label>
                  <input type="text" id="payment_terms" placeholder="Enter Payment Terms" required class="form-control"
                    [(ngModel)]="pro.payment_terms" name="payment_terms" #payment_terms="ngModel">
                </div>
              </div>
              <div class="col-md-3 col-lg-3 col-xs-6">
                <div class="form-group">
                  <label for="deliveryterms">Delivery Terms<sup>*</sup></label>
                  <input autocomplete="off" type="text" class='select-option form-control' required
                    [(ngModel)]="pro.deliveryterms" name="deliveryterm" #deliveryterms="ngModel" id="deliveryterm"
                    list="deliveryterms" placeholder="Select Delivery Terms">
                  <datalist id="deliveryterms">
                    <option [ngValue]="undefined" disabled selected>Select Delivery Terms</option>
                    <option class='option' *ngFor="let d of deliverytermlist" [ngValue]="d.shoert">{{d.shoert}}</option>
                  </datalist>
                </div>
              </div>
              <div class="col-md-3 col-lg-3 col-xs-6">
                <div class="form-group">
                  <label for="shipment">Shipment Port<sup>*</sup></label>
                  <input autocomplete="off" type="text" class='select-option form-control' required
                    [(ngModel)]="pro.shipmentport" name="shipmentport" #shipmentport="ngModel" id="shipment"
                    list="shipmentports" placeholder="Select Shipment Port">
                  <datalist id="shipmentports">
                    <option [ngValue]="undefined" disabled selected>Select Shipment Port</option>
                    <option class='option' *ngFor="let s of shipmentports" [ngValue]="s.portname">{{s.portname}}
                    </option>
                  </datalist>
                </div>
              </div>
              <div class="col-md-3 col-lg-3 col-xs-6">
                <div class="form-group">
                  <label for="discharge">Discharge Port<sup>*</sup></label>
                  <input autocomplete="off" type="text" class='select-option form-control' required
                    [(ngModel)]="pro.dischargeport" name="dischargeport" #dischargeport="ngModel" id="discharge"
                    list="dischargeports" placeholder="Select Discharge Port">
                  <datalist id="dischargeports">
                    <option [ngValue]="undefined" disabled selected>Select Discharge Port</option>
                    <option class='option' *ngFor="let d of dischargeports" [ngValue]="d.portname">{{d.portname}}
                    </option>
                  </datalist>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xs-6">
                <div class="form-group">
                  <label for="deliverytime">Delivary time</label>
                  <input class="form-control" id="deliverytime" [(ngModel)]="pro.deliverytime" name="deliverytime"
                    placeholder="Enter Delivery time" #deliverytime="ngModel">
                </div>
              </div>
              <div class="col-md-3 col-lg-3 col-xs-6">
                <div class="form-group">
                  <label for="description">Note 1</label>
                  <textarea rows="2" id="description" placeholder="Enter Description" class="form-control"
                    [(ngModel)]="pro.description" name="description" #description="ngModel"></textarea>
                </div>
              </div>
              <div class="col-md-3 col-lg-3 col-xs-6">
                <div class="form-group">
                  <label for="description2">Note 2</label>
                  <textarea rows="2" id="description2" placeholder="Enter Description" class="form-control"
                    [(ngModel)]="pro.description2" name="description2" #description2="ngModel"></textarea>
                </div>
              </div>
              <div class="col-md-3 col-lg-3 col-xs-6">
                <div class="form-group">
                  <label for="description3">Note 3</label>
                  <textarea rows="2" id="description" placeholder="Enter Description" class="form-control"
                    [(ngModel)]="pro.description3" name="description3" #description3="ngModel"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group d-flex justify-content-between">
            <label for="doc2"><b>Upload Invoice</b></label>
            <input type="file" id="doc2" name="doc2" type="file" [(ngModel)]="pro.doc2" (change)="attrexcelUpload($event)"
            title = "Upload Invoice">
            <button button="submit" [disabled]="productDataForm.invalid"
              class="btn btn-primary center-block bg_green">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
              <span>Invoice Generated Sucessfully..!!</span>
              <br>

            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" (click)="updatemodal()" class="btn btn-success fr" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="alertpopup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert_heading2">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title text-center"></h4>
        <div class="right_mark2">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>cannot proceed more than PI quantity.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
              <span>Do you want to confirm Invoice</span>
              <br>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="confirmmodal()" class="btn btn-success fr" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn-danger fl" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>