.input{
    max-width: 75px;
}

@media (min-width: 992px){
  
    .modal-lg{
        width: 1100px !important;
    }
}
.astrick{
    color: red;
    font-weight: large;
  }
  .custom_loder{
    z-index: 99999999999 !important;
     position: fixed !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important;  }