table{
    font-size:12px;
}
.text-white{
    color: #ffffff;
}
table{
    font-size:12px;
}
.text-white{
    color: #ffffff;
}
.astrick{
  color: red;
  font-weight: 900;
}

.btn-danger {
    background-color: #B73333;
  }

  /* File Upload */
  .upload-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .fileUpload {
    position: relative;
    overflow: hidden;
  }
  .main-img-preview{
    height: 200px !important;
    /* width: 80px; */
    /* box-shadow: 10px 0 10px 2px; */
    box-shadow: 0 0 5px 2px #a2a1a1;
    margin-bottom: 1.5rem;
  }

  .fileUpload .attachment_upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .img-preview {
    max-width: 100%;
  }
  .astrick{
    color: red;
    font-weight: 900;
  }
  .custom_loder{
    z-index: 99999999999 !important;
     position: fixed !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important; 
       }