.vendor_sel{
    width: 200px;
    padding: 5px;
    border: 1px solid #20978c;
    border-radius: 5px;
}

.vendor_lab{
    color:#fff !important;
    font-weight: 700 !important;
    font-size:18px;
    padding-right: 15px;
}

.chose_vendr{
    background: #0fa497;
    text-align: center;
    padding: 18px 0 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}