<!-- Top Header: Logo | Search | Icons -->
<div class="bg-white py-2 border-bottom shadow-sm">
  <div class="container">
    <div class="row align-items-center g-2">

      <!-- Logo -->
      <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-start">
        <a routerLink="/home" class="navbar-brand d-flex align-items-center">
          <img src="/assets/images/logo.png" alt="Elocart Logo" style="height: 90px;" />
        </a>
      </div>

      <!-- Search Bar -->
      <div class="col-12 col-md-5 d-flex justify-content-center my-2 my-md-0">
        <form class="w-100" style="max-width: 450px;" >
          <div class="input-group">
            <input
              class="form-control border-primary rounded-start-pill"
              type="search"
              placeholder="Search Products Here"
              [(ngModel)]="search_val"
              name="search"
            />
            <button
              class="btn btn-primary rounded-end-pill px-3"
              (click)="search_btn(search_val)"
              type="submit"
            >
              <i class="fa fa-search text-white"></i>
            </button>
          </div>
        </form>
      </div>

  <!-- Right Icons -->
  <div class="col-12 col-md-4">
    <div class="d-flex justify-content-center justify-content-md-end align-items-center gap-3 flex-wrap">
  
      <!-- Contact Info -->
      <div class="text-end d-none d-md-block">
        <div class="small text-muted">
          <i class="fa fa-phone me-1 text-primary"></i> Contact Us
        </div>
        <div class="fw-bold small">0123 456 789</div>
      </div>
  
      <!-- Wishlist -->
      <a
        class="nav-link position-relative d-flex align-items-center px-2"
        routerLink="/wishlist"
      >
      <i class="fa fa-heart-o" aria-hidden="true"></i>
        <span
          class="badge bg-danger position-absolute top-0 start-100 translate-middle"
          *ngIf="wishList_count > 0"
        >{{ wishList_count }}</span>
      </a>
  
      <!-- My Cart -->
      <a
        class="nav-link position-relative d-flex align-items-center px-2"
        routerLink="/viewcart"
      >
        <i class="fa fa-shopping-cart fs-5" style="color: #058124;"></i>
        <span
          class="badge bg-success position-absolute top-0 start-100 translate-middle"
          *ngIf="cartItem_count > 0"
        >{{ cartItem_count }}</span>
        <span class="ms-1 d-none d-sm-inline fw-medium "style="color:#009b77">My Cart</span>
      </a>
  
      <!-- Login / Profile -->
      <ng-container *ngIf="!token">
        <a class="nav-link d-flex align-items-center px-2" (click)="openLoginModal()">
          <i class="fa fa-user fs-5"style="color:#009b77"></i>
          <span class="ms-1 d-none d-sm-inline fw-medium"style="color:#009b77">Login</span>
        </a>
      </ng-container>
      <ng-container *ngIf="token">
        <a class="nav-link d-flex align-items-center px-2" routerLink="/profile">
          <i class="fa fa-user fs-5"></i>
        </a>
      </ng-container>
  
    </div>
  </div>
  


    </div>
  </div>
</div>




  <!-- Bottom Blue Nav -->
  <nav
  class="navbar-expand-lg navbar-toggler text-white"
  style="background-color: #009b77;"
>
  <div class="container">
    <div class="position-relative w-100 d-flex align-items-center">
      <app-catg-menu></app-catg-menu>

      <button
        class="navbar-toggler text-white ms-auto"
        type="button"
        (click)="navbarCollapsed = !navbarCollapsed"
        [attr.aria-expanded]="!navbarCollapsed"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" [ngbCollapse]="!navbarCollapsed">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link text-white fw-bold" routerLink="/home" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold" routerLink="/contact-us" routerLinkActive="active">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold" routerLink="/about-us" routerLinkActive="active">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold" routerLink="/store-location" routerLinkActive="active">Locate Store</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold" routerLink="/store-location" routerLinkActive="active">Brand Protection</a>
        </li>

        <li class="nav-item" *ngIf="token">
          <a class="nav-link text-white fw-bold" routerLink="/myOrders" routerLinkActive="active">My Orders</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


