.custom_loder{
    z-index: 99999999999 !important;
     position: fixed !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important;  }
        .active_tab {
          background-color: #ffffff;
          color: #0fa497 !important;
          padding: 5px 28px 14px 28px;
          font-size: 17px !important;
          font-weight: 600;
        }

        .padd_right_10{
          padding-right: 10px;
      }