<ngx-spinner class="custom_loder">
    <img src="../../../assets/Loader.gif">
    </ngx-spinner>
  <div class="container pad_t_5per pad_b_5per">
      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
            <h3 class="shopee_name">
              <span>{{loginUserData.content}}</span>
             
            </h3>
            <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
          </div>
        </div>
    <p class="bread-crumb1">
      <span>
        <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
      </span>&nbsp;>&nbsp;
      <span >Customer DC Details</span>
    </p>
    
    <div class="reg_form mar_b_30 pad_15">
  
      <div class="row mar_b_15">
        <div class="col-sm-12">
          <div class="fl">
            <h4>Customer DC Details</h4>
          </div>
          <div class="fr">
            <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..." class="search_style">
            <button type="submit" class="input_btn">Search</button>
          </div>
        </div>
      </div>
  
      <div class="row" *ngIf="(poList | filter :searchText) as poList">
        <div class="col-sm-12 list" *ngIf="poList.length>0">
          <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>S.No</th>
                <!-- <th>User Name</th> -->
                <th>Business Name</th>
                <th>PO No.</th>
                <th>PO Date</th>
             
              
                <th>City</th>
                <th>Actions</th>
                <th>Print</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of poList | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i=index"
               [ngClass]="{'seencls':item.seen == 1}">
                <td>{{10*(p-1)+(i+1)}}</td>
                <!-- <td>{{item.Username}}</td> -->
                <!-- <td>{{item.business_name}}</td> -->
                <td *ngIf="item.business_name !==''" >{{item.first_name}} {{item.last_name}}</td> 
                    <td *ngIf="item.business_name==''"  >Customer Po</td> 
                <td>{{item.spo_no}}</td>
                <td>{{item.po_date | date:'dd-MM-yyyy' }}</td>
               
                <td>{{item.city}}</td>
                <td>
                    <span class="f_size_15 padd_right_10 orange_clr cursor_pointer" (click)="view(item)">
                        <i class="fa fa-eye" aria-hidden="true" title="View"></i>
                      </span>
                      <span class="f_size_15 red_clr padd_right_10 cursor_pointer" (click)="delete(item)">
                          <i class="fa fa-close" aria-hidden="true" title="Delete"></i>
                        </span>
                  <!-- <span class="f_size_15 padd_right_10 orange_clr cursor_pointer"  (click)="makePackingList(item)">
                    <i class="fa fa-edit" aria-hidden="true" title="Edit"></i>
                  </span>
                 
                    <span class="f_size_15 padd_right_10 blue_clr cursor_pointer" (click)="openpopup(item)">
                      <i class="fa fa-truck custom " aria-hidden="true" title="Transport Details"></i>
                    </span> -->
                </td>
                <td>
                   
                  <div *ngIf="item.seen==0">
                    <input type="checkbox"  [disabled]="selecteduser && selecteduser!=item.po_origin_id" (change)="checkValue($event,item)" />
                </div>
                <div *ngIf="item.seen!=0">
                  completed
                </div>
                  </td>
                
              </tr>
            </tbody>
          </table>
          <div>
              <div class="col-md-12">
                <button class="btn btn-primary" [disabled]="seqarray.length<1" type="button" (click)="mergelist()">Print</button>
              </div>
            </div>
        </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
        </div>
  
        <div *ngIf="poList.length==0">
          <div class="col-md-12">
            <div class="no_data">
              <img class="no_data_cnter" src="../assets/emptyicon.png" />
              <span class="nodata_txt">No Data is Available</span>
            </div>
          </div>
        </div>
  
      </div>
  
  
    </div>
    <ngx-spinner class="loader_spinner"></ngx-spinner>
  </div>
  
  <div class="modal fade" id="openmodal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header alert_heading">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title text-center"></h4>
            <!-- <div class="right_mark">
                  <i class="fa fa-question" aria-hidden="true"></i>
                </div> -->
          </div>
          <div class="modal-body ">
            <h4 style="text-align:center;">Transport details</h4>
            <br>
            <br>
             <div class="row ">
              <div>
                <div class="col-sm-4 mar_b_10_mbl">
                  <label for="category_profile" class="col-form-label">Delivery mode
      
                  </label>
                  <div>
                    <select class="form-control" [(ngModel)]="transport.delivery_type" #delivery_type="ngModel" required name="delivery_type">
                      <option [ngValue]="undefined" disabled selected>Select</option>
                      <option value="Vehicle" selected>Vehicle</option>
                      <option value="Courier" selected>Courier</option>
                    </select>
                    <!-- <div [hidden]="del_mode.valid || del_mode.untouched" class="validation_msg">
                      please select Delivery Mode.
                    </div> -->
                  </div>
      
      
                </div>
                <div class="col-sm-4 mar_b_10_mbl" *ngIf="transport.delivery_type=='Vehicle'">
                  <label for="category_profile" class="col-form-label">Vehicle Name
      
                  </label>
                  <div>
                    <input type="text" class="form-control" id="remark" [(ngModel)]="transport.remark"
                    name="remark" #remark="ngModel" placeholder="Enter Name" required>
                 
                  </div>
      
      
                </div>
                  <div class="col-sm-4 mar_b_10_mbl" *ngIf="transport.delivery_type=='Courier'">
                  <label for="category_profile" class="col-form-label">Courier Name
      
                  </label>
                  <div>
                    <input type="text" class="form-control" id="remark" [(ngModel)]="transport.remark"
                    name="remark" #remark="ngModel" placeholder="Enter Name" required>
                 
                  </div>
      
      
                </div>
                <div class="col-sm-4 mar_b_10_mbl">
                  <label for="category_profile" class="col-form-label">Amount
                  </label>
                  <div>
                    <input type="text" class="form-control" id="service_amount" [(ngModel)]="transport.service_amount"
                    name="service_amount" #service_amount="ngModel" placeholder="Enter Amount" required>
                  <!-- <div [hidden]="service_amount.valid ||  service_amount.untouched" class="validation_msg">
                    Amount is required
                  </div> -->
                  </div>
      
      
                </div>
      
              </div>
            </div> <br>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="submit()" class="btn btn-success brdr_radius_50   fr">Submit
            </button>
            <button type="button" class="btn btn-danger fl brdr_radius_50 " data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
      </div>
  
      <!-- modal pop up start here -->
  <div class="modal fade " id="makepodetailModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" style="padding:0;">
            <div class="row">
              <div class="col-md-12">
                  <h4 class="alert_heading">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </h4>
                <div class=" text-center content_msg" style="padding-top:0%">
                  <br>
                  <div class="reg_form marg_b_15 pad_l_20 pad_r_20">
                    <p class="pad_t_10" style="font-size: 16px;text-decoration: underline;text-align:center">
                      <b>Product List</b>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th class="txt_centr">S.No</th>
                            <!-- <th class="txt_left">Product Image</th> -->
                            <th class="txt_left">Product Name</th>
                            <th class="txt_left">Sku No.</th>
                            <th class="txt_centr">PO Qty</th>
                            <th class="txt_centr">N/C</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let p of poListDetail; let i=index;">
                            <td class="txt_centr">{{i+1}}</td>
                            <!-- <td class="txt_left"><img src="{{p.image}}"
                              onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';"
                              class="img-thumbnail" style="width:50%;height: 30px;"></td> -->
                            <td class="txt_left"> {{p.subcategory}} {{p.modelno}}</td>
                            <td *ngIf="!p.sku_no" class="txt_left">{{p.sku_number}}</td>
                            <td *ngIf="p.sku_no" class="txt_left">{{p.sku_no}}</td>
                            <td class="txt_right">{{p.qty}}</td>
                            <td class="txt_right">{{p.carton}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- <pagination-controls (pageChange)="Page = $event"></pagination-controls> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-danger fl" data-dismiss="modal" >No</button>
            <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="makePackingLiat()">Yes</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="modal fade" id="confirm"  tabindex="-1" data-backdrop="static" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body" style="padding:0;">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="alert_heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </h4>
                  <div class="right_mark">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </div>
                  <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
                    <span>PO Deleted Sucessfully..!!</span>
                    <br>
                 
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            
              <button type="button" class="btn btn-success fr" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>