<section class="pad_b_5per" style="padding-top: 2.8%;">
    <div class="container" id="faqWrap">
      <div class="row">
        <h2 class="text-center faqtitle">FAQ's</h2>
    <div>
        <h4><strong>How can I register as a Dealer?</strong></h4>
    <div>
      <p><strong><i class="fa fa-arrow-circle-o-right"></i>&nbsp; Web Application</strong></p>
      <p>Visit https://powertextools.com/ and enter the Register Button click the create an account then select drop down as a dealer as User Role,fill all the details with proper GST Number & Proper Mobile Number. Once Complete the registration you will get the otp with given mobile number.Enter Otp Number get registration successfully.</p>
       <p>After Successfully creation our team will contact you check your details given correct or not.if you everything is ok our team will activate </p>	
    </div>
      <div>
      <p><strong><i class="fa fa-arrow-circle-o-right"></i>&nbsp; Mobile App</strong></p>
      <p>After downloading the mobile app, enter the Register Button click the create an account then select drop down as a dealer as User Role,fill all the details with proper GST Number & Proper Mobile Number. Once Complete the registration you will get the otp with given mobile number.Enter Otp Number get registration successfully.</p>
      <p>After Successfully creation our team will contact you check your details given correct or not.if you everything is ok our team will activate </p>	
    </div>
       </div>
     <div>
        <h4><strong>How can I Place Order?</strong></h4>
    <div>
    <p>There are two ways to Place Order</p>
     <p><strong><i class="fa fa-arrow-circle-o-right"></i>&nbsp; By visiting our site https://powertextools.com/ </strong> </p>
      <div class="indent">
                                    <p>
                                        <i class="fa fa-hand-o-right"></i>&nbsp;On the main page, Login your username and password</p>
                                    <p><i class="fa fa-hand-o-right"></i>&nbsp;Click on Dashboard</p>
  
                                    <p><i class="fa fa-hand-o-right"></i>&nbsp;Click on Orders you can select the products by using category & Sub Category & Modelno then Enter No.of Cartoons.</p>
                  <p><i class="fa fa-hand-o-right"></i>&nbsp;if you add multiple products click Add button.</p>
                                    <p><i class="fa fa-hand-o-right"></i>&nbsp;once complete the order items selection then click on place order.</p>
                  <p><i class="fa fa-hand-o-right"></i>&nbsp;Select Delivary Address & Billing Address</p>
                  <p><i class="fa fa-hand-o-right"></i>&nbsp;Click on Confirm Order.You will get PO Order Number.</p>
  
                                </div>
  <p><strong><i class="fa fa-arrow-circle-o-right"></i>&nbsp;By downloading our mobile app <i class="fa fa-hand-o-right"></i>&nbsp;Powertex Tools</strong></p>
                                <div class="indent">
                                    <p><i class="fa fa-hand-o-right"></i>&nbsp;Enter the mobile number on the main screen.</p>
                                    <p><i class="fa fa-hand-o-right"></i>&nbsp;Click verify button. You will be prompted for password.  This is the new password which will be sent to your mobile number through sms.</p>
                                    <p><i class="fa fa-hand-o-right"></i>&nbsp;Input the password sent through sms and you will be shown the menu.</p>
                                    <p><i class="fa fa-hand-o-right"></i>&nbsp;Input the scratch number</p>
                                    <p><i class="fa fa-hand-o-right"></i>&nbsp;Select the brand</p>
                                    <p><i class="fa fa-hand-o-right"></i>&nbsp;Just click on the verify button and the system will check the product information and displays you the result saying whether the product is genuine or fake.</p>
                                </div>
  
    </div>
       </div>
     <div>
        <h4><strong>How to reset the forgot password?</strong></h4>
    <div>
      <p>Visit https://powertextools.com/ and enter the product information and select the verify button. The system shall register you by using your mobile number. Once the rewards are gained by you and when you would like to redeem the same, the system will take complete information. You can also login using your mobile number and further complete the registration process.</p>
    </div>
     
       </div>
     <div>
        <h4><strong>How shipping address details are modified?</strong></h4>
    <div>
      <p>Visit https://powertextools.com/ and enter the product information and select the verify button. The system shall register you by using your mobile number. Once the rewards are gained by you and when you would like to redeem the same, the system will take complete information. You can also login using your mobile number and further complete the registration process.</p>
    </div>
       </div>
     <div>
        <h4><strong>How can I update my profile?</strong></h4>
    <div>
      <p>Visit https://powertextools.com/ and enter the product information and select the verify button. The system shall register you by using your mobile number. Once the rewards are gained by you and when you would like to redeem the same, the system will take complete information. You can also login using your mobile number and further complete the registration process.</p>
    </div>
     
       </div>
      </div>
    </div>
  </section>