.bussinesInfo{
    background: #0fa497;
    margin-bottom: 0;
    padding: 10px;
    color: #fff !important;
} 
.a_b_1{
    color: #fff !important;
    background-color: #293271 !important;
    border-color: #293271 !important;
}
.padd_right_10{
    padding-right: 10px;
}
.a_b_2 {
    float: right;
    font-weight: 600;
    margin-top: -8px;
} 