<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
</ngx-spinner>
<div class="container pad_t_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span> {{loginUserData.content}}</span>
      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div>
 

  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important; ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>
      <a href="javascript.void(0)" routerLink="/Supplier-Pending-Payments" style="color: #878787 !important; ">On Port Status</a>
            </span>&nbsp;>&nbsp;
    <span>
      <a href="javascript.void(0)" routerLink="/Admin-Portwise-Products" style="color: #878787 !important; ">On Port Product List</a>
            </span>&nbsp;>&nbsp;
    <span>Print</span>		
  </p>

  <div class="reg_form mar_b_30 pad_15">
    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>On Port Product List Print</h4>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="fr form-group" *ngIf="orders.length>0">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
            class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="orders">
        <div id="printsuppndng">
          <div class="row busname text-center">
             <h3 class="shopee_name">
              <span> {{loginUserData.content}}</span>
            </h3>
            <hr>
          <h3 class="shopee_name text-center">
            <span> OnPort Product List </span>
          </h3>
          </div>
        <div class="row printwrap" *ngIf="(orders | filter :searchText) as orders">
          <div class="col-sm-12 list" *ngIf="orders.length>0">
            <div class="table-responsive">
              <table class="table table-striped">

                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Business Name</th>
                    <th>Product name</th>
                    <th>Inv No</th>
                    <th>BL Date</th>
                    <th>Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of orders ; let i=index">
                    <td>{{10*(p-1)+(i+1)}}</td>
                    <td *ngIf="loginUserData.role=='Admin'">{{data.business_name}}</td>
                    <td>{{data.modelno }}&nbsp;&nbsp;{{ data.subcategory}}</td>
                    <td>{{data.inv_no}}</td>
                    <td>{{data.bldate | date:'dd-MM-yyyy'}}</td>
                    <td>{{data.Qty}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="row" style="text-align: center;padding-top: 15px;" id="printPageButton">
              <button type="submit" class="btn btn-success" (click)="printreport()" style="letter-spacing:1px;">Print
              </button>
            
              <button  type="submit" style="margin:10px;"
              class="btn btn-success"  routerLink="/Admin-Portwise-Products">Cancel</button>
              </div>
          </div>
          <div *ngIf="orders.length==0">
            <div class="col-md-12">
              <div class="no_data">
                <img class="no_data_cnter" src="../assets/emptyicon.png" />
                <span class="nodata_txt">No Data is Available</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>