.prefix{
    width: 70px;
    display: inline-block;
}
.inv {
    width: 90px;
    display: inline-block;
}
.suffix {
    width: 70px;
    display: inline-block;
}
.btn-default {
    padding: 7px 15px !important;
    color: #fff !important;
    background-color: #0fa497 !important;
    border-color: #0fa497 !important;
  }