.prod_head{
    background: #0fa497;
    color: white !important;
    padding: 8px 0px;
    margin: 0px;
    font-size: 13px !important;
    font-weight: normal !important;
    //font-family: monospace;
}