.quantity-box {
    max-width: 130px;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    overflow: hidden;
    background-color: #fff;
  
    .form-control {
      border: none;
      text-align: center;
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
      box-shadow: none !important;
    }
  
    
  
    
  }
  