.v_h{
    background: #0fa497;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    h4 {
        color: #ffffff !important;
    }
}
.padd_left_10{
    padding-left:10px;
  }
.close1{
    color: #7b5f5f !important;
    opacity: 1;
    float: right;
    font-size: 30px;
    
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    margin-top: -7px;
}
.s_s_r {
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid #0fa497;
}
.padd_left_5{
    padding-left:5px;
  }
  .width150{
    width: 250px !important;
  }
  .custom_loder{
    z-index: 99999999999 !important;
     position: fixed !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important;  }
 .cellwidtha{
  width: 12%;
 }      

 
.table  tbody  tr  td {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

.table  thead  tr  th {
  padding: 3px;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  font-size: 12px;
}
