<div class="container my-5">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb px-4 py-3 shadow-sm rounded-3">
      <li class="breadcrumb-item">
        <a class="text-decoration-none" routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <span
          class="text-primary cursor-pointer"
          (click)="catg_crumb(details.category)"
          >{{ details.category }}</span
        >
      </li>
      <li class="breadcrumb-item">
        <span
          class="text-primary cursor-pointer"
          (click)="sub_catg_crumb(details.subcategory)"
          >{{ details.subcategory }}</span
        >
      </li>
      <li class="breadcrumb-item active fw-semibold" aria-current="page">
        {{ details.modelno }}
      </li>
    </ol>
  </nav>

  <!-- Product Detail -->
  <div class="row g-4">
    <!-- Product Images -->
    <div class="col-lg-5">
      <div
        class="car1"
        style="
          background-color: #ffffff;
          border: 1px solid rgb(211, 205, 205);
          width: 509px;
          height: 480px;
        "
      >
        <!-- card content here -->

        <div class="card-body text-center">
          <img
            id="zoom_01"
            class="img-fluid rounded-3 mb-4"
            [src]="select_image"
            [attr.data-zoom-image]="details.high_image_1"
            onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';"
            alt="{{ details.modelno }}"
            style="max-height: 400px; object-fit: contain"
          />
          <div class="row g-3 justify-content-center">
            <div
              class="col-3"
              *ngFor="let pd of details.high_image | slice : 0 : 4"
            >
              <img
                class="img-thumbnail rounded cursor-pointer border-0 shadow-sm"
                [src]="pd"
                (click)="side_img(pd)"
                onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';"
                alt="thumbnail"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vertical Separator -->
    <!-- <div class="col-auto d-none d-lg-block">
      <div style="width: 1px; height: 100%; background-color: #e0e0e0"></div>
    </div> -->

    <!-- Product Details -->
    <div class="col-lg-5">
      <div
        class="border-2 rounded-4"
        style="background-color: #ffffff; height: 550px"
      >
        <div class="card-body">
          <h3 class="fw-bold mb-4">
            <ng-container
              *ngIf="details.category != 'Spare Parts'; else onlyModel"
            >
              {{ details.subcategory }} {{ details.modelno }}
            </ng-container>
            <ng-template #onlyModel>{{ details.modelno }}</ng-template>
          </h3>

          <table class="table table-borderless table-sm mb-4">
            <tbody *ngFor="let pd of details.details">
              <tr *ngIf="details.details.length != 1">
                <td class="fw-semibold text-secondary">{{ pd.attribute }}</td>
                <td class="text-dark">{{ pd.actual_value }}</td>
              </tr>
            </tbody>
          </table>

          <div class="mb-4">
            <h3 class="d-inline fw-bold" style="color: #009b77">
              &#8377; {{ details.net_price }}
            </h3>
            <span
              class="text-muted text-decoration-line-through ms-2"
              *ngIf="details.discount && details.discount > 0"
            >
              &#8377;{{ details.mrp }}
            </span>

            <!-- Discount Badge -->
            <span
              class="badge bg-success ms-2 fs-6 px-2 py-1"
              *ngIf="details.discount && details.discount > 0"
            >
              {{ details.discount }}% OFF
            </span>

            <div><small class="text-muted">(Excluding GST)</small></div>
          </div>

          <div class="d-flex align-items-center mb-4">
            <div class="text-warning fs-5 me-2">
              <i class="fa fa-star" *ngFor="let i of [1, 2, 3, 4]"></i
              ><i class="fa fa-star-o"></i>
            </div>
            <span class="text-primary fs-6">{{ details.review }} Ratings</span>
          </div>
          <!-- Quantity & Wishlist -->
          <div
            class="d-flex align-items-center justify-content-between mb-4 w-100"
          >
            <!-- Quantity Block -->
            <div class="d-flex flex-column align-items-start mb-4 w-100">
              <!-- Quantity Block -->
              <label class="mb-2 fw-semibold">Quantity</label>
              <div class="input-group mb-3">
                <button
                  class="btn border border-secondary bg-white"
                  type="button"
                  (click)="decreaseQty()"
                  style=" border: 1px solid rgb(168, 165, 165) "
                >
                  <i
                    class="fa fa-minus"
                    style="color: rgb(124, 116, 116); pointer-events: none"
                  ></i>
                </button>
                <input
                  type="text"
                  class="form-control text-center px-2"
                  [(ngModel)]="quantity"
                  readonly
                  style="max-width: 50px; border: 1px solid rgb(168, 165, 165);"
                />
                <button
                  class="btn border border-secondary bg-white"
                  type="button"
                  (click)="increaseQty()"
                  style=" border: 1px solid rgb(168, 165, 165) "
                >
                  <i
                    class="fa fa-plus"
                    style="color: rgb(124, 116, 116); pointer-events: none"
                  ></i>
                </button>
              </div>

              <!-- Wishlist Block Under Quantity -->
              <div
                class="d-flex align-items-center mt-2"
                style="cursor: pointer"
                (click)="addToWishlist(details)"
                role="button"
                aria-label="Add to Wishlist"
              >
                <i
                  class="fa fa-heart fs-4 me-2"
                  [ngClass]="{
                    'text-danger': isWishlisted,
                    'text-secondary': !isWishlisted
                  }"
                ></i>
                <small class="text-muted">Add to Wishlist</small>
              </div>
            </div>
          </div>

          <div class="d-grid gap-3 d-md-flex mb-4">
            <button
              class="btn btn-lg px-4 shadow-sm"
              style="
                background-color: #009b77;
                color: white;
                border: 1px solid #009b77;
              "
              (click)="addToCart(details)"
              [disabled]="dis_cart()"
            >
              <i class="fa fa-shopping-cart me-2"></i> Add to Cart
            </button>

            <button
              class="btn btn-lg px-4 shadow-sm text-black"
              style="
                color: #009b77;
                border: 2px solid #009b77;
                background-color: transparent;
              "
              (click)="buyNow(details)"
              [disabled]="dis_buy()"
            >
              Buy Now
            </button>
          </div>

          <!-- <a href="#details" class="text-decoration-none fs-6">
            <i class="fa fa-info-circle"></i> View Details
          </a> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Product Tabs -->
  <div class="card mb-4" id="details" style="background-color: #ffffff">
    <ul class="nav nav-tabs card-header-tabs" id="productTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="specs-tab"
          data-bs-toggle="tab"
          data-bs-target="#specs"
          type="button"
          role="tab"
        >
          Specifications
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="reviews-tab"
          data-bs-toggle="tab"
          data-bs-target="#reviews"
          type="button"
          role="tab"
        >
          Reviews & Ratings
        </button>
      </li>
    </ul>

    <div class="card-body" style="background-color: #ffffff">
      <div class="tab-content" id="productTabsContent">
        <!-- Specifications Tab -->

        <div
          class="tab-pane fade show active"
          id="specs"
          role="tabpanel"
          style="background-color: #ffffff"
        >
        <table class="table table-striped" style="background-color: #ffffff;">
          <tbody *ngFor="let pd of details.details">
            <tr *ngIf="details.details.length != 1">
              <td class="fw-bold">{{ pd.attribute }}</td>
              <td>:</td>
              <td>{{ pd.actual_value }}</td>
            </tr>
            <tr *ngIf="pd.attribute == null">
              <td colspan="3">Not Available</td>
            </tr>
          </tbody>
        </table>
        
        </div>

        <!-- Reviews Tab -->
        <div class="tab-pane fade" id="reviews" role="tabpanel">
          <div class="row">
            <!-- Review Form -->
            <div class="col-md-4" *ngIf="loginUserData.user_type != 'Admin'">
              <div class="title">
                <h5 class="card-title">Write a Review</h5>
                <div class="mb-3">
                  <label class="form-label">Your Rating</label>
                  <ngb-rating
                    [max]="5"
                    [(rate)]="rating"
                    class="fs-4 text-warning"
                  ></ngb-rating>
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    [(ngModel)]="title"
                    placeholder="Your Name"
                  />
                </div>
                <div class="mb-3">
                  <textarea
                    class="form-control"
                    rows="3"
                    name="description"
                    [(ngModel)]="description"
                    placeholder="Your Review"
                  ></textarea>
                </div>
                <button
                  class="btn"
                  style="background-color: #009b77"
                  (click)="PostRating(rating, title, description)"
                >
                  Submit Review
                </button>
              </div>
            </div>

            <!-- Customer Reviews -->
            <div class="col-md-8">
              <h5 class="mb-4">Customer Reviews</h5>

              <!-- Existing Reviews -->
              <div
                *ngFor="let r of review; let i = index"
                class="mb-4 pb-3 border-bottom"
              >
                <div class="d-flex justify-content-between mb-2">
                  <div>
                    <span class="fw-bold me-2"
                      ><i class="fa fa-user-circle me-1"></i
                      >{{ r.username }}</span
                    >
                    <span *ngIf="r.permission == 0" class="text-muted">{{
                      r.title
                    }}</span>
                  </div>
                  <small class="text-muted">{{
                    r.updatedate | date : "mediumDate"
                  }}</small>
                </div>

                <div class="mb-2" style="pointer-events: none">
                  <app-rating [rating]="r.review"></app-rating>
                </div>

                <div *ngIf="r.permission == 1" class="review-text">
                  {{ r.comments }}
                </div>
              </div>

              <!-- Review Details -->
              <div *ngIf="reviewdetails?.review_dtl">
                <div
                  *ngFor="
                    let at of reviewdetails.review_dtl
                      | paginate : { itemsPerPage: 3, currentPage: page };
                    let i = index
                  "
                  class="mb-4 pb-3 border-bottom" 
                >
                  <div class="d-flex align-items-center mb-2">
                    <i class="fas fa-user-circle me-2 fs-4"></i>
                    <div>
                      <h6 class="mb-0">{{ at.title }}</h6>
                      <ngb-rating
                        [max]="5"
                        [readonly]="true"
                        [(rate)]="at.review"
                        class="text-warning"
                      ></ngb-rating>
                    </div>
                  </div>
                  <p class="mb-2">{{ at.comments }}</p>
                  <small class="text-muted">{{
                    at.timestamp | date : "dd/MM/yyyy HH:mm"
                  }}</small>
                </div>

                <div class="d-flex justify-content-center mt-4">
                  <pagination-controls
                    (pageChange)="page = $event"
                  ></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Related Products -->

    <div *ngIf="reviewdetails?.releted_products.length > 0" class="mb-5">
      <h5 class="fw-semibold text-muted">Related Products</h5>

      <div class="position-relative">
        <!-- Left Chevron Icon -->
        <button
          class="position-absolute top-50 start-0 translate-middle-y border-0 bg-transparent p-0 related-prev"
        >
          <i class="fa fa-chevron-left fs-4" style="color: #5e5757"></i>
        </button>

        <!-- Right Chevron Icon -->
        <button
          class="position-absolute top-50 end-0 translate-middle-y border-0 bg-transparent p-0 related-next"
        >
          <i class="fa fa-chevron-right fs-4" style="color: #5e5757"></i>
        </button>

        <!-- Product Cards -->
        <div class="row gx-3 gy-4 mx-5">
          <div
            class="col-lg-2 col-md-4 col-6"
            style="width: 210px"
            *ngFor="let data of reviewdetails.releted_products | slice : 0 : 4"
          >
            <div
              class="card h-295 product-card position-relative"
              style="
                background-color: #fdfbfb;
                border-color: rgb(230, 219, 219);
                border-width: 1.5px;
                border-style: solid;
              "
              (click)="selected_catg(data)"
            >
              <!-- Wishlist Icon -->
              <div
              *ngIf="log_as_cust"
              class="position-absolute top-0 end-0 p-2 z-2 text-end icon-container d-none"
            >
              <i
                *ngIf="data.wishlist == '1'"
                class="fa fa-heart text-danger cursor_pointer d-block mb-2"
              ></i>
              <i
                *ngIf="data.wishlist != '1'"
                class="fa fa-heart-o text-secondary cursor_pointer d-block mb-2"
              ></i>
              <i
                class="fa fa-eye cursor_pointer d-block"
                style="color: rgb(102, 96, 96)"
              ></i>
            </div>

              <!-- Image Section -->
              <div class="position-relative">
                <img
                  [src]="data.Image"
                  onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';"
                  class="img-fluid rounded"
                  alt="{{ data.modelno }}"
                  style="max-height: 130px; object-fit: contain"
                />
              </div>

              <!-- Card Body with Reduced Padding and Left-Aligned Text -->
              <div class="card-body px-1 py-2 text-start position-relative">
                <h6 class="text-muted mb-1">{{ data.subcategory }}</h6>
                <h5
                  class="fw-semibold text-truncate mb-2"
                  title="{{ data.modelno }}"
                >
                  {{ data.modelno }}
                </h5>
              
                <p class="mb-0" style="color: #009b77">{{ data.brand }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modals -->
  <div class="modal fade" id="alrdyItemAddedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center p-5">
          <div class="mb-4">
            <i class="fas fa-check-circle text-success fa-5x"></i>
          </div>
          <h5 class="modal-title mb-3">This Item Already Added to Cart</h5>
          <p>Increase Quantity from Cart</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="gotoPrevious()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="gotoPrevious()"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="insertItemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center p-5">
          <div class="mb-4">
            <i class="fas fa-check-circle text-success fa-5x"></i>
          </div>
          <h5 class="modal-title mb-3">Item added to cart successfully</h5>
        </div>
        <div class="modal-footer justify-content-center">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="gotoPreviousInsert()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="gotoPreviousInsert()"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <ngx-spinner class="custom-loader">
    <img src="../../../assets/Loader.gif" class="img-fluid" />
  </ngx-spinner>
</div>
