<div class="container pad_t_5per pad_b_5per">
    <div class="reg_form pad_15">
      <div class="row">
        <div class="container-fliud">
          <div class="wrapper row">
            <div class="preview col-md-6">
              <div class="row" class="row_mar_0" *ngIf="details">
                <div class="col-md-3 hidden-xs hidden-sm" style="padding-top: 30px;">
                  <img id="zoom_01" *ngFor="let pd of details.high_image | slice:0:4" src="{{pd}}"
                    [attr.data-zoom-image]="details.high_image_1"
                    onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';"
                    alt="image" style="border: 1px solid lightgray;" (click)="side_img(pd)">
                </div>
                <div class="col-md-9 col-xs-12">
                  <div class="preview-pic ">
                    <div class="text-center" id="pic-1">
                      <img id="zoom_01" class="high_image" src="{{select_image}}"
                        [attr.data-zoom-image]="details.high_image_1"
                        onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';"
                        alt="image">
                    </div>
                  </div>
                </div>
                
                <!-- // -->
                <div class="col-xs-12 visible-xs hidden-sm hidden-md hidden-lg" style="padding-top: 30px;display: flex;">
                  <div *ngFor="let pd of details.high_image | slice:0:3">
                    <img id="zoom_01" src="{{pd}}" [attr.data-zoom-image]="details.high_image_1"
                      onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';"
                      alt="image" style="border: 1px solid lightgray;" (click)="side_img(pd)" width="202">
                  </div>
                </div>
                <!-- // -->
              </div>
              <!-- <img src="{{details.high_image_1}}"  onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
              alt="image" style="border-bottom: 1px solid lightgray;" > -->
            </div>
            <div class="details col-md-6">
              <div>
                <p class="b_r_d"><span><a href="javascript.void(0)" routerLink="/home" style="color: #878787 !important;
                  ">Home</a></span>&nbsp;>&nbsp;<span
                    (click)="catg_crumb(details.category)">{{details.category}}</span>&nbsp;>&nbsp;<span
                    (click)="sub_catg_crumb(details.subcategory)">{{details.subcategory}}</span>&nbsp;>&nbsp;<span>{{details.modelno}}</span>
                </p>
              </div>
              <h3 *ngIf="details.category!='Spare Parts'" class="product-title active_bredcrum">{{details.subcategory }} {{details.modelno}}</h3>
              <h3 *ngIf="details.category=='Spare Parts'" class="product-title active_bredcrum">{{details.modelno}}</h3>
              <table class="table" *ngIf="details">
                <tbody *ngFor="let pd of details.details">
                  <tr *ngIf="details.details.length!=1">
                    <td>{{pd.attribute}}&nbsp;:&nbsp;{{pd.actual_value}}</td>
                  </tr>
                </tbody>
              </table>
              <h4>
                <span class="prodnet_price">
                  <b> &#8377; {{details.net_price }}</b>
                </span>
                <span style="text-decoration:line-through; color: #9e8f8f;padding: 0px 3px;">
                  &#8377;{{ details.mrp}}</span>
                <span style="color: #0da550"> {{details.discount}}% Off <span
                    style="color: #9e8f9d;font-size: small;text-transform: capitalize;">(Excluding GST)</span>
                  <span class="ratingspan">
                    {{details.review}} <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
                  </span>
                </span>
              </h4>
              <p class="row_mar_0"><a class="v_d" href="#details">View Details</a></p>
              <div class="action">
                <button class="btn btn-primary" (click)="addToCart(details)" [disabled]="dis_cart()"> Add To
                  Cart</button>&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="buyNow(details)" [disabled]="dis_buy()"> Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="reg_form pad_15 mar_t_10">
      <div class="row" id="details">
        <mat-tab-group>
          <mat-tab label="Specifications">
            <div class="pad_15 specificationdiv">
              <table class="table" *ngIf="details" style="font-size: 14px !important;">
                <tbody *ngFor="let pd of details.details">
                  <tr *ngIf="details.details.length!=1">
                    <td>{{pd.attribute}}</td>
                    <td>:</td>
                    <td>{{pd.actual_value}}</td>
                  </tr>
                  <tr *ngIf="pd.attribute==null">
                    <td>Not Available</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Reviews & Ratings">
            <!-- <div class="row" style="margin:0px !important;padding:12px;" *ngIf="review.length==0">
              No Reviews
            </div> -->
            <div class="col-md-4">
              <div class="row" style="margin:0px !important;padding:12px;" *ngIf=" loginUserData.user_type !='Admin' ">
                <b>Product Rating</b>
                <div>
                  <ngb-rating [max]="5" [(rate)]="rating" class="rating"></ngb-rating>
                  <br>
                  <label for="description">
                  </label>
                </div>
                <textarea class="form-control rounded-0" rows="1" name="title" [(ngModel)]="title"
                  placeholder="Give your Name" minlength="3" maxlength="30"></textarea>
                <br>
                <textarea class="form-control rounded-0" rows="3" name="description" [(ngModel)]="description"
                  placeholder="Give your comments" minlength="3" maxlength="100"></textarea><br>
                <button type="submit" class="input_btn" (click)="PostRating(rating,title,description)">Submit</button><br>
              </div>
            </div>
            <div *ngFor="let r of review;let i=index;">
              <div class="row" style="margin:0px !important;padding:12px;">
                <div><span><i class="fa fa-user-circle"></i></span><span class="c_u_r_n">{{r.username}}</span> &nbsp;
                  <span class="c_u_r_n" *ngIf="r.permission==0">{{r.title}}</span> </div>
                <div style="pointer-events:none;">
                  <app-rating [rating]="r.review"></app-rating>
                </div>
                <br>
                <br>
                <div class="row" style="margin:0px !important;padding:4px;pointer-events:none;" *ngIf="r.permission==1">
                  {{r.comments}}</div>
  
                <div class="row" style="margin:0px !important;padding:4px;pointer-events:none;color: #c5c2c2;">
                  {{r.updatedate | date:'mediumDate'}}</div>
              </div>
            </div>
            <div class="col-md-8">
            <div *ngIf="reviewdetails?.review_dtl">
              <div class="pad_15"
                *ngFor="let at of reviewdetails.review_dtl| paginate: { itemsPerPage: 3, currentPage: page}; let i=index">
                <div [style.backgroundColor]="'#F6FFFC'" *ngIf="reviewdetails?.review_dtl">
                  <span class="col-md-1">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                  <mat-card-header style="padding-left: 0px">
                    <p><b>{{at.title}}</b> </p>
                  </mat-card-header>
                  <mat-card-subtitle style="color: #6699FF">
                    <ngb-rating [max]="5" [readonly]="true" [(rate)]="at.review" class="rating"></ngb-rating>
                  </mat-card-subtitle>
                  <mat-card-content>
                    <p>
                      {{at.comments}}
                    </p>
                    <span class="col-md-11">{{at.timestamp| date: 'dd/MM/yyyy'}}</span>
                    <span class="col-md-1">{{at.timestamp| date:'HH:mm'}}</span>
                  </mat-card-content>
                  <br>
                </div>
              </div>
              <div>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  
    <div class="reg_form pad_15 mar_t_10" *ngIf="reviewdetails?.releted_products.length>0">
      <div class="row  hidden-xs" style="padding-top: 2%;">
        <div class="col-md-12 all_tools">
          <div>        
            <div class="text-center" style="padding-bottom: 15px;">
            <h4 class="Shopbycatg_header">Related&nbsp;Products</h4>
            <img src="../../assets/images/Underline Shaded.svg" class="s_bpy_ctg">
            </div>
          </div>
          <div id="Carousel" class="carousel slide" data-ride="carousel" data-pause="hover">
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-md-3 col-sm-4" *ngFor="let data of reviewdetails.releted_products | slice:0:4 ; let i=index ">
                    <div (click)="selected_catg(data)" class="imgwrap cat_style pad_15" style="background-color: white !important;"  style="min-height: 200px">
                      <div class="img-thumbnail" >
                        <img  src="{{data.Image}}" width="200" onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';" class="pointer img-responsive">
                        <h5 class="C_s fontbold">{{data.subcategory}}</h5>
                        <div class="text-center">
                          <p  class="" title="{{data.modelno}}" style="height: 40px;">{{data.modelno}}</p>
                          <p  class="fontbold" title="{{data.brand}}" style="height: 40px;">{{data.brand}}</p>
                        </div>
                      </div>
                      
                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="item">
                <div class="row" *ngIf="reviewdetails.releted_products.length>0">
                  <div class="col-md-3 col-sm-4" *ngFor="let data of reviewdetails.releted_products | slice:4:l " style="min-height: 200px">
                    <div class="imgwrap cat_style pad_15" (click)="selected_catg(data)">
                      <div class="img-thumbnail">
                        <img src="{{data.Image}}" onError="this.src='../../assets/images/emty_img.png';"
                          alt="{{data.category}}" class="catg_img" style="width:100%">
                          <div class="text-center">
                            <h5 class="C_s fontbold">{{data.subcategory}}</h5>
                            <div class="text-center">
                              <p  class="" title="{{data.modelno}}" style="height: 40px;">{{data.modelno}}</p>
                              <p  class="fontbold" title="{{data.brand}}" style="height: 40px;">{{data.brand}}</p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="item" *ngIf="reviewdetails.releted_products.length>4">
                <div class="row">
                  <div class="col-md-3 col-sm-4" *ngFor="let data of reviewdetails.releted_products | slice:4:8 ; let i=index ">
                    <div (click)="selected_catg(data)" class="imgwrap cat_style pad_15" style="background-color: white !important;"  style="min-height: 200px">
                      <div class="img-thumbnail" >
                        <img  src="{{data.Image}}" width="200" onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';" class="pointer img-responsive">
                        <h5 class="C_s fontbold">{{data.subcategory}}</h5>
                        <div class="text-center">
                          <p  class="" title="{{data.modelno}}" style="height: 40px;">{{data.modelno}}</p>
                          <p  class="fontbold" title="{{data.brand}}" style="height: 40px;">{{data.brand}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ---------- -->
              <div class="item" *ngIf="reviewdetails.releted_products.length>8">
                <div class="row">
                  <div class="col-md-3 col-sm-4" *ngFor="let data of reviewdetails.releted_products | slice:8:12 ; let i=index ">
                    <div (click)="selected_catg(data)" class="imgwrap cat_style pad_15" style="background-color: white !important;"  style="min-height: 200px">
                      <div class="img-thumbnail" >
                        <img  src="{{data.Image}}" width="200" onError="this.src='https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png';" class="pointer img-responsive">
                        <h5 class="C_s fontbold">{{data.subcategory}}</h5>
                        <div class="text-center">
                          <p  class="" title="{{data.modelno}}" style="height: 40px;">{{data.modelno}}</p>
                          <p  class="fontbold" title="{{data.brand}}" style="height: 40px;">{{data.brand}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
            <a data-slide="prev" href="#Carousel" class="left carousel-control">
              <span>‹</span>
            </a>
            <a data-slide="next" href="#Carousel" class="right carousel-control">
              <span>›</span>
            </a>
          </div>
          <br>
        </div>
      </div>
    </div>
  
  
    <!-- modal pop up start here -->
    <div class="modal fade" id="alrdyItemAddedModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" style="padding:0;">
            <div class="row">
              <div class="col-md-12">
                <h4 class="alert_heading">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </h4>
                <div class="right_mark">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
                  <span>This Item Already Added to Cart.</span>
                  <br>
                  <span>Increase Quantity from Cart.</span>
                  <!-- <span  [innerHTML]="msg"></span> -->
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger fl" data-dismiss="modal" (click)="gotoPrevious()">Close</button>
            <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="gotoPrevious()">OK</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <ngx-spinner class="loader_spinner"></ngx-spinner> -->
    <ngx-spinner class="custom_loder">
      <img src="../../../assets/Loader.gif">
      </ngx-spinner>
    <!-- modal pop up start here -->
    <div class="modal fade" id="insertItemModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" style="padding:0;">
            <div class="row">
              <div class="col-md-12">
                <h4 class="alert_heading">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </h4>
                <div class="right_mark">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
                  <span>Item added to cart successfully</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger fl" data-dismiss="modal"
              (click)="gotoPreviousInsert()">Close</button>
            <button type="button" class="btn btn-success fr" data-dismiss="modal"
              (click)="gotoPreviousInsert()">OK</button>
          </div>
        </div>
      </div>
    </div>