<div class="container pad_t_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span> {{loginUserData.content}}</span>
      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div>
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important; ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>Invoices</span>
  </p>
  <div class="reg_form mar_b_30 pad_15">
    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>Invoice</h4>
        </div>
        <div class="fr" *ngIf="invoicedata.length>0">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
            class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class="row" *ngIf="(invoicedata | filter :searchText) as invoicedata">

          <div class="col-sm-12 list" *ngIf="invoicedata.length>0">

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>PO No</th>
                    <th>PO Date</th>
                    <th>Invoice No</th>
                    <th>Invoice Date</th>
                    <th>Amount</th>
                    <th>Shipment Port</th>
                    <th>Discharge Port</th>
                    <th>Items</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of invoicedata | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                    <td>{{10*(p-1)+(i+1)}}</td>
                    <td>{{data.pono_ref}}</td>
                    <td>{{data.podate | date:'dd-MM-yyyy'}}</td>
                    <td>{{data.invqhid}}</td>
                    <td>{{data.createdon | date:'dd-MM-yyyy'}}</td>
                    <td>{{data.poamount | currency:'&nbsp;'}}</td>
                    <td>{{data.shipmentport}}</td>
                    <td>{{data.dischargeport}}</td>
                    <td>{{data.noofitems}}</td>
                    <td>
                      <span class="f_size_15 blue_clr padd_right_10 cursor_pointer">
                        <i class="fa fa-eye" aria-hidden="true" title="View More" (click)="viewMore(data)"></i>
                      </span>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>

          <div *ngIf="invoicedata.length==0">
            <div class="col-md-12">
              <div class="no_data">
                <img class="no_data_cnter" src="../assets/emptyicon.png" />
                <span class="nodata_txt">No Data is Available</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>