.bussinesInfo{
    background: #0fa497;
    margin-bottom: 0;
    padding: 10px;
    color: #fff !important;
}   
thead th{
    padding:8px;
} 
p{
    margin-bottom: 0.5rem;
    line-height: 1.5;
}
.listgroup{
    margin: 10px 0 16px 0;
}
.pl_1 {
    padding-left:0 !important;
    padding-left:0 !important;
}
.cellwidth{
    width: 40% !important;
      }
      .cellwidth12{
        width: 11% !important;
      }