.close1{
    color: #7b5f5f !important;
    opacity: 1;
    float: right;
    font-size: 30px;
    
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    margin-top: -7px;
}
.v_h{
    background: #0fa497;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    h4 {
        color: #ffffff !important;
    }
}
.seencls{
    background-color: rgb(95, 184, 95) !important;
    color: #04184e !important;
}
.i{
    margin-left: 15px;
}