<div class="container pad_t_5per">
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
        <h3 class="shopee_name">
          <span> {{loginUserData.content}}</span>
        </h3>
        <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
      </div>
    </div>
  <p class="bread-crumb1">
      <span>
        <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important; ">Dashboard</a>
      </span>&nbsp;>&nbsp;
      <span>Dealer Registration</span>
    </p>
<div class="reg_form mar_b_30">
  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
     
        <app-register></app-register>
        <!-- Tab panes -->
       
     
    </div>
  </div>
</div>
</div>
