span{
    font-size: 11px;
}
.p-1{
    padding: 1rem;
}
.printwrap{
    padding: 0 2rem;
    border: 1.5px solid #ddd;
}
.ml-1{
    margin-left:1rem;
}
.mr-1{
    margin-right: 1rem;
}
.table-bordered{
    border:1px solid #fff !important;
}
.mb-1half{
    margin-bottom: 1.5rem;
}