.padd_right_10{
    padding-right: 10px;
}
.pad_t_10{
padding-top:10px;
}
.company_address{
    font-weight: 700;
    font-size: 12px;
    padding-right: 5px;
    color: #232f3e;
    // text-align: center;
}
.printTable tbody tr td{
    font-size: 12px;
}
.total_invoice_page {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 3px 12px 0px #cccccc;
}
p{
    color:black;
}
.invoce_address {
    padding: 0 30px;
    // border: 1px dashed #37475a;
}
table td{
    padding: 0px 7px 0 5px !important;
    vertical-align: middle !important;
}
table th{
    font-size: 12px !important;
}
.marg_t_b_15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.hr_line_botm{
    border-bottom: 1px dashed #37475a;
}


