<section class="pad_b_5per" style="padding-top: 5%;">
    <div class="container">
      <div class="row">
        <h2 class="text-center" style="color:#091881;">Privacy Policy</h2>
        <p><strong>Privacy policy for Powertex Tools</strong></p>
        <p>Powertex Tools is an online E-Commerce platform. Powertex Tools is committed to safeguard its user(s) privacy (herein referred to as "you" or "your"). Powertex Tools (herein referred as "our" or “we” or “us”) privacy policy describes what personal
          information is collected by us from our customers and how it will be used by us and third parties for the further transactions. Please go through each point of privacy policy before you start using the website or any of our services. Your use
          of the website or any of our services declares your strong consent towards the every point of our privacy policy. The privacy policy speaks about your personal and non-personal information of account. It is suggested to our every user to go
          through the privacy policy along with the terms of use to have a better knowledge and understanding towards us and use of our services.
        </p>
        <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Powertex Tools, unless otherwise defined in this Privacy Policy.</p>
  
        <p><strong>Information Collection and Use</strong></p>
        <p> When you register an account with us to gain additional features or to access the full-fledged services, personal and non-personal information would be collected when required. Personal information is not just confined to name, address and date
          of birth but proportionate to our requirements. However, you have the facility of not sharing the information if it is highly private excluding the cases when it is marked as mandatory. In such case of leaving mandatory fields blank, you cannot
          avail our services completely. The reason why we collect personal information of our customers is to provide more effective and personalized services that will ensure ample happiness to every customer. We maintain the list of your personal data
          in order to facilitate customized alerts and preferences in providing the services, offers and to support customers by creating a fraud-free environment with utmost ease. Some part of information may be collected through the user(s) and it may
          be stored in the server logs in form of data. This data is considered as reference to us to have a better understanding on a number of user visits to the website. Few part of information might be shared with our associates. While using the Website,
          our servers (hosted by a third party service provider) may collect information about your activities on the website; for instance by way of cookies. In case of any advertisements or promotions run on the website by third parties or by any of
          the sponsor's behalf of us, they might collect the user(s) information that might not be permitted to IP addresses, browser software, number of clicks, number of unique visitors, internet service provider, exit/referring pages, type of platform,
          date/time stamp, screen resolution etc for analysis that helps us provide improved user experience and services. We maintain the data of buying and browsing activities protected on the website which is not limited to user(s) contact details,
          profiles and uses the same information in order to provide hassle free, improvised value added services to the user(s). We have built website with the team of finest coders which makes strong enough to withstand from hacking and bugs. However,
          please note that our website is not a risk proof website.</p>
  
        <p><strong>Usage of  personal information by Powertex Tools </strong></p>
        <p>
          Based on the information that is provided to us, you might receive email alerts, SMS subscriptions from us or from the third parties. However, we value a lot to our user(s) privacy, you can stop receiving emails at any time by just clicking “unsubscribe”
          option attached in any email that you receive from us.
        </p>
        <p><strong>Disclosure </strong></p>
        <p>
          We reserve right to disclose information of any user(s) when forced by the government or third parties in case of any legal obligations.
        </p>
        <p><strong>Sharing of user(s) information </strong></p>
        <p>
          As a basic ethic, we will never share any sort of user(s) information whether it may be personal or impersonal until and unless we have the user(s) permission or under any special cases such as providing information on good faith or in case of any legal
          obligations when law requires. We reserve the right to disclose information which is required to identify or proceed legally against someone who’s caught violating the “Terms of Use” or for the reason being interfered in our services or rights.
          You will be asked to provide the necessary information while making use of service on our website. The information that you share with us is transferred and shared with third party payment gateway operator through which the payment is generated
          to the user(s). And user(s) need to note that the mentioned operator may have access to your information like online purchase history/details that you do from us or our associates. However, extremely sensitive information of the user(s) like
          credit/debit card details is processed upon the highly secured websites with high digital encryption which can leave every transaction free of risk. However, not all the times the internet medium is secured to use services and so requests user(s)
          to exercise discretion in using the same.
        </p>
        <p><strong>Cookies</strong></p>
        <p>Cookies are files with small amount of data that is commonly used an anonymous unique identifier. A "cookie" is a small piece of information stored by a web server on a web browser so it can be later read back from that browser. Cookies are useful
          for enabling the browser to remember information specific to a given user. We place both permanent and temporary cookies in your computer's hard drive. The cookies do not contain any of your personally identifiable information</p>
  
        <p><strong>Security of user(s) information </strong></p>
        <p>
          We assure that no information related to business would be disclosed to any one at any point of time with respect to our associates.
        </p>
        <p><strong> Security of our associates information</strong></p>
        <p>
          We reserve the right to send mails regarding offers and services for our customers/clients. Also we constantly try to improvise our services and website functionality time to time according to customer interests and satisfaction.
        </p>
  
  
  
  
        <p><strong>Changes to This Privacy Policy</strong></p>
        <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. [ I | We ] will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately,
          after they are posted on this page.</p>
  
        <p><strong>Contact Us</strong></p>
        <p>If you have any questions or suggestions about [ my | our] Privacy Policy, do not hesitate to contact us.
        </p>
      </div>
    </div>
  </section>
  