<div class="pad_b_5per" style="padding-top: 2.8%;">
  <div class="container-fluid testimonial ">
    <div class="pad_5_per txt_center text_white">
      <h3>Work with Us</h3>
      <p style="padding: 0 20%; line-height: 24px; word-spacing: 3px;">Powertex established in 1998 India. We are proud of our heritage and our reputation as one of India’s power tools Suppliers. Our focus is the serious “do-it-yourselfer” as well as businesses that make a living working with our tools. With a firm belief in good ethics, fair sales practices and putting the customer first.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 mar_t_20">
        <h3 class="abt_head theem_color">Current Openings</h3>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="glyphicon glyphicon-user theem_color pad_r_30 pad_t_7"></span>
                <span class="theem_color f_wt_600">Stock Manager</span>
              </mat-panel-title>
              <!-- <mat-panel-description>
                    Type your name and age
                  </mat-panel-description> -->
            </mat-expansion-panel-header>

            <!-- <mat-form-field>
              <input matInput placeholder="First name">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Age">
            </mat-form-field> -->
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="glyphicon glyphicon-user theem_color pad_r_30 pad_t_7"></span>
                <span class="theem_color f_wt_600">Product Stock Manager</span>
              </mat-panel-title>
              <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>I'm visible because I am open</p> -->
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>

</div>