.padd_right_10{
    padding-right: 10px;
}
.red_clr{
    color:#cf1111;
}
.orange_clr{
    color:#f7a22d;
}
.green_clr{
    color:#1c944f;
}
.active_tab {
    background-color: #ffffff;
    color: #0fa497 !important;
    padding: 5px 28px 14px 28px;
    font-size: 17px !important;
    font-weight: 600;
  }