<div class="container pad_t_5per pad_b_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>

      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div>
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>INV Approval</span>
  </p>
  <div class="row o_s_d">
    <div class="row bg-theme dash_status" style="margin:0px">
      <div class=" col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':POhidden == true}"
          (click)="po()">Packing Approval</a></div>
      <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':DOhidden == true}"
          (click)="do()">Invoice Approval</a></div>
          <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':OUThidden == true}"
            (click)="out()">Outstanding Approval</a></div>
          </div>
          <div *ngIf="POhidden">
            <div class="reg_form mar_b_30 pad_15">
              
              <div class="row mar_b_15">
                <div class="col-sm-12">
                  <div class="fl">
                    <h4>Orders</h4>
                  </div>
                  <div class="fr">
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
                      class="search_style">
                    <button type="submit" class="input_btn">Search</button>
                  </div>
                </div>
              </div>
          
              <div class="row" *ngIf="(customerdata1 | filter :searchText) as customerdata1">
                <div class="col-sm-12 list" *ngIf="customerdata1.length>0">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Business Name</th>
                          <th>DC No.</th>
                          <th>DC Date</th>
                          <th>Credit Limit Amount</th>
                          <th>Credit Period Days</th>
                         
                          <th>Total Amount</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let item of customerdata1 |filter:searchText | paginate: { itemsPerPage: 10, currentPage: page1 }; let i=index">
                          <td>{{10*(page1-1)+(i+1)}}</td>
                          <td>{{item.business_name}}</td>
                          <td>{{item.print}}</td>
                          <td>{{item.printdate | date:'dd-MM-yyyy' }}</td>
                          <td>{{item.payment_terms}}</td>
                          <td>{{item.credit_period}}</td>
                         
                          <td>{{item.final_amount | currency:'&nbsp;'}}</td>
                          <td>
                            <span class="f_size_15 padd_right_10 green_clr cursor_pointer" (click)="packingapprove(item)">
                              <i class="fa fa-check" aria-hidden="true" title="approve"></i>
                            </span>
                            <!-- <span class="f_size_15 red_clr padd_right_10 cursor_pointer" (click)="delete(item)">
                                <i class="fa fa-close" aria-hidden="true" title="Delete"></i>
                              </span> -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <pagination-controls (pageChange)="page1 = $event"></pagination-controls>
                </div>
                <div *ngIf="customerdata1.length==0">
                  <div class="col-md-12">
                    <div class="no_data">
                      <img class="no_data_cnter" src="../assets/emptyicon.png" />
                      <span class="nodata_txt">No Data is Available</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
         
   <div *ngIf="DOhidden">
  <div class="reg_form mar_b_30 pad_15">
    
    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>Orders</h4>
        </div>
        <div class="fr">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
            class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="(customerdata | filter :searchText) as customerdata">
      <div class="col-sm-12 list" *ngIf="customerdata.length>0">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Business Name</th>
                <th>Packing No.</th>
                <th>Packing Date</th>
                <th>Credit Limit Amount</th>
                <th>Credit Period Days</th>
                <th>Outstanding Amount</th>
                <th>Invoice Amount</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of customerdata |filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                <td>{{10*(p-1)+(i+1)}}</td>
                <td>{{item.business_name}}</td>
                <td>{{item.packing_l_no}}</td>
                <td>{{item.packing_l_date | date:'dd-MM-yyyy' }}</td>
                <td>{{item.payment_terms}}</td>
                <td>{{item.credit_period}}</td>
                <td>{{item.creditamount | currency:'&nbsp;'}}</td>
                <td>{{item.final_amount | currency:'&nbsp;'}}</td>
                <td>
                  <span class="f_size_15 padd_right_10 green_clr cursor_pointer" (click)="approve(item)">
                    <i class="fa fa-check" aria-hidden="true" title="approve"></i>
                  </span>
                  <!-- <span class="f_size_15 red_clr padd_right_10 cursor_pointer" (click)="delete(item)">
                      <i class="fa fa-close" aria-hidden="true" title="Delete"></i>
                    </span> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div *ngIf="customerdata.length==0">
        <div class="col-md-12">
          <div class="no_data">
            <img class="no_data_cnter" src="../assets/emptyicon.png" />
            <span class="nodata_txt">No Data is Available</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 
  <div *ngIf="OUThidden">
    <div class="reg_form mar_b_30 pad_15">
      
      <div class="row mar_b_15">
        <div class="col-sm-12">
          <div class="fl">
            <h4>Users List</h4>
          </div>
          <div class="fr">
            <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
              class="search_style">
            <button type="submit" class="input_btn">Search</button>
          </div>
        </div>
      </div>
  
      <div class="row" *ngIf="(outstandingdata | filter :searchText) as outstandingdata">
        <div class="col-sm-12 list" *ngIf="outstandingdata.length>0">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Company Code</th>
                  <th>Business Name</th>
                 <th>Outstanding Amount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of outstandingdata |filter:searchText | paginate: { itemsPerPage: 10, currentPage: page2 }; let i=index">
                  <td>{{10*(page2-1)+(i+1)}}</td>
                  <td>{{item.company_code}}</td>
                  <td>{{item.business_name}}</td>
                  <td>{{item.outstanding | currency:'&nbsp;'}}</td>
                  <td>
                    <span class="f_size_15 padd_right_10 green_clr cursor_pointer" (click)="outstandingapprove(item)">
                      <i class="fa fa-check" aria-hidden="true" title="approve"></i>
                    </span>
                    <!-- <span class="f_size_15 red_clr padd_right_10 cursor_pointer" (click)="delete(item)">
                        <i class="fa fa-close" aria-hidden="true" title="Delete"></i>
                      </span> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="page2 = $event"></pagination-controls>
        </div>
        <div *ngIf="outstandingdata.length==0">
          <div class="col-md-12">
            <div class="no_data">
              <img class="no_data_cnter" src="../assets/emptyicon.png" />
              <span class="nodata_txt">No Data is Available</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>

<div class="modal fade" id="success" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
              <span>Updated Successfully...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger fl" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success fr" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>