<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
</ngx-spinner>
<div class="container pad_t_5per pad_b_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>

      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg"> 
    </div>
  </div>
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>
      <a href="javascript.void(0)" *ngIf="loginUserData.role=='Admin'" routerLink="/Admin-Generate-Invoice"
        style="color: #878787 !important;">Generate Invoices</a>
    </span>&nbsp;>&nbsp;
    <span>Consolidated Packing List</span>
  </p>

  <div class="purchasewrap">

    <form (ngSubmit)="onSubmit(productDataForm)" #productDataForm="ngForm">
      <div class="row">
        <div>
          <h4 class="theme_green f_size_13 f_wt_600 txt_green mt_0 bussinesInfo">Consolidated Packing</h4>
        </div>
      </div>
      <div class="shippmentwrap">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xs-12 pl_1">
            <div class="col-md-4 col-lg-4">
              <div class="listgroup">
                <div>
                  <label for="supplier1" class="control-label mt_zerosix text-right">Select Supplier
                    Name<sup>*</sup>
                  </label>
                  <input autocomplete="off" type="text" class='select-option form-control' required name="supplier"
                      [(ngModel)]="suppliername" #supplier="ngModel" id="supplier1"
                      (change)="getproductsdata(suppliername)"  list="suppliers"
                      placeholder="Select Supplier">
                    <datalist id="suppliers">
                      <option [ngValue]="undefined" disabled selected>Select Supplier</option>
                      <option class='option' *ngFor="let s of suppliers" [ngValue]="s">{{s.business_name}}</option>
                    </datalist>

                </div>
              </div>
            </div>

            <div class="col-md-4 pull-right"  *ngIf="productdata1.length>0">
              <div class="form-group">
                <label for="invno"><b>Invoice No <sup>*</sup></b></label>
                <input type="text" class="form-control w-75" id="invno" required [(ngModel)]="pro.invno" name="invno" placeholder="Enter Number"
                  #invno="ngModel" (change)="checkinv(pro.invno)">
                  <div [hidden]="invno.valid ||  invno.untouched" class="validation_msg">
                    Invoice No is required
                  </div>
                  <div [hidden]="errmsg==false" class="validation_msg">
                    Invoice No already exists 
                  </div>
                <label for="invoicedate"><b>Invoice Date <sup>*</sup></b></label>
                <input type="date" class="form-control w-75" id="invdate" name="invdate" [(ngModel)]="pro.podate" #invdate="ngModel" 
                  required placeholder="Enter Invoice Date">
                <div [hidden]="invdate.valid || invdate.untouched" class="validation_msg">
                  please select Invoice Date
                </div>
              </div>

              <div class="listgroup">
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive mt_3">
              <table class="table table-bordered table-condensed"  *ngIf="productdata1.length>0">
                <thead>
                  <th class="cellwidthprod">Product Name</th>
                  <th class="cellwidthprod">Sub Category</th>
                  <th class="cellwidth11">Brand</th>
                  <th class="cellwidth10">SKU No</th>
                  <th class="cellwidth10">PI No</th>
                  <th class="cellwidth8 text-right">PI Qty(Pcs)</th>
                  <th class="cellwidth8 text-right">Balance (Pcs)</th>
                  <th class="cellwidth10">Piece Per Carton</th>
                  <th class="cellwidth8 text-right">Qty(Pcs)</th>
                  <th class="cellwidth8 text-right">CTNS</th>
                  <th class="cellwidth8 text-right">G.W</th>
                  <th class="cellwidth8 text-right">N.W</th>
                  <th class="cellwidth8">Select</th>

                </thead>
                <tbody>
                  <tr *ngFor="let product of productdata;let i=index">
                    <td> <input type="text" class="form-control" readonly [(ngModel)]="product.product_name"
                        [ngModelOptions]="{standalone: true}" #product_name="ngModel" title="{{product.product_name}}"/> </td>
                    <td> <input type="text" class="form-control" readonly [(ngModel)]="product.sub_category"
                      [ngModelOptions]="{standalone: true}" #sub_category="ngModel" title="{{product.sub_category}}" /> </td>
                    <td><input type="text" class="form-control" readonly [(ngModel)]="product.brand"
                        [ngModelOptions]="{standalone: true}" #brand="ngModel" title="{{product.brand}}" /></td>
                    <td><input type="text" class="form-control" readonly [(ngModel)]="product.sku_no"
                        [ngModelOptions]="{standalone: true}" #sku_no="ngModel" title="{{product.sku_no}}" /></td>
                   <td><input type="text" class="form-control" readonly [(ngModel)]="product.pi_no"
                        [ngModelOptions]="{standalone: true}" #pi_no="ngModel" title="{{product.pi_no}}"/></td>
                    <td><input type="text" class="form-control text-right" [disabled]="true"
                        value="{{product.Piqty}}" /></td>
                    <td><input type="text" class="form-control text-right" [disabled]="true" value="{{product.balanceqty}}" />
                    </td>
                    <td><input type="text" class="form-control text-right" [(ngModel)]="product.piecepercarton"
                        [ngModelOptions]="{standalone: true}" #piecepercarton="ngModel" title="{{product.piecepercarton0023}}"/></td>
                    <td><input type="text" class="form-control text-right" (keypress)="keynumber($event)"
                        (keyup)="qtychange(product)" [(ngModel)]="product.qty" [ngModelOptions]="{standalone: true}"
                         #qty="ngModel" [disabled]="product.disableinput" /></td>
                    <td><input type="text" class="form-control text-right" (keypress)="keynumber($event)"
                        [(ngModel)]="product.ctns" [ngModelOptions]="{standalone: true}"
                       #ctns="ngModel" [disabled]="product.disableinput" /></td>
                    <td><input type="text" class="form-control text-right" (keypress)="keynumber($event)"
                      [(ngModel)]="product.gw" [ngModelOptions]="{standalone: true}"
                       #gw="ngModel" [disabled]="product.disableinput" /></td>
                      
                    <td><input type="text" class="form-control text-right" (keypress)="keynumber($event)"
                       [(ngModel)]="product.nw" [ngModelOptions]="{standalone: true}" 
                       #nw="ngModel" [disabled]="product.disableinput" /></td>
                    
                    <td class="text-center"><input type="checkbox" name="vehicle1" [disabled]="add_disable(product)"
                        (change)="selecteditems($event,product)"></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-right">
                      <h5><b>CBM:</b></h5>
                    </td>
                    <td><input type="text" class="form-control text-right" (keypress)="keynumber($event)"
                      [(ngModel)]="cpm" #nw="ngModel" [ngModelOptions]="{standalone: true}"/>
                    </td>
                    <td class="text-right">
                      <h5><b>Totals</b></h5>
                    </td>
                    <td><input type="text" disabled class="form-control text-right" value="{{totqty}}" />
                    </td>
                    <td><input type="text" disabled class="form-control text-right" value="{{totctns}}" />
                    </td>
                    <td><input type="text" disabled class="form-control text-right" value="{{totgw}}" />
                    </td>
                    <td><input type="text" disabled class="form-control text-right" value="{{totnw}}" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="productdata.length==0">
              <div class="col-md-12">
                <div class="no_data">
                  <img class="no_data_cnter" src="../assets/emptyicon.png" />
                  <span class="nodata_txt">No Data is Available</span>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
        <div class="row" *ngIf="productdata.length>0">
          <div class="form-group d-flex justify-content-between" *ngIf="productdata.length>0">
            <label for="doc3"><b>Upload Packing</b></label>
            <input type="file" id="doc3" name="doc3" type="file" [(ngModel)]="pro.doc3" (change)="stockexcelUpload($event)"
            title = "Upload Invoice">
            <button button="submit" [disabled]="productDataForm.invalid || errmsg==true"
              class="btn btn-primary center-block bg_green">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
              <span>Packing Generated Sucessfully..!!</span>
              <br>

            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" (click)="updatemodal()" class="btn btn-success fr" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="alertpopup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert_heading2">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title text-center"></h4>
        <div class="right_mark2">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>cannot proceed more than PI quantity.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
              <span>Do you want to confirm Invoice</span>
              <br>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="confirmmodal()" class="btn btn-success fr" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn-danger fl" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- View modal -->
<div class="modal fade" id="viewConInvModal" tabindex="-1" data-backdrop="static" role="dialog">>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header v_h">
        <button type="button" class="close1" data-dismiss="modal">&times;</button>
        <h3 class="modal-title-col-md-12" align="center"><b>Do you want to confirm Invoice</b></h3>
        <h4 class="modal-title-col-md-12" align="center">Product Details</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Product Name</th>
                <th>Qty</th>
                <th>P/C</th>
                <th>No.of Cartons</th>
                <th>G.W</th>
                <th>N.W</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let view_d of productdetail;let i=index">
                <td>
                  <span class="table_pd_name">{{i + 1}}</span>
                </td>

                <td>
                  <div style="margin:0px;text-align:left">
                    <span class="f_wt_600 view_key">{{view_d.product_name}}</span>
                  </div>
                </td>
                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key">{{view_d.qty}}</span>
                  </div>
                </td>

                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key text-right">{{view_d.piecepercarton}}</span>
                  </div>
                </td>
                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key text-left">{{view_d.ctns}}</span>
                  </div>
                </td>
                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key text-left">{{view_d.gw}}</span>
                  </div>
                </td>
                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key text-left">{{view_d.nw}}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-center">
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key">Totals</span>
                  </div>
                </td>
                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key text-right">{{totqty}}</span>
                  </div>
                </td>
                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key text-right"></span>
                  </div>
                </td>
                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key text-right">{{totctns}}</span>
                  </div>
                </td>
                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key text-right">{{totgw}}</span>
                  </div>
                </td>
                <td>
                  <div class="row_mar_0">
                    <span class="f_wt_600 view_key text-right">{{totnw}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-danger fl" data-dismiss="modal">No</button>
            <button type="button" (click)="confirmmodal()" class="btn btn-success fr" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>