table thead th {
    background-color: #0fa497;
    color: #fff;
    padding: 8px !important;
}
.alert_heading {
    color: white;
    background: #0fa497;
    margin-top: 0;
    padding: 15px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.astrick{
    color: red;
    font-weight: bold;
}