.alert_heading {
    background: #0da550;
    margin-top: 0;
    padding: 21px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.txt_right {
    text-align: center;
}



.branchtable{
    padding:10px 25px;
    box-shadow: 2px 2px 8px #dcdcdc;
}
.exceeded {
    background-color: rgb(207, 61, 61) !important;
    color: #e2d4d4 !important;
  }

  .custom_loder{
    z-index: 99999999999 !important;
     position: fixed !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important;  }