<div class="container">
  
  <div class="row pad_t_5per">
    <ngx-spinner class="custom_loder">
      <img src="../../../assets/Loader.gif">
    </ngx-spinner>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
        <h3 class="shopee_name">
          <span> {{loginUserData.content}}</span>
        </h3>
        <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
      </div>
    </div>
    <p class="bread-crumb1">
      <span>
        <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important; ">Dashboard</a>
      </span>&nbsp;>&nbsp;
      <!-- <span>Supplier Pending Payments</span> -->
      <span>PendingPIRgister</span>
    </p>
    <div class="reg_form mar_b_30 pad_15">
      <div class="col-md-12 form-group">
        <div class="pull-left">
          <h4>Pending PI Register</h4>
        </div>
        <!-- <div class="pull-right">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Product"
          class="search_style">
        <button type="submit" class="input_btn">Search</button>
          </div> -->
      </div>
      <div class="row mar_b_15">

        <div class="col-md-4">
          <label for="SupplierDtls">Select Supplier<sup>*</sup></label>
          <!-- <select class="form-control" id="Supplierid" [(ngModel)]="SupplierDtls" required name="Supplierid"
            #Supplierid="ngModel" (change)="getPendingPayments()">
            <option [ngValue]="undefined" selected>Select Supplier</option>
            <option class='option' *ngFor="let d of suppliers" [ngValue]="d">{{d.business_name}}</option>
          </select> -->
          <input autocomplete="off" type="text" class='select-option form-control' required name="supplier"
                [(ngModel)]="SupplierDtls" #supplier="ngModel" id="supplier1"
                (change)="getPendingPayments()"  list="suppliers"
                placeholder="Select Supplier">
              <datalist id="suppliers">
                <option [ngValue]="undefined" disabled selected>Select Supplier</option>
                <option class='option' *ngFor="let s of suppliers" [ngValue]="s">{{s.business_name}}</option>
              </datalist>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="fr" *ngIf="PendingPayments.length>0">
            <input type="text" [(ngModel)]="searchText" placeholder="Search Product" class="search_style">
            <button type="submit" class="input_btn">Search</button>
          </div>
        </div>
      </div>

      <div *ngIf="PendingPayments">
        <div id="printsuppndng">
          <div class="row busname text-center">
          <h3 class="shopee_name text-center">
            {{this.loginUserData.shipment_point}} PendingPIRgister
          </h3>
          </div>
        <div class="row printwrap" *ngIf="(PendingPayments | filter :searchText) as PendingPayments">
          <div class="col-sm-12 list" *ngIf="PendingPayments.length>0">
            <div class="table-responsive">
              <table class="table table-striped" >
                <thead>
                  <tr>
                    <th>SlNO</th>
                    <th>Business Name</th>
                    <th>Product Name</th>
                    <th class="text-right">Qty</th>
                    <th></th>
                    <th class="text-right">Price</th>
                    <th class="text-center">CType</th>
                    <th class="text-right">Amount</th>
                    <th class="text-center">PIDate</th>
                    <th class="text-center">PINo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let data of PendingPayments | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                    <td>{{10*(p-1)+(i+1)}}</td>
                    <td>{{data.business_name}}</td>
                    <td>{{data.ProductName}}</td>
                    <td class="text-right">{{data.Poqty}}</td>
                    <td></td>
                    <td class="text-right">{{data.price}}</td>
                    <td class="text-center">{{data.CType}}</td>
                    <td class="text-right">{{data.amount}}</td>
                    <td class="text-center">{{data.pidate | date:'dd-MM-yyyy'}}</td>
                    <td class="text-center">{{data.Pi_no}}</td>
                  </tr>
                </tbody>

              </table>
            </div>

            <div *ngIf="PendingPayments.length > 0" class="col-md-12">
              <div class="pull-right">
               <button class="btn btn-primary " type="button" id="printPageButton" (click)="printreport()">Print</button>
             </div>
             <pagination-controls (pageChange)="p = $event" class="page"></pagination-controls>
           </div>

          </div>
          <div *ngIf="PendingPayments.length==0">
            <div class="col-md-12">
              <div class="no_data">
                <img class="no_data_cnter" src="../assets/emptyicon.png" />
                <span class="nodata_txt">No Data is Available</span>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      </div>
      <ngx-spinner class="loader_spinner"></ngx-spinner>
    </div>
  </div>
</div>