<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif" />
</ngx-spinner>
<div style="margin-top: 3%">
  <!-- <app-catg-menu class="hidden-xs"></app-catg-menu> -->
</div>
<div class="container-fluid" style="padding: 30px 25px">
  <!-- <div *ngIf="resources2.length>0"> -->
  <div class="row">
    <div class="col-md-2 cat_filter" *ngIf="showslider && sidemenu">
      <div class="pad_t_b_5 cat_filter" style="z-index: 0">
        <h4>Price</h4>
        <!-- <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" (valueChange)="price_min(minValue,maxValue)" [options]="Options" ></ng5-slider> -->
        <ng5-slider
          [(value)]="minValue"
          [(highValue)]="maxValue"
          (Change)="price_min(minValue, maxValue)"
          [options]="Options"
        ></ng5-slider>
        <div
          class="col-md-6"
          style="padding-left: 4px !important; padding-right: 4px !important"
        >
          <p>
            Min value:
            <input
              type="number"
              class="form-control"
              (keypress)="price_min(minValue, maxValue)"
              (keyup)="price_min(minValue, maxValue)"
              [(ngModel)]="minValue"
              min=""
              oninput="validity.valid||(value='');"
              style="padding: 4px !important"
            />
          </p>
        </div>
        <div
          class="col-md-6"
          style="padding-left: 4px !important; padding-right: 4px !important"
        >
          <p>
            Max value:
            <input
              type="number"
              class="form-control"
              (keypress)="price_min(minValue, maxValue)"
              (keyup)="price_min(minValue, maxValue)"
              [(ngModel)]="maxValue"
              min=""
              oninput="validity.valid||(value='');"
              style="padding: 4px !important"
            />
          </p>
        </div>
      </div>
      <div></div>
      <div class="pad_t_b_5">
        <div>
          <h4>Brand</h4>
          <ul class="pad_t_b_5 cat_filter">
            <li style="padding-bottom: 5px" *ngFor="let p of brands">
              <!-- (click)="filterBrand(p)" -->
              <span>
                <input
                  type="checkbox"
                  style="width: 20px; height: 20px; margin-top: 0px"
                  (change)="disc(p.brand)"
                  [checked]="selected_disc === p.brand"
                />
                <!-- [checked]="selected_disc === p.brand" -->
                <!-- (change)="disc(p.brand)" [checked]="selected_disc === p.brand" -->
              </span>
              <span style="vertical-align: super; padding-left: 12px">
                {{ p.brand }}
              </span>
            </li>
          </ul>

          <h4>Sort By</h4>
          <ul class="pad_t_b_5 cat_filter">
            <li style="padding-bottom: 5px">
              <span (click)="Ascend('acc')" style="cursor: pointer"
                >Price Low to High</span
              >
            </li>
            <li style="padding-bottom: 5px">
              <span
                (click)="Ascend('dec')"
                class="pricehtolow"
                style="cursor: pointer"
                >Price High to Low</span
              >
            </li>
          </ul>

          <h4>Discount</h4>
          <ul class="pad_t_b_5 cat_filter" *ngIf="percenages">
            <li style="padding-bottom: 5px">
              <span>
                <input
                  type="checkbox"
                  (change)="clearfilters(0)"
                  [checked]="selected_disc === 0"
                  style="width: 20px; height: 20px; margin-top: 0px"
                />
              </span>
              <span style="vertical-align: super; padding-left: 12px"
                >Clear Filters</span
              >
            </li>
            <li style="padding-bottom: 5px">
              <span>
                <input
                  type="checkbox"
                  (change)="disc(5)"
                  [checked]="selected_disc === 5"
                  style="width: 20px; height: 20px; margin-top: 0px"
                />
              </span>
              <span style="vertical-align: super; padding-left: 12px"
                >5% or More (<span *ngIf="percenages['prdcount(5%)']">{{
                  percenages["prdcount(5%)"]
                }}</span>
                <span *ngIf="!percenages['prdcount(5%)']">0</span>)
              </span>
            </li>
            <li style="padding-bottom: 5px">
              <span>
                <input
                  type="checkbox"
                  (change)="disc(10)"
                  [checked]="selected_disc === 10"
                  style="width: 20px; height: 20px; margin-top: 0px"
                />
              </span>
              <span style="vertical-align: super; padding-left: 12px"
                >10% or More (<span *ngIf="percenages['prdcount(10%)']">{{
                  percenages["prdcount(10%)"]
                }}</span>
                <span *ngIf="!percenages['prdcount(10%)']">0</span>)
              </span>
            </li>
            <li style="padding-bottom: 5px">
              <span>
                <input
                  type="checkbox"
                  (change)="disc(20)"
                  [checked]="selected_disc === 20"
                  style="width: 20px; height: 20px; margin-top: 0px"
                />
              </span>
              <span style="vertical-align: super; padding-left: 12px"
                >20% or More (<span *ngIf="percenages['prdcount(20%)']">{{
                  percenages["prdcount(20%)"]
                }}</span>
                <span *ngIf="!percenages['prdcount(20%)']">0</span>)
              </span>
            </li>
            <li style="padding-bottom: 5px">
              <span>
                <input
                  type="checkbox"
                  (change)="disc(30)"
                  [checked]="selected_disc === 30"
                  style="width: 20px; height: 20px; margin-top: 0px"
                />
              </span>
              <span style="vertical-align: super; padding-left: 12px"
                >30% or More (<span *ngIf="percenages['prdcount(30%)']">{{
                  percenages["prdcount(30%)"]
                }}</span>
                <span *ngIf="!percenages['prdcount(30%)']">0</span>)
              </span>
              <!-- <mat-checkbox [checked]="selected_disc === 30">30% or More</mat-checkbox> -->
            </li>
            <li style="padding-bottom: 5px">
              <span>
                <input
                  type="checkbox"
                  (change)="disc(40)"
                  [checked]="selected_disc === 40"
                  style="width: 20px; height: 20px; margin-top: 0px"
                />
              </span>
              <span style="vertical-align: super; padding-left: 12px"
                >40% or More (<span *ngIf="percenages['prdcount(40%)']">{{
                  percenages["prdcount(40%)"]
                }}</span>
                <span *ngIf="!percenages['prdcount(40%)']">0</span>)
              </span>
            </li>
            <li style="padding-bottom: 5px">
              <span>
                <input
                  type="checkbox"
                  (change)="disc(50)"
                  [checked]="selected_disc === 50"
                  style="width: 20px; height: 20px; margin-top: 0px"
                />
              </span>
              <span style="vertical-align: super; padding-left: 12px"
                >50% or More (<span *ngIf="percenages['prdcount(50%)']">{{
                  percenages["prdcount(50%)"]
                }}</span>
                <span *ngIf="!percenages['prdcount(50%)']">0</span>)
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-10" [ngClass]="{ 'col-md-12': sidemenu == false }">
      <div class="row justify-content-start flex-wrap">
        <div
          *ngFor="
            let p of resources2data1
              | paginate : { itemsPerPage: 32, currentPage: Page };
            let i = index
          "
          class="mb-4"
          style="width: 20%;"
        >
          <div
            class="card h-100 shadow-sm border-0 product-card position-relative"
            style="background-color: #fdfbfb"
          >
            <!-- Wishlist Icon -->
            <div *ngIf="log_as_cust" class="position-absolute top-0 end-0 p-2">
              <i
                *ngIf="p.wishlist == '1'"
                class="fa fa-heart text-danger cursor_pointer"
                (click)="wish_list(p, '0')"
              ></i>
              <i
                *ngIf="p.wishlist != '1'"
                class="fa fa-heart text-secondary cursor_pointer"
                (click)="wish_list(p, '1')"
              ></i>
            </div>
      
            <!-- Image Section -->
            <div class="text-center px-3 pt-3" (click)="sub_cat(p)">
              <img
                [src]="p.low_image_1"
                (error)="
                  p.low_image_1 =
                    'https://gstbucket1.s3.ap-south-1.amazonaws.com/Powertexmodel/noimage.png'
                "
                class="card-img-top img-fluid"
                style="height: 120px; object-fit: contain"
                alt="{{ p.brand }}"
              />
            </div>
      
            <!-- Card Body -->
            <div class="card-body ps-4 py-3">
              <h6 class="text-muted mb-1">{{ p.brand }}</h6>
              <p class="fw-semibold text-truncate mb-2" title="{{ p.modelno }}">
                {{ p.modelno }}
              </p>
              <div *ngIf="sidemenu">
                <p class="mb-1">
                  <span class="fw-bold text-dark">&#8377;{{ p.net_price }}</span>
                  <span class="text-muted text-decoration-line-through ms-2"
                    >&#8377;{{ p.mrp }}</span
                  >
                </p>
                <p class="text-success mb-1">{{ p.discount }}% Off</p>
                <p class="text-muted small mb-0">(Excluding GST)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div style="text-align: center; padding: 20px">
        <pagination-controls
          (pageChange)="onPageChange($event)"
        ></pagination-controls>
        <!-- <pagination-controls [routerLink]="['app-category-list']" [queryParams]="{ page: Page }" (pageChange)="onPageChange($event)">pagenumber</pagination-controls> -->
        <!-- <pagination-controls (pageChange)= "page = $event"></pagination-controls> -->
        <!--  <a [routerLink]="['app-category-list']" [queryParams]="{ page: Page }">{{Page}}</a> -->
      </div>
    </div>
  </div>

  <!-- </div> -->
</div>
<ngx-spinner class="loader_spinner"></ngx-spinner>

<!-- Packing Confirm Modal -->
<div
  class="modal fade"
  id="SpecificationModal"
  tabindex="-1"
  data-backdrop="static"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding: 0">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </h4>
            <!-- <div class="right_mark">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div> -->
            <div class="pad_15 text-center content_msg" style="padding: 15% 0">
              <!-- <span>Do you want to confirm Packing Generation</span>
                <br> -->
              <table class="table" *ngIf="specftndetails">
                <tbody *ngFor="let pd of specftndetails">
                  <tr *ngIf="specftndetails.length != 1">
                    <td>
                      {{ pd.attribute }}&nbsp;:&nbsp;{{ pd.actual_value }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" (click)="generatepacking()" class="btn btn-success fr"
            data-dismiss="modal">Confirm</button> -->
        <button type="button" class="btn btn-danger fl" data-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>
