<div class="container pad_t_5per pad_b_5per">
  <div class="row g-4">
    
    <!-- Location & Search -->
    <div class="col-md-4">
      <div class="p-4 bg-white rounded-3 shadow-sm h-100">

        <a (click)="currentLocation()" class="locationn d-inline-block mb-3 text-primary fw-semibold text-decoration-none">
          Click to get nearby stores for current location
          <span class="ps-2">
            <i class="fa fa-map-marker" style="font-size:24px;" aria-hidden="true"></i>
          </span>
        </a>

        <!-- Search Input -->
        <input type="text"
               class="form-control mb-3"
               #name="ngModel"
               id="name"
               name="name"
               [(ngModel)]="searchPalce"
               placeholder="Search here..."
               (ngModelChange)="getPlace(searchPalce)">

        <!-- Autocomplete Results -->
        <div *ngIf="autocompleteItems.length>0" class="allstores bg-light rounded p-2 border">
          <div *ngFor="let item of autocompleteItems"
               (click)="getSelectPlaceLatLng(item)"
               class="diffStore px-3 py-2 mb-1 bg-white rounded shadow-sm"
               style="cursor: pointer;">
            {{item.description}}
          </div>
        </div>

      </div>
    </div>

    <!-- Map -->
    <div class="col-md-8">
      <div class="rounded-3 shadow-sm overflow-hidden" style="height: 600px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7616.529166044314!2d78.458738!3d17.350997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x663a94b1d0d10278!2sPowertex+Tools!5e0!3m2!1sen!2sin!4v1543299349023"
                width="100%"
                height="100%"
                frameborder="0"
                style="border:0;"
                allowfullscreen>
        </iframe>
      </div>
    </div>

  </div>

  <!-- Spinner -->
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>



 <!-- <div id="map"></div>
      <div id="right-panel">
      <div>
      <b>Start:</b>
      <select id="start">
        <option value="Halifax, NS">Halifax, NS</option>
        <option value="Boston, MA">Boston, MA</option>
        <option value="New York, NY">New York, NY</option>
        <option value="Miami, FL">Miami, FL</option>
      </select>
      <br>
      <b>Waypoints:</b> <br>
      <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br>
      <select multiple id="waypoints">
        <option value="montreal, quebec">Montreal, QBC</option>
        <option value="toronto, ont">Toronto, ONT</option>
        <option value="chicago, il">Chicago</option>
        <option value="winnipeg, mb">Winnipeg</option>
        <option value="fargo, nd">Fargo</option>
        <option value="calgary, ab">Calgary</option>
        <option value="spokane, wa">Spokane</option>
      </select>
      <br>
      <b>End:</b>
      <select id="end">
        <option value="Vancouver, BC">Vancouver, BC</option>
        <option value="Seattle, WA">Seattle, WA</option>
        <option value="San Francisco, CA">San Francisco, CA</option>
        <option value="Los Angeles, CA">Los Angeles, CA</option>
      </select>
      <br>
        <input type="submit" id="submit" (click)="submit()">
      </div>
      <div id="directions-panel"></div>
      </div> -->