.active_tab {
    background-color: #ffffff;
    color: #0fa497 !important;
    padding: 5px 28px 14px 28px;
    font-size: 17px !important;
    font-weight: 600;
}
.t_s_c{
    margin:0px;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}