<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
</ngx-spinner>
<div class="container pad_t_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span> {{loginUserData.content}}</span>
      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div>


  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important; ">Dashboard</a>
    </span>&nbsp;>&nbsp;

    <span>
      <a href="javascript.void(0)" routerLink="/Supplier-Ledger" style="color: #878787 !important; ">Supplier Ledger</a>
    </span>&nbsp;>&nbsp;
    <span>Print</span>		
  </p>

  <div class="reg_form mar_b_30 pad_15">

    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>Supplier Ledger</h4>
        </div>
        <div class="fr"  *ngIf="orders.length>0">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
            class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
       
    </div>
  
    <div>
      <div *ngIf="orders">

        <div id="printsuppndng">
          <div class="row busname text-center">
            <h3 class="shopee_name">
              <span> {{loginUserData.headoffice_address.companyname}}</span>
            </h3>
            <hr>

          <h3 class="shopee_name text-center">
            <!-- {{this.loginUserData.shipment_point}} On Port Summary (Clearing House Agent) -->


            <h4>Supplier Ledger</h4>
          </h3>
          </div>

        <div class="row" *ngIf="(orders | filter :searchText) as orders">
          <div class="col-sm-12 list" *ngIf="orders.length>0">
            <div class="table-responsive">
              <table class="table table-striped">

                <thead>
                  <tr>
                    <th>S.No</th>

                    <th class="text">Ref No</th>
                    <th class="text-right">Date</th>
                    <th class="text-right">Invoice Amount</th>
                    <th class="text-right">Paid Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of orders ; let i=index">
                    <td>{{10*(p-1)+(i+1)}}</td>
                    <td class="text">{{data.Number}}</td>
                    <td class="text-right">{{data.Date | date:'dd-MM-yyyy'}}</td>
                    <td class="text-right">{{data.InvAmount | number : '1.2-2'}}&nbsp;({{data.ctype}})</td>
                    <td class="text-right">{{data.PaidAmount | number : '1.2-2'}}&nbsp;({{data.ctype}})</td>

                  </tr>
                  <!-- USD -->
                   <tr *ngIf="totUsd.length>0">
                    <td class="text-right" colspan="3"><span><b>Total Invoice(USD) &nbsp; : &nbsp;</b>{{this.totInvUsd | number : '1.2-2'}}
                      </span></td>
                    <td class="text-right"><span><b>Total Paid(USD) &nbsp; : &nbsp;</b>{{this.totPaidUsd | number : '1.2-2'}}
                      &nbsp;</span></td>
                    <td class="text-right" colspan="5"><span><b>Balance (USD) &nbsp;:
                      &nbsp;</b>{{this.totInvUsd-this.totPaidUsd | number : '1.2-2'}}</span></td>  
                  </tr> 
                <!-- CNY -->
                   <tr *ngIf="totCny.length>0">
                    <td class="text-right" colspan="3"><span><b>Total Invoice(CNY) &nbsp; : &nbsp;</b>{{this.totInvCny | number : '1.2-2'}}
                      </span></td>
                    <td class="text-right"><span><b>Total Paid(CNY) &nbsp; : &nbsp;</b>{{this.totPaidCny | number : '1.2-2'}}
                      &nbsp;</span></td>
                    <td class="text-right" colspan="5"><span><b>Balance (CNY) &nbsp;:
                      &nbsp;</b>{{this.totInvCny-this.totPaidCny | number : '1.2-2'}}</span></td>  
                  </tr> 

                </tbody>
              </table>
            </div>

            <!-- <div class="col-md-12">
              <div class="pull-right">
                <button class="btn btn-primary " type="button" id="printPageButton"
                  (click)="printreport()">Print</button>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div> -->



            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
          </div>
          <div *ngIf="orders.length==0">
            <div class="col-md-12">
              <div class="no_data">
                <img class="no_data_cnter" src="../assets/emptyicon.png" />
                <span class="nodata_txt">No Data is Available</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row" style="text-align: center;padding-top: 15px;" id="printPageButton">
      <button type="submit" class="btn btn-success" (click)="printreport()" style="letter-spacing:1px;">Print
      </button>
      <button type="submit" style="margin:10px;" class="btn btn-success" routerLink="/Supplier-Ledger">Cancel</button>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>