/* For new Login page pop-up start here */

.width_40 {
    // width: 40%;
    //background: #0fb475;
    //background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom;
    background:url(/assets/logins_bg.png)  no-repeat left bottom;
    background-size:cover; 
   // min-height:500px;
    //border-radius: 0 10px 10px 0; 
    padding:0; 
    padding: 30px 0px 0 30px;
}

.width_60 {
    // width: 60%;
    //height: 500px;
    background: #f4f4f4;
}

.login_text {
    color: #fff;
    font-size: 29px;
    font-weight: 500;
}

.login_texttt {
    font-size: 18px;
    margin-top: 16px;
    line-height: 150%;
    color: #dcdcdc;
}

.login_type {
    text-align: center;
    color: #232f3e;
}

.login_close {
    position: absolute !important;
    z-index: 1 !important;
    font-size: 20px;
    color: #232f3e;
    filter: alpha(opacity=20);
    opacity: 1 !important;
}

button.login_close {
    // -webkit-appearance: none;
    padding: 7px;
    cursor: pointer;
    background: #fff;
    border: 0;
}

button.login_close.right_0 {
    right: 0;
}  

/*For new Login page pop-up end here*/

.signup [type='text'] {
border: 0;
background: #f4f4f4;
border-radius: 3px;
// height: 30px;
width: 100%;
color: #d9dde0;
//  border-bottom: 1px solid #0fb475;
}
.signup [type='password'] {
border: 0;
background: #f4f4f4;
border-radius: 3px;
//  height: 30px;
width: 100%;
color: #e1e5eb;
//  border-bottom: 1px solid #0fb475;
}
.signup [type=submit] {
border: 0;
border-radius: 3px;
height: 30px;
min-width: 80px;
color: white;
}
.signup p {
color: #d9dee4;
font-size: 12px;
font-weight: bold;
}
.login_acunt {
background-color: #d62329;
font-size: 12px;
color: #fff;
}
.forgot-password {
color: #0fb475;
font-size: 12px;
font-weight: 600;
cursor: pointer;
float: right;
padding-top: 10px;
}
#create-account-login {
min-width: 100%;
background: #d62329;
padding: 10px;
font-size: 11px;
line-height: 10px;
color: #fff;
}
.login_side_down_img{
width:75%;
// margin-top: 75%;
// margin-left: 5%;
margin-top: 48%;
margin-left: 5%;
margin-bottom: 1rem;
}


//alert styles start here
.alert_heading{
background: #0da550;
margin-top: 0;
padding: 50px;
text-align: center;
position: relative;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.alert_heading span{
color:#fff;
}
.right_mark{
background: #fff;
width: 100px;
height: 100px;
border: 1px solid #fff;
border-radius: 50%;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
margin: 0 40%;
top: 50px;
box-shadow: 3px 5px 10px #ddd;
}
.right_mark i{
font-size: 60px;
color: #0da550;
}
.content_msg span{
font-size: 18px;
font-weight: 550;
}
.close{
color: #fff !important;
 opacity: 0 !important;
margin-top: -40px !important;
margin-right: -30px !important;
}
.modal-content{
border-radius: 15px !important;
}
.eye {
  color: gray !important;
}
.alert_heading1 {
background: #0da550;
margin-top: 0;
padding: 20px;
text-align: center;
position: relative;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: white !important;
}
.scheme_data {
background:#4c7ecad1;
margin: 20px;
padding: 10px;
color: white;
.scheme_tar {
   
    background: white;
    padding: 1px;
    border-radius: 30px;
    h4 {
        color: #1b1b6be8 !important;
        margin: 5px !important;
    }
}
}
@media only screen and (min-width: 320px) and (max-width: 520px) { 
.width_40 {
    background: url(/assets/logins_bg.png) no-repeat left;
    background-size: cover;
    padding: 4px 0px 0 15px;
}
.regimgawrap{
  margin-bottom: 1rem;
}
.login_side_down_img{
    width: 33%;
    margin-top: 0;
    margin: auto;
}
#loginWrap{
    .mar_t_50{
        margin-top:0;
    }
    .mar_t_30{
        margin-top:1rem;
    }
}
#create-account-login{
    min-width: 70%;
    background: #f8f8fc;
    margin-bottom: 1rem;
}
.signup{
    margin-top: 1rem;
    // .username{
    //     margin-bottom: 1rem;
    // }
    .mar_t_20{
     margin-top: 0;
    }
    .mar_t_30{
        margin-top: 0;
       }
}
.forgot-password{
    padding-top: 0px;
    padding-right: 17px;
}
.sendotpbtn{
    margin-bottom: 1rem;
}
} 


@media (max-width: 768px) {
    .custom-card {
      flex-direction: column !important;
      width: 90% !important;
      height: auto !important;
    }
  
    .custom-card > div {
      width: 100% !important;
    }
  
    .custom-card img {
      width: 80% !important;
      height: auto !important;
      margin: 20px 0;
    }
  
    .position-absolute[aria-label="Close"] {
      top: 10px;
      right: 10px;
      font-size: 24px;
    }
  }
  