<div class="container pad_t_5per pad_b_5per">
  <ngx-spinner class="custom_loder">
    <img src="../../../assets/Loader.gif">
  </ngx-spinner>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div>

  <p class="bread-crumb1" id="totalOutstanding">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>DC Details Print</span>

  </p>


  <div class="reg_form mar_b_30 pad_15">




    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>DC Details List</h4>
        </div>
        <div class="fr">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
            class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="(poList | filter :searchText) as poList">
      <div class="col-sm-12 list" *ngIf="poList.length>0" style="border:0px;">
        <div class="table-responsive" style="border:0px;">
          <table class="table" style="border:0px;overflow:hidden">
            <thead style="background-color: #0fa497">
              <tr style="border:0px;">
                <th style="background-color: #0fa497">S.No</th>
                <th style="background-color: #0fa497">DC No.</th>
                <th style="background-color: #0fa497">DC Date</th>
                <th style="background-color: #0fa497;text-align:left">Business Name</th>
                <th style="background-color: #0fa497;text-align:left">City</th>
                <th style="background-color: #0fa497">Actions</th>
              </tr>
            </thead>
            <tbody style="border:0px;">
              <tr
                *ngFor="let item of poList |filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                <td>{{10*(p-1)+(i+1)}}</td>

                <td>{{item.print}}</td>
                <td>{{item.printdate | date:'dd-MM-yyyy' }}</td>
                <td style="text-align:left">{{item.business_name}}</td>
                <td style="text-align:left">{{item.city}}</td>
                <td>
                  <span class="f_size_15 padd_right_10 orange_clr cursor_pointer " style="text-align:center"
                    (click)="viewmore(item)">
                    <i class="fa fa-eye" aria-hidden="true" title="View More"></i>
                  </span>

                  <span class="f_size_15 blue_clr padd_right_10 cursor_pointer">
                    <i class="fa fa-print" aria-hidden="true" title="Print Details" (click)="printdatadetail(item)"></i>
                  </span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div *ngIf="poList.length < 0"> -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <!-- </div> -->
      </div>

      <div *ngIf="poList.length==0">
        <div class="col-md-12">
          <div class="no_data">
            <img class="no_data_cnter" src="../assets/emptyicon.png" />
            <span class="nodata_txt">No Data is Available</span>
          </div>
        </div>
      </div>

    </div>





  </div>
</div>


<div class="modal fade" id="openmodal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading1">PO Detail <div style="float:right;">
                <button type="button" class="close1" data-dismiss="modal">&times;</button>
              </div>
            </h4>
            <div class="pad_15 text-center content_msg" style="padding: 2% 0;">
              <div class="row" *ngIf="podata" class="row_mar_0">


                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table" style="border:0px;">
                      <thead>
                        <tr>
                          <th style="background-color: #0fa497">S.no</th>
                          <th style="background-color: #0fa497">Po No</th>
                          <th style="background-color: #0fa497">Po Date</th>
                          <th style="background-color: #0fa497;text-align:center">Name</th>
                          <th style="background-color: #0fa497;text-align:right">Qty</th>


                        </tr>
                      </thead>
                      <tbody style="border:0px;" *ngIf="podata">
                        <tr *ngFor="let data of podata; let i=index">
                          <td>{{i+1}}</td>
                          <td style="text-align:left">{{data.pono_ref}} </td>
                          <td style="text-align:left">{{data.po_date}} </td>

                          <td>{{data.subcategory}}&nbsp;&nbsp;{{data.modelno}}</td>
                          <td style="text-align:right">{{data.qty}}</td>
                        </tr>

                      </tbody>

                    </table>
                  </div>

                </div>


              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>