.txt_center{
    text-align: center;
}
.marg_l_r_10{
    margin: 0 10px;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }

    .bussinesInfo{
        background: #0fa497;
        margin-bottom: 0;
        padding: 10px;
        color: #fff !important;
    }    
    .branchtable{
        padding:10px 25px;
        box-shadow: 2px 2px 8px #dcdcdc;
    }
//alert styles start here
.alert_heading{
    background: #0da550;
    margin-top: 0;
    padding: 50px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.alert_heading span{
    color:#fff;
}
.right_mark{
    background: #fff;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40%;
    top: 50px;
    box-shadow: 3px 5px 10px #ddd;
}
.right_mark i{
    font-size: 60px;
    color: #0da550;
}
.content_msg span{
    font-size: 18px;
    font-weight: 550;
}
.close{
    color: #fff !important;
     opacity: 0 !important;
    margin-top: -40px !important;
    margin-right: -30px !important;
}
.modal-content{
    border-radius: 15px !important;
}
.gst1{
    width: 20%;
    display: inline-block;
}
.gst2 {
    width: 80%;
    display: inline-block;
}
.det_o_s {
box-shadow:3px 5px 10px 3px #ddd;
}
.table
{
    thead {
        th {
            text-align: center !important;
        }
    }
}
.place_ordr_btnn{
    float:right; 
    margin-right: 10px;
}
.uppercase{
    text-transform: uppercase;
  }
  table td.invisible-cell {
    color: rgba(0, 0, 0, 0);
    }
table td.invisible-cell:before {
  content: "********";
  color:black;
}
table tbody tr td {
    text-align: center;
}
.blue_clr{
    color:#108ed2;
}
.green_clr{
    color:#1c944f;
}
.red_clr{
    color:#cf1111;
}
.orange_clr{
    color:#f7a22d;
}
.theme_clr{
    color: #27aa9f;
}
.padd_right_10{
    padding-right: 10px;
}
.a_b_1{
    color: #fff !important;
    background-color: #293271 !important;
    border-color: #293271 !important;
}
.a_b_2 {
    float: right;
    font-weight: 600;
    margin-top: -8px;
}
.close1{
    color: #7b5f5f !important;
    opacity: 1;
    float: right;
    font-size: 30px;
    
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    margin-top: -7px;
}
.v_h{
    background: #0fa497;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    h4 {
        color: #ffffff !important;
    }
}
.view_headings{
    color: #8c8c8c;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
}
.view_key{
    color: #5e5c5c;
    font-weight: 600;
    font-size: 14px;
}
.a_b_1{
    margin-top: 0.3rem;
    font-size: 13px;
    padding: 4px 8px;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 1100px !important;
    }
}



    /* mobile styles start here */
    @media screen and (min-width: 320px) and (max-width: 480px){
        .view_headings{
            font-size: 12px;
        }
        .view_key{
            font-size: 11px;
        }
        .branchtable{
            padding:8px 8px !important;
        }

      }
      
      /* tablets styles start here */
      @media screen and (min-width: 481px) and (max-width: 767px){
        .view_headings{
            font-size: 12px;
        }
        .view_key{
            font-size: 11px;
        }
      }

      .custom_loder{
        z-index: 99999999999 !important;
         position: fixed !important;
          top: 42%;
            left: 50%;
            opacity: 9 !important;  }

