.view_header{
    background: #0fa497;
    padding: 10px 20px;
}
.view_header h4{
    color:#fff !important;
}
.view_body{
    padding: 20px 0px;
}
.view_headings{
    color: #8c8c8c;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}
.view_key{
    color: #5e5c5c;
    font-weight: 600;
    font-size: 15px;
}



    /* mobile styles start here */
    @media screen and (min-width: 320px) and (max-width: 480px){
        .view_headings{
            font-size: 12px;
        }
        .view_key{
            font-size: 11px;
        }
      }
      
      /* tablets styles start here */
      @media screen and (min-width: 481px) and (max-width: 767px){
        .view_headings{
            font-size: 12px;
        }
        .view_key{
            font-size: 11px;
        }
      }
      
      /* desktops styles start here */
      @media screen and (min-width: 768px) and (max-width: 991px){
      
      }
      
      /* desktops styles start here */
      @media screen and (min-width: 992px) and (max-width: 1023px){
       
      }
      
        /* lg-desktops styles start here */
      @media screen and (min-width: 1024px) and (max-width: 1200px){
       
      }