<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
</ngx-spinner>
<div class="container pad_t_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span> {{loginUserData.content}}</span>
      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div>
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important; ">Dashboard</a>
    </span>&nbsp;>&nbsp;

    <span>
      <a href="javascript.void(0)" routerLink="/Marketing Manager-DEALERS OUTSTANDING" style="color: #878787 !important; ">Dealer Details</a>
    </span>&nbsp;>&nbsp;
    <span>Print</span>
  </p>

  <div class="reg_form mar_b_30 pad_15">

    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>Dealer Details</h4>
        </div>
        <div class="fr" *ngIf="dealerslist.length>0">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
            class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>

    </div>

    <div>
      <div *ngIf="dealerslist">

        <div id="printsuppndng">
          <div class="row busname text-center">
            <h3 class="shopee_name">
              <span> {{loginUserData.company_address.companyname}}</span> 
            </h3>
            <hr>

            <h3 class="shopee_name text-center">
              <h4>Dealer Details</h4>
            </h3>
          </div>

          <div class="row" *ngIf="(dealerslist | filter :searchText) as dealerslist">
            <div class="col-sm-12 list" *ngIf="dealerslist.length>0">
              <div class="table-responsive">


                <table class="table table-striped" >
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Dealer Name</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>City</th>
                      <!-- <th>State</th> -->
                      <th style="text-align:center">Total Outstanding</th>
                      <th>Due Amount</th>

                      <th>Credit Limit</th>
                      <th>Credit Period</th>
                      <th>Discount</th>
                      <!-- <th>Due Amount</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let del of dealerslist ; let i=index;" [ngClass]="{'exceeded':del.exceeded==true || del.due_amount>0}" > -->
                      <tr *ngFor="let del of dealerslist ; let i=index;" [ngClass]="{'ModifiedAmount':del.credit_limit < del.outstanding_amount}">
                      <!-- <td>{{10*(Page-1)+(i+1)}}</td> -->
                      <td>{{10*(p-1)+(i+1)}}</td>
                      <td>{{del.business_name | titlecase}}</td>
                      <td>{{del.email | lowercase }}</td>
                      <td>{{del.mobile}}</td>
                      <td>{{del.city | titlecase}}</td>
                      <!-- <td>{{data.balance_amount | number : '1.2-2'}}&nbsp;({{data.currency}})</td> -->
                      <!-- <td>{{del.state| titlecase}}</td> -->
                      <!-- <td style="text-align:center">{{del.outstanding_amount | currency:'&nbsp;'}}</td> -->
                      <td style="text-align:center">{{(del.outstanding_amount).toLocaleString('en-IN')}}</td>
                      <td style="text-align:right">{{(del.due[0]?.due).toLocaleString('en-IN')}}</td>
                      <td style="text-align:right">{{(del.credit_limit).toLocaleString('en-IN')}}</td>
                      <td style="text-align:center">{{del.credit_period}}</td>
                      <td style="text-align:center">{{del.discount}}%</td>
             
                      <!-- <td style="text-align:right">{{del.due_amount}}</td> -->

                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div *ngIf="dealerslist.length==0">
              <div class="col-md-12">
                <div class="no_data">
                  <img class="no_data_cnter" src="../assets/emptyicon.png" />
                  <span class="nodata_txt">No Data is Available</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center;padding-top: 15px;" id="printPageButton">
      <button type="submit" class="btn btn-success" (click)="printreport()" style="letter-spacing:1px;">Print
      </button>
      <button type="submit" style="margin:10px;" class="btn btn-success" routerLink="/Marketing Manager-DEALERS OUTSTANDING">Cancel</button>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>