.prod_head {
    font-size: 15px !important;
}
.all_images_cat{
    width: 100%;
    height: auto;
}
.prod_head{
    height: 15px;
    font-size: 13px !important;
    letter-spacing: 1px;
    cursor: pointer;
    color: #525252 !important;
}
.prod_head:hover{
    color: #0fa497 !important;
}
img{
    cursor: pointer;
  }
  .custom_loder{
    z-index: 99999999999 !important;
      position: fixed !important;
      top: 50%;
      left: 50%;
      opacity: 9 !important;  }

//kd//      

    .img-thumbnail img:last-child {
        display: none;  
      }
      .img-thumbnail:hover img:last-child {
        display: inline-block;  
      }
      .img-thumbnail:hover img:first-child {
        display: none;  
      }


      .symbol {
        width: 40%;
        // padding: 25px 0px;
        padding: 20px 0px;
        background-color: #0FA497;
       
    }
    .symbol img {
        width:100%;
        height: auto;
        padding: 20px;
    }
    .value {
        width: 60%;
        padding-top: 21px;
        padding:20px ;
        text-align: center;
    }
    .value h1 {
        font-weight: 300;
    }
    .value p{
        // color: darkgray;
        color: #0FA497;
        font-weight: bold;
    }
    .value h1{
        margin: 0;
        padding: 0;
        color: #c6cad6;
    }
    .card{
        display: block;
        margin-bottom: 20px;
        border: none;
        width: 100%;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        cursor: pointer;
    }
    .card:hover{
        .symbol {
            background-color: #293271;
        }
        .value p{
            color: #293271;
        }
    }
    @media only screen and (max-width: 768px) {
        .card{
            max-height: 180px !important;
            align-content: center;
        }
        .symbol {
            text-align: center;
            img{
                width:100px;
                padding: 0px;
            }
        }
      }
      