<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
  </ngx-spinner>
<div class="container pad_t_5per pad_b_5per">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
          <h3 class="shopee_name">
            <span>{{loginUserData.content}}</span>
           
          </h3>
          <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
        </div>
      </div>
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span >Stock Acceptance</span>
  </p>
  
  <div class="reg_form mar_b_30 pad_15">

    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>PO Orders</h4>
        </div>
        <div class="fr">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..." class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="(poList | filter :searchText) as poList">
      <div class="col-sm-12 list" *ngIf="poList.length>0">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Business Name</th>
              <th>Invoice No</th>
              <th>Invoice Date</th>
              <th>No.of Items</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of poList | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
              <td>{{10*(p-1)+(i+1)}}</td>
              <td>{{item.business_name}}</td>
              <td>{{item.inv_no}}</td>
              <td>{{item.PODate | date:'dd-MM-yyyy' }}</td>
             
              <td>{{item.NoOfItems}}</td>
              <td>
                  <span class="f_size_15 padd_right_10 orange_clr cursor_pointer" (click)="view(item)">
                      <i class="fa fa-eye" aria-hidden="true" title="View"></i>
                    </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>

      <div *ngIf="poList.length==0">
        <div class="col-md-12">
          <div class="no_data">
            <img class="no_data_cnter" src="../assets/emptyicon.png" />
            <span class="nodata_txt">No Data is Available</span>
          </div>
        </div>
      </div>

    </div>


  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>


    <!-- modal pop up start here -->
<div class="modal fade " id="makepodetailModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="padding:0;">
          <div class="row">
            <div class="col-md-12">
                <h4 class="alert_heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </h4>
              <div class=" text-center content_msg" style="padding-top:0%">
                <br>
                <div class="reg_form marg_b_15 pad_l_20 pad_r_20">
                  <p class="pad_t_10" style="font-size: 16px;text-decoration: underline;text-align:center">
                    <b>Product List</b>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="txt_centr">S.No</th>
                          <th class="txt_left">Product Name</th>
                          <th class="txt_left">Model No</th>
                          <th class="txt_centr">Qty</th>
                          <th class="txt_centr">Cartons</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let p of poList1; let i=index;">
                          <td class="txt_centr">{{i+1}}</td>
                          <td class="txt_left"> {{p.subcategory}}</td>
                          <td class="txt_left">{{p.modelno}}</td>
                          <td class="txt_centr">{{p.in_stock}}</td>
                          <td class="txt_centr">{{p.ctns}}</td>
                        </tr>
                        
                      </tbody>
                    </table>
                    <!-- <div class="col-sm-12">
                      <div >
                      <button type="submit" class="btn btn-info" (click)="stockt(p)">Submit</button>
                      </div>
                      <div class="pull-right">
                      <button type="submit" class="btn btn-danger fl brdr_radius_50" data-dismiss="modal">Close</button>
                      </div>
                    </div> -->
                  </div>
                  <!-- <pagination-controls (pageChange)="Page = $event"></pagination-controls> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="stockt(p)" class="btn btn-success brdr_radius_50   fr">Submit
          </button>
          <button type="button" class="btn btn-danger fl brdr_radius_50 " data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  