.catg_img {
    width: 100%;
    padding: 20px;
}

// .catg_img:hover {
//     padding: 15px;
//     transition: all 0.2s ease-in-out;
// }
// .prod_head{
//     background: #0fa497;
//     color: white !important;
//     padding: 8px 0px;
//     margin: 0px;
//     font-size: 13px !important;
//     font-weight: normal !important;
//     //font-family: monospace;
// }
.c_r {
    padding: 0px 0px;
    // box-shadow: 1px 1px 1px 1px lightgrey;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* mobile styles start here */
@media screen and (min-width: 320px) and (max-width: 520px){
    .catg_img {
        width: 250px;
    }
}

.custom_loder{
    z-index: 99999999999 !important;
      position: fixed !important;
      top: 50%;
      left: 50%;
      opacity: 9 !important; 
    
    
    }

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border: none !important;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    width: 100% !important;
  }     
  .prod_head {
      background: none !important;
      color: black !important; 
      padding: 8px 0px !important;
      margin: 0px !important;
      font-size: 14px !important;
      font-weight: 600 !important;
      color: #5c5b5b !important;
      /* font-size: 13px !important; */
      /* font-weight: normal !important; */
  }
  .img-thumbnail:hover {
      // border: 1px solid #ddd !important; 
      box-shadow: 1px 1px 1px 1px #8080804a;
      // .prod_head {
      //     background: #0fa497 !important;
      //     color: white !important;
      // }
    } 

      