.active_tab {
    background-color: #ffffff;
    color: #0fa497 !important;
    padding: 5px 28px 14px 28px;
    font-size: 17px !important;
    font-weight: 600;
  
}
.custom_loder
{
    z-index: 99999999999 !important;
     position: absolute !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important;
  }
  .fr{
    margin: 20px 0px 10px 0px;
  }
  @media (min-width: 992px){
  
    .modal-lg{
        width: 1100px !important;
    }
}
// ------------------------------------
table{
    font-size:12px;
}
.text-white{
    color: #ffffff;
}
table{
    font-size:12px;
}
.text-white{
    color: #ffffff;
}

.btn-danger {
    background-color: #B73333;
  }
  .light-green{
    background: #8FBC8B;
}
  .img-preview {
    max-width: 100%;
  }
  .astrick{
    color: red;
    font-weight: 900;
  }
  @media (min-width: 1200px){
    .container {
        width: 1420px;
    }
  }
  .custom_loder{
    z-index: 99999999999 !important;
     position: fixed !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important; 
       }
.btn2 {
color: #fff !important;
background-color: #0fa497 !important;
border-color: #0fa497 !important;
}       

// Cha Invoice
.nopadding {
padding: 0 !important;
margin: 0 !important;
}
p{
 margin:0;
 line-height: 1.5;
}
.hr_line{
border-bottom: 1px solid #37475a;
// border-top: 1px solid #37475a;
}
.w-33{
width: 33.666667%;
}
.shiptitle{
padding-bottom: 6px;text-align: center;font-weight: 600;font-size: 25px;margin-top: 0px;padding-top: 8px;margin-bottom: 5px;
}
.v_h{
padding: 0px !important;
background: #0fa497;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
h4 {
    color: #ffffff !important;
    margin: 10px !important;
}
}
.close1{
color: #7b5f5f !important;
opacity: 1;
float: right;
font-size: 30px;
line-height: 1;
text-shadow: 0 1px 0 #fff;
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
margin-top: 3px;
margin-right: 1rem;
}
.ht{
  height: 23px !important;
}
.labl{
  padding: 25px;
}
