.row1{
    margin-left: 15px;
}
.custom_loder{
    z-index: 99999999999 !important;
     position: fixed !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important;  }

        .busname {
            display: none;
          }
          b{
            font-weight: bold !important ;
          }