<div class="container pad_t_5per">
    <p class="bread-crumb1">
        <span><a href="javascript.void(0)" routerLink="/dashboard">Dashboard</a>
        </span>&nbsp;>&nbsp;
        <!-- <span><a href="javascript.void(0)" routerLink="/grn">GRN</a> -->
        <span><a href="javascript.void(0)" routerLink="/Dealer-GRN">GRN</a>

        </span>&nbsp;>&nbsp;
        <span>GRN Print</span>
    </p>
    <div class="total_invoice_page" style="margin-bottom: 10px;" id="printSectionId">
        <h3 style="padding-bottom: 10px;text-align: center;font-weight: 600;font-size: 20px;margin-top: 0px;">Goods
            Received Notes</h3>
        <div class="invoce_address">

            <div class="col-md-12 hr_line_botm marg_t_b_15">
                <div class="fl">
                    <b>GRN No:</b>{{grnPrintData.grn_no}}
                </div>
                <div class="fr">
                    <b>GRN Date:</b> {{grnPrintData.data.json_hdr.grn_date | date:'dd-MM-yyyy'}}
                </div>
               
            </div>

            <div class="hr_line_botm">
                <div class="row">
                    <div class="col-md-6 company_address"
                        style="padding: 10px 0px 30px 20px;line-height: 1.9;float:left;">

                        <div class="txt_l">
                            <h4>To</h4>
                        </div>
                        <div class="txt_l fnt_size_12" *ngIf="billingAddress.business_name">
                            <span>{{billingAddress.business_name}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>{{billingAddress.address1}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>{{billingAddress.address2}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>{{billingAddress.city}}, {{billingAddress.state}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>Email ID </span>
                            <span> : {{billingAddress.email}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>Mobile &nbsp;</span>
                            <span> : {{billingAddress.mobile}}.</span>
                        </div>
                    </div>

                    <!-- <div class="col-md-6" style="padding: 10px 0px 30px 20px;line-height: 1.9;float:right;" class="company_address">

                        <div class="txt_l">
                            <h4>Shipping Address</h4>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>2-56*-585426,</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>{{shipingAddress.address2}},</span>
                        </div>
                       <div class="txt_l fnt_size_12">
                            <span>{{shipingAddress.city}}, {{shipingAddress.state}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>Email ID </span>
                            <span> : {{shipingAddress.email}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>Mobile &nbsp;</span>
                            <span> : {{shipingAddress.mobile}}.</span>
                        </div>
                    </div> -->

                    <div class="col-md-6 company_address" *ngIf="loginUserData.company_address; let item"
                        style="padding: 10px 0px 30px 20px;line-height: 1.9;float:right;">

                        <div class="txt_l">
                            <h4>From</h4>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>{{item.companyname}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>{{item.address1}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>{{item.address2}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                            <span>{{item.city}},{{item.state}},</span>
                        </div>
                        <div class="txt_l fnt_size_12">
                                <span>Email ID </span>
                            <span>: {{item.email}},</span>
                          
                        </div>
                        <div class="txt_l fnt_size_12">
                                <span>Mobile </span>
                            <span>: {{item.mobile}}.</span>
                        </div>

                    </div>


                </div>
            </div>

            <div>
                <div>
                    <div class="table-responsive" style="margin-top: 15px;">
                        <table class="table table-bordered table-striped pending_order">
                            <thead>
                                <tr>
                                    <th class="txt_centr" style="font-size: 11px;">S.No</th>
                                    <th class="txt_left" style="font-size: 11px;">Product Name</th>
                                    <!-- <th class="txt_left" style="font-size: 11px;">Model Number</th> -->
                                    <th class="txt_left" style="font-size: 11px;">Sku No.</th>
                                    <th class="txt_right" style="font-size: 11px;">MRP(&#8377;)</th>
                                    <th class="txt_right" style="font-size: 11px;">Disc(%)</th>
                                    <th class="txt_right" style="font-size: 11px;">Qty</th>
                                    <th class="txt_right" style="font-size: 11px;">Rate(&#8377;)</th>
                                    <!-- <th class="txt_right" style="font-size: 11px;">Spl_disc(%)</th> -->
                                    <th class="txt_right" style="font-size: 11px;">Total(&#8377;)</th>
                                    <!-- <th *ngIf="loginUserData.role !== 'Purchase Manager'"class="txt_right" style="font-size: 11px;">GST</th>
                                    <th  *ngIf="loginUserData.role !== 'Purchase Manager'" class="txt_right" style="font-size: 11px;">Net Value(&#8377;)</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of grnPrintData.data.json_dtl;let i=index;">
                                    <td class="txt_centr" style="font-size: 11px;">{{i+1}}</td>
                                    <td class="txt_left" style="font-size: 11px;">{{item.subcategory}}&nbsp;{{item.modelno}}</td>
                                    <!-- <td class="txt_left" style="font-size: 11px;">{{item.modelno}}</td> -->
                                    <td class="txt_left" style="font-size: 11px;">{{item.sku_no}}</td>
                                    <td class="txt_right" style="font-size: 11px;">{{item.mrp | currency : '&nbsp;'}}
                                    </td>
                                    <td class="txt_right" style="font-size: 11px;">{{item.discount_eff}}</td>
                                    <td class="txt_right" style="font-size: 11px;">{{grnqty[item.receiving_qty]}}</td>
                                    <td class="txt_right" style="font-size: 11px;">
                                        {{item.net_price | currency : '&nbsp;'}}</td>
                                    <!-- <td class="txt_right" style="font-size: 11px;">{{item.sp_discount}}</td> -->
                                    <td class="txt_right" style="font-size: 11px;">
                                        {{item.tot_value | currency : '&nbsp;'}}</td>
                                    <!-- <td *ngIf="loginUserData.role !== 'Purchase Manager'"  class="txt_right" style="font-size: 11px;">{{item.gst_amount}}({{item.gst}}%)</td>
                                    <td *ngIf="loginUserData.role !== 'Purchase Manager'" class="txt_right" style="font-size: 11px;">
                                        {{item.final_amount | currency : '&nbsp;'}}</td> -->

                                </tr>
                                <tr *ngIf="loginUserData.role !== 'Purchase Manager'">
                                    <td colspan="6" class="no-line" style="font-size: 9px;  vertical-align: middle !important;">
                                        <b *ngIf="totalsp_discountamount!=0">Special Discount : ₹ {{totalsp_discountamount}}</b>
                                     </td>
                                    <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                        <strong>TAXABLE</strong>
                                    </td>
                                   
                                    <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                        style="color:#000;"></span>₹ {{grndata.line_amount.toLocaleString('en-IN')}}
                                </td>

                                </tr>
                                <tr *ngIf="loginUserData.role !== 'Purchase Manager' && grndata.devicediscamount">
                                    <td colspan="6" class="no-line"> </td>
                                    <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                        <strong>DISCOUNT</strong>
                                    </td>
                                  
                                    <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                        style="color:#000;"></span>₹ {{grndata.devicediscamount.toLocaleString('en-IN')}}
                                </td>

                                </tr>

                                <tr *ngIf="loginUserData.role !== 'Purchase Manager' &&  grndata.promo_amount">
                                    <td colspan="6" class="no-line"> </td>
                                    <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                        <strong>PROMO DISCOUNT</strong>
                                    </td>
                                  
                                    <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                        style="color:#000;"></span>₹ {{grndata.promo_amount.toLocaleString('en-IN')}}
                                </td>

                                </tr>
                                <tr *ngIf="loginUserData.role !== 'Purchase Manager' &&  loginUserData.company_address.state_code==billingAddress.state_code">
    
                                    <td colspan="6" class="no-line" style="font-size: 9px;  vertical-align: middle !important;">
                                      <b *ngIf="freeqtyarr.length>0">Free Qty : </b>
                                      <span *ngFor="let f of freeqtyarr">
                                       <span>{{f.productname}} = {{f.free_qty}} </span>
                                       </span>
                                    </td>
                      
                                    <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                        <strong>CGST</strong>
                                    </td>
                                    <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                            style="color:#000;">₹ {{grndata.gst_amount/2 | currency :'&nbsp;'}}</span></td>
                      
                                </tr>
                                <tr *ngIf="loginUserData.role !== 'Purchase Manager' && loginUserData.company_address.state_code==billingAddress.state_code ">
                                  <td colspan="6" class="no-line"> </td>
                                  <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                      <strong>SGST</strong>
                                  </td>
                                  <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                          style="color:#000;">₹ {{grndata.gst_amount/2 | currency : '&nbsp;'}}</span></td>
                      
                              </tr>
                              <tr *ngIf="loginUserData.role !== 'Purchase Manager' && loginUserData.company_address.state_code != billingAddress.state_code ">
                                <td colspan=6 class="no-line" style="font-size: 9px;  vertical-align: middle !important;">
                                  <b *ngIf="freeqtyarr.length>0">Free Qty : </b>
                                  <span *ngFor="let f of freeqtyarr">
                                   <span>{{f.productname}} = {{f.free_qty}} </span>
                                   </span>
                                </td>
                                <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                    <strong>IGST</strong>
                                </td>
                                <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                        style="color:#000;">₹ {{grndata.gst_amount.toLocaleString('en-IN')}}</span></td>
                      
                            </tr>
                            <tr *ngIf="this.grndata.tcs_percent">
                                <td colspan="6" class="no-line" style="font-size: 9px;  vertical-align: middle !important;" >
                    
                                </td>
                                <td class="no-line txt_right"
                                  style="font-size: 9px; text-align: right; vertical-align: middle !important;">
                                  <strong>TCS(%)</strong>
                                </td>
                                <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                    style="color:#000;text-align: right;">
                                    {{grndata.tcs_percent | currency:'&nbsp;'}}</span>
                                </td>
                              </tr>
                              <tr *ngIf="this.grndata.tcs">
                                <td colspan="6" class="no-line" style="font-size: 9px;  vertical-align: middle !important;" >
                    
                                </td>
                                <td class="no-line txt_right"
                                  style="text-align: right; font-size: 9px; vertical-align: middle !important;">
                                  <strong>TCS Amount</strong>
                                </td>
                                <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                    style="color:#000;text-align: right;">₹
                                    {{grndata.tcs | currency:'&nbsp;'}}</span>
                                </td>
                              </tr>
                                <!-- <tr *ngIf="loginUserData.role !== 'Purchase Manager'">
                                    <td colspan="6" class="no-line" style="font-size: 9px;  vertical-align: middle !important;">
                                        <b *ngIf="freeqtyarr.length>0">Free Qty : </b>
                                        <b *ngFor="let f of freeqtyarr">
                                         <b>{{f.productname}} = {{f.free_qty}} </b>
                                       </b> </td>
                                    <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                        <strong>GST AMOUNT</strong>
                                    </td>
                                    <td *ngIf="grndata.gst_amount" class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                            style="color:#000;"></span>{{grndata.gst_amount| currency :'&nbsp;'}}
                                    </td>

                                </tr> -->
                               
                                <tr *ngIf="loginUserData.role !== 'Purchase Manager'">
                                    <td colspan="6" class="no-line"> </td>
                                    <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                        <strong>Round Off</strong>
                                    </td>
                                    <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                            style="color:#000;"></span>₹ {{roundoffAmt.toLocaleString('en-IN')}}
                                    </td>

                                </tr>


                                <tr *ngIf="loginUserData.role !== 'Purchase Manager'">
                                    <td colspan="6" class="no-line" style="font-size: 9px;  vertical-align: middle !important;"> <b>Total Cartons -</b> {{cartonqty | number : '1.2-2'}},
                                        <b>Total Pieces -</b> {{totalqty}} </td>
                                    <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                        <strong>NET AMOUNT</strong>
                                    </td>
                                    <td *ngIf="!grndata.final_amount" class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                            style="color:#000;"></span>₹ {{grand_total.toLocaleString('en-IN')}}
                                    </td>
                                    <td *ngIf="grndata.final_amount" class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                        style="color:#000;"></span>₹ {{grndata.final_amount.toLocaleString('en-IN')}}
                                </td>

                                </tr>





                                <tr *ngIf="loginUserData.role == 'Purchase Manager'">
                                    <td colspan="6" class="no-line"> </td>
                                    <td class="no-line txt_right" style="font-size: 9px;text-align: right; vertical-align: middle !important;">
                                        <strong>NET AMOUNT</strong>
                                    </td>
                                    <td class="no-line txt_right" style="text-align: right;font-size: 10px;"><span
                                            style="color:#000;"></span>{{total_value | currency :'&nbsp;'}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

 <!-- GST table -->
 <div class="row">
        <div class="col-md-7 gsttable">
          <div class="table-responsive">
            <table class="table table-bordered table-striped pending_order printTable"
              style="margin-bottom: 5px !important;table-layout: initial;">
              <thead>
                <tr>
                  <th class="alignright">GST%</th>
                  <th class="alignright">Taxable (&#8377;)</th>
                  <th class="alignright">CGST (&#8377;)</th>
                  <th class="alignright">SGST (&#8377;)</th>
                  <th class="alignright">IGST (&#8377;)</th>
                </tr>
              </thead>
              <tbody *ngIf="loginUserData.company_address.state_code==billingAddress.state_code">
                <tr *ngIf="first">
                  <td class="alignright">18%</td>
                  <td class="alignright">{{totalfirsttaxable.toLocaleString('en-IN')}}.{{decimalfirsttaxableamount}}</td>
                  <td class="alignright"> 
                    {{(totalfirstgst).toLocaleString('en-IN')}}.{{decimalfirstgstamount}}
    
                  </td>
                  <td class="alignright"> 
                    {{(totalfirstgst).toLocaleString('en-IN')}}.{{decimalfirstgstamount}}
    
                  </td>
                  <td class="alignright"> -</td>
                </tr>
                <tr *ngIf="second">
                  <td class="alignright">5%</td>
                  <td class="alignright">{{totalsecondtaxable.toLocaleString('en-IN')}}.{{decimalsecondtaxableamount}}</td>
                  <td class="alignright">{{(totalsecondgst).toLocaleString('en-IN')}}.{{decimalsecondgstamount}}</td>
                  <td class="alignright">{{(totalsecondgst).toLocaleString('en-IN')}}.{{decimalsecondgstamount}}</td>
                  <td class="alignright">-</td>
                </tr>
                <tr *ngIf="third">
                  <td class="alignright">12%</td>
                  <td class="alignright">{{totalthirdtaxable.toLocaleString('en-IN')}}.{{decimalthirdtaxableamount}}</td>
                  <td class="alignright">{{(totalthirdgst).toLocaleString('en-IN')}}.{{decimalthirdgstamount}}</td>
                  <td class="alignright">{{(totalthirdgst).toLocaleString('en-IN')}}.{{decimalthirdgstamount}}</td>
                  <td class="alignright">-</td>
                </tr>
                <tr *ngIf="fourth">
                  <td class="alignright">28%</td>
                  <td class="alignright">{{totalfourthtaxable.toLocaleString('en-IN')}}.{{decimalfourthtaxableamount}}</td>
                  <td class="alignright">{{(totalfourthgst).toLocaleString('en-IN')}}.{{decimalfourthgstamount}}</td>
                  <td class="alignright">{{(totalfourthgst).toLocaleString('en-IN')}}.{{decimalfourthgstamount}}</td>
                  <td class="alignright">-</td>
                </tr>
              </tbody>
           <tbody *ngIf="loginUserData.company_address.state_code != billingAddress.state_code">
            <tr *ngIf="first">
              <td class="alignright">18%</td>
              <td class="alignright">{{totalfirsttaxable.toLocaleString('en-IN')}}.{{decimalfirsttaxableamount}}</td>
              <td class="alignright">-</td>
              <td class="alignright">-</td>
              <td class="alignright">{{(totalfirstgst).toLocaleString('en-IN')}}.{{decimalfirstgstamount}}</td>
            </tr>
            <tr *ngIf="second">
              <td class="alignright">5%</td>
              <td class="alignright">{{totalsecondtaxable.toLocaleString('en-IN')}}.{{decimalsecondtaxableamount}}</td>
              <td class="alignright">-</td>
              <td class="alignright">-</td>
              <td class="alignright">{{(totalsecondgst).toLocaleString('en-IN')}}.{{decimalsecondgstamount}}</td>
            </tr>
            <tr *ngIf="third">
              <td class="alignright">12%</td>
              <td class="alignright">{{totalthirdtaxable.toLocaleString('en-IN')}}.{{decimalthirdtaxableamount}}</td>
              <td class="alignright">-</td>
              <td class="alignright">-</td>
              <td class="alignright">{{(totalthirdgst).toLocaleString('en-IN')}}.{{decimalthirdgstamount}}</td>
            </tr>
            <tr *ngIf="fourth">
              <td class="alignright">28%</td>
              <td class="alignright">{{totalfourthtaxable.toLocaleString('en-IN')}}.{{decimalfourthtaxableamount}}</td>
              <td class="alignright">-</td>
              <td class="alignright">-</td>
              <td class="alignright">{{(totalfourthgst).toLocaleString('en-IN')}}.{{decimalfourthgstamount}}</td>
            </tr>
           </tbody>
            </table>
          </div>
        </div>
      </div>
        <!-- ends GST table -->


                </div>
            </div>
            <div class="row">
            <div class="f1" style="margin-left:20px;">
                <b>Invoice No.:</b> {{grndata.refinvno}}
            </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h5>
                        <strong class="theme_color fnt_size_12">Terms & Conditions :</strong>
                    </h5>
                    <p style="font-size:10px;">1. This is Computer generated Invoice and doesn't require signature.</p>
                    <p style="font-size:10px;">2. We are not responsible for any Breakages/Damages/Shortages and
                        Leakage in transit.</p>
                    <p style="font-size:10px;">3. Our responsibility ceases after the goods are delivered to the
                        carrier.</p>
                    <p style="font-size:10px;">4. Goods once sold will not be taken back.</p>
                    <p style="font-size:10px;">5. Interest &#64;12% p.a. will be charged, if invoice is not paid on or
                        before due date.</p>
                    <p style="font-size:10px;">6. All Disputes are Subject to Hyderabad Jurisdiction.</p>
                    <p style="font-size:10px;">7. Please read all Terms and Policies on www.powertex.com for Invoices
                        and other related issues.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="text-align: center;margin-bottom: 15px;">
        <button type="submit" class="btn btn-success" (click)="print_grn()">Print GRN</button>
        <button type="submit" style="margin:10px;" class="btn btn-success" routerLink="/dashboard">Cancel</button>
    </div>

</div>