<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
</ngx-spinner>
<div class="container pad_t_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span> {{loginUserData.content}}</span>
      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div>
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important; ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>PO History</span>
  </p>
  <div class="reg_form mar_b_30">
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <div class="card">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" (click)="activate('Pending')">
              <a href="" aria-controls="reject" role="tab" data-toggle="tab">Pending
              </a>
            </li>
            <li role="presentation" (click)="activate('Approved')">
              <a href="" aria-controls="list" role="tab" data-toggle="tab">Approved
              </a>
            </li>
            <li role="presentation" (click)="activate('Cancelled')">
              <a href="" aria-controls="inactive" role="tab" data-toggle="tab">Cancelled
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div *ngIf="openTab=='Pending'">
              <div role="tabpanel" class="tab-pane active">
                <app-supplier-po-history-tabs [underProcessId]=1></app-supplier-po-history-tabs>
              </div>
            </div>
            <div *ngIf="openTab=='Approved'">
              <div role="tabpanel" class="tab-pane active">
                <app-supplier-po-history-tabs [underProcessId]=2></app-supplier-po-history-tabs>
              </div>
            </div>
            <div *ngIf="openTab=='Cancelled'">
              <div role="tabpanel" class="tab-pane active">
                <app-supplier-po-history-tabs [underProcessId]=3></app-supplier-po-history-tabs>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="reg_form mar_b_30 pad_15">

    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>PO History</h4>
        </div>
        <div class="fr" *ngIf="orders.length>0">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
            class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>

    <div>
      <div *ngIf="orders">
        <div class="row" *ngIf="(orders | filter :searchText) as orders">
          <div class="col-sm-12 list" *ngIf="orders.length>0">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th *ngIf="loginUserData.role=='Admin'">Business Name</th>
                    <th>PO No</th>
                    <th>PO Date</th>
                    <th>PO Amount</th>
                    <th>Description</th>
                    <th>Items</th>
                    <th>Status</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of orders | paginate: { itemsPerPage: 10, currentPage: p }; let i=index"
                    [ngClass]="{'seencls':data.approve == true}">
                    <td>{{10*(p-1)+(i+1)}}</td>
                    <td *ngIf="loginUserData.role=='Admin'">{{data.supplierid.first_name}} {{data.supplierid.last_name}}
                    </td>
                    <td>{{data.pono}}</td>
                    <td>{{data.podate | date:'dd-MM-yyyy'}}</td>
                    <td>{{data.poamount | currency:'&nbsp;'}}</td>
                    <td *ngIf="data.description">{{data.description}}</td>
                    <td *ngIf="!data.description">-</td>
                    <td>{{data.noofitems}}</td>
                    <td><span *ngIf="data.approve==true && data.editable==true">Approved</span>
                      <span *ngIf="data.approve==false && data.editable==true">Not Approved</span>
                      <span *ngIf="data.approve==false && data.editable==false">Re-Quote</span></td>
                    <td>
                      <span class="f_size_15 blue_clr padd_right_10 cursor_pointer">
                        <i class="fa fa-eye" aria-hidden="true" title="View More" (click)="viewMore(data)"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          <div *ngIf="orders.length==0">
            <div class="col-md-12">
              <div class="no_data">
                <img class="no_data_cnter" src="../assets/emptyicon.png" />
                <span class="nodata_txt">No Data is Available</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>