<form #editForm="ngForm" *ngIf="supplier" class="p-4 bg-white shadow rounded-3">
 <div class="row g-3">
  <div class="col-md-3" *ngFor="let field of mainFields">
    <label class="form-label">{{ field.label }}</label>
    <input
      type="text"
      class="form-control"
      name="{{ field.name }}"
      [(ngModel)]="supplier[field.name]"
    />
  </div>
</div>


  <hr class="my-4">

  <h5 class="fw-bold text-primary">Business Details</h5>
  <div class="row g-3 mt-2" *ngIf="supplier.dtl && supplier.dtl.length">
    <div class="col-md-4" *ngFor="let field of businessFields">
      <label class="form-label">{{ field.label }}</label>
      <input type="text" class="form-control" name="{{ field.name }}" [(ngModel)]="supplier.dtl[0][field.name]">
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary px-4" (click)="updateSupplier()">Update</button>
  </div>
</form>
