
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        line-height: 1;
        height: 445px;
    }
    
    .pad_0 
        {
         padding-left:0px  !important;
         padding-right:0px  !important;
        }

    .testimonial {
        background-image: url(../../assets/images/home_feedback.jpg);
        background-repeat: round;
        box-shadow: 1px 1px 1px 1px #9dbbb9;
        .item{
            text-align: center;
            img {
                width: 80%;
                height: auto !important;
                // padding: 20px;
                margin: 0px auto;
                }
            }
        }
        
       
    .test_video{
        width: 42%;
         background: #0fa4975c;
    }

    .Shopbycatg_header {
        font-size: 20px !important;
        font-weight: 700 !important;
        color: #05a093 !important;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    
    .catg {
        padding:10px;
         background: #0fa497;
         cursor: pointer;
         height: 140px;

         p {
            padding-top: 7px;
            color: white;
            font-size: 12px;
            text-transform: uppercase;
         }
    }

    .h3_style{
        color: #ffffff;
    font-weight: 600;
    margin-top: 0px;
    padding-bottom: 20px;
    }
    .mar {
        margin-bottom: 5px !important;
    }
    .bglightwrap{
        margin-left:0px; margin-right: 0px;background:#f1f3f6;
      }
    @media screen and (max-width: 1300px) {
        .mar {
            margin-bottom: 5px !important;
        }
      }
    @media screen and (max-width: 1000px) {
        .mar {
          margin-bottom: 5px !important;
        }
      }
      .prod_head{
        text-align: center;
        color: #0da550;
        padding: 7px !important;
        /* border-radius: 10px; */
        background: #ffffff;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: auto;
        box-shadow: 1px 1px 1px 1px #8080807a;
       }

//        @media (max-width: 1024px){
//         .carousel-inner>.item>a>img, .carousel-inner>.item>img {
//             line-height: 1;
//             height: 356px !important;
//         }
// }
// @media (min-width: 1920px){
//     .carousel-inner>.item>a>img, .carousel-inner>.item>img {
//         line-height: 1;
//         height: 665px !important;
//     }
// }
body{padding-top:20px;}
.all_tools .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

.all_tools .carousel-control {
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #0fa497;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 60px;
    
}

.all_tools .carousel-controlone {
    height: 400px;
	width: 400px;
    // background: none repeat scroll 0 0 #0fa497;
    // border: 4px solid #FFFFFF;
    // border-radius: 23px 23px 23px 23px;
    // margin-top: 60px;
    
}

.all_tools .carousel-control.right {
    right: 0px;
}
/* The indicators */
.all_tools .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.all_tools .carousel-indicators li {
	background: #cecece;
}
.all_tools .carousel-indicators .active {
background: #428bca;
}
.all_tools .thumbnail{
    background-color: #0fa497 !important;
    height:150px;
    padding: 0px;
    margin-bottom: 10px;
}
.all_tools .thumbnail img{
    transform: translate(0%, 50%);
}
.all_tools .tool_name{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding-top: 6px; 
}

.custom_loder{
    z-index: 99999999999 !important;
     position: fixed !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important;  }
        
.all_tools .tool_more{
    color: #fff;
    font-weight: 600;
    font-size: 18px;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.img-thumbnail:hover{
    // background-color: #0fa497 !important;
    cursor: pointer;
    padding: 0px;
    transition: all 0.2s ease-in-out;
}

.img-thumbnailone {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    /* display: inline-block; */
    max-width: 100%;
    height: auto;
}


.slide_a{
    color: #0fa497;
    background: #ffffff;
    padding-bottom: 47px !important;
    right: 0px;
    padding-top: 19px;
    margin: 0px;
    font-size: 28px;
    top: 45%;
}
.slide_b{
    color: #0fa497;
    background: #ffffff;
    padding-bottom: 47px !important;
    left:0px;
    padding-top: 19px;
    margin: 0px;
    font-size: 28px;
    top:45%;
}
@media screen and (max-width: 600px) {
    .slide_a{
        color: #0fa497;
    background: #ffffff;
    padding-bottom: 12px !important;
    right: 0px;
    // left:30px;
    padding-top: 8px;
    margin: 0px;
    font-size: 19px;
    top: 32%;
    }
    .slide_b{
        color: #0fa497;
        background: #ffffff;
        padding-bottom: 12px !important;
        // right: 30px;
        left:0px;
        padding-top: 8px;
        margin: 0px;
        font-size: 19px;
        top: 32%;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        line-height: 1;
        height: 150px !important;
    }
  }

  .p_i{
    width: 100%;
    // border-radius: 50%;
    padding: 10px;
    border: 2px solid #0fa497;
    background: #FFF;
    cursor: pointer;
  }

  .p_i:hover{
    padding: 5px;
    transition: all 0.2s ease-in-out;
  }
  .s_bpy_ctg{
    width: 200px;
    height: 2px;
    margin-top: -8px;
  }
  h4 {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #05a093 !important;
}
.homeheadwrap{
    margin-left:0px; 
    margin-right: 0px;
    background: #fff;
    margin-top: 60px;
}
// @media (min-width: 75em) /* 1200px ÷ 16 */ {
//    #sidebarCat{
//        .navigation{
//            width:85% !important;
//        }
//    }
//   }
// .homeheadwrap{
//     margin-left:0px; 
//     margin-right: 0px;
//     background: #fff;
//     margin-top: 50px;
// }
@media only screen and (min-width: 320px) and (max-width: 520px) { 
    .mobcatwrap{
        .navigation{
            background: #0fa497;
           }
    }
    #homeWrapper{
        .homeheadwrap{
            margin-left: -15px !important;
           margin-right: 0 !important;
           .col-xs-12{
               padding: 0 !important;
           }
       }
    }
    #homeWrapper{
        .homeheadwrap{
            margin-left: -15px !important;
           margin-right: 0 !important;
           .col-xs-12{
               padding: 0 !important;
           }
       }
    }
    
}



// floating icon

//body {margin-left:0;height:2000px;}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}


// floating icon
	
//2nd test icons

.sticky-container{
    /*background-color: #333;*/
    font-family: "Lato";
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -119px;
    top:441px;
    width: 200px;

}

.sticky li{
    list-style-type: none;
    //  background-color: #333;
     background-color: #0fa497 !important;
    //background-color: #048a7ee3;
    // color: #efefef;
    color: #efefef;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.sticky li:hover{
    margin-left: -115px;
    /*-webkit-transform: translateX(-115px);
    -moz-transform: translateX(-115px);
    -o-transform: translateX(-115px);
    -ms-transform: translateX(-115px);
    transform:translateX(-115px);*/
    /*background-color: #8e44ad;*/
    // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    //         -webkit-filter: grayscale(0%);
}

.sticky li img{
    float: left;
    margin: 5px 5px;
    margin-right: 10px;

}

.sticky li p{
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    line-height: 43px;

}

.sticky p{
     color: #ecf0f1;
//color: #92a1a5;
   // font-family: "Lato";
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
    line-height: 28px;
    font-size: 15px;
    padding-top: 50px;
}

li a img{
    border-radius: 5px;
}
.side_img{
    vertical-align: middle !important;
    text-align: center !important;
    padding-top: 35px !important;
}
.mainwrapper ,.Believe {
    background-color: #ffffff !important;
}
.testy:hover{
    cursor: pointer !important;;
}
.menubt{
    width:100%;
    h5{
        font-weight: 600;
        color: #0fa497;
    }
    i{
        font-size: 35px;
        color: #0fa497;
        padding: 20px 0px;
    }
    display: flex;
    a{
        color: #0fa497;
    }
}
// =============================================
.rectangle {
    // margin-top:30px;
    width: 50px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    background-color: #f0f0f0; /* Background color of the rectangle */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* Optional: Border for the rectangle */
    border-radius: 5px; /* Optional: Rounded corners */
  }
  
  .rectangle .glyphicon {
    font-size: 24px; /* Adjust size as needed */
    color: #333; /* Color of the icon */
  }
// ===================================
@media (max-width: 1366px) {
    .carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
        opacity: 0.5;
        background: grey;
        padding: 7px;
        border-radius: 13px;
        font-size: 15px;
    }
}
.side_img .carousel-inner, .side_img .carousel-inner .item img, .side_img .carousel{
    width: 100% !important;
}
.navbar-inverse .navbar-nav > li:hover {
    // background: #0fa497;
    background: white !important;
}
.navbar-inverse .navbar-nav > li:hover {
    // background: #0fa497;
    // generate a email that im sending my resignation
    background: white;
}
.navbar-nav > li:hover {
    background: white !important;
}
.card-two {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 35px 20px;
    margin: 10px;
    height: 175px;
    text-align: center;
    h4 {
        color: black !important;
    }
  }
.card{
    background-color: #fff;
}
.cart-title{
    margin:0px !important;
}
.card img{
    width:100%;
}
.crd-brd{
    border: 25px solid #F1F3F6;
    border-left: -25px solid #F1F3F6;
    // margin: 0 -25px 0 -25px;
}
.pad{
    padding:10px 5px 0 5px;
    display: flex;
    justify-content: center;
    height: 60px;
}
.square {
    width: 100px;  /* Set your desired width */
    height: 100px; /* Set the same value as width to make it a square */
    background-color: #007bff; /* Optional: background color for visibility */
  }

.sideimage{
        // margin-top: 13% !important;
        width: 100% !important;
}
@media (min-width: 992px) {
    .col-lg-2-4 {
      flex: 0 0 auto;
      width: 20%;
    }
  }
  .category-card:hover {
    border-color: #009b77 !important; /* Green shade */
    transition: border-color 0.3s ease;
    cursor: pointer;
   
  }
  