<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
</ngx-spinner>
<div class="pad_t_5per pad_b_5per" style="width:100%;">

  <div class="pad_15 mar_b_30">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
          <h3 class="shopee_name">
            <span> {{loginUserData.content}}</span>
          </h3>
          <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
        </div>
      </div>
      <div class="container-fluid">
        <p class="bread-crumb1 col-sm-3 fl">
          <span>
            <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
          </span>&nbsp;>&nbsp;<span>Pending PI List</span>
        </p>
        <div class="col-sm-4">
          <tr *ngFor="let data of pendingdata">
            <!-- <td *ngIf="data.Pending_PO == 'Supplier_PO'"><b>Pending&nbsp;PI&nbsp;Value:</b>&nbsp;{{data.Amount | number : '1.2-2'}}&nbsp;({{data.cc}})</td> -->
            <!-- <td *ngIf="data.Pending_PO == 'Supplier_Inv_Due'"><b>In&nbsp;Transit&nbsp;Value:</b>&nbsp;{{data.Amount | number : '1.2-2'}}&nbsp;({{data.cc}})</td> -->
          </tr>
        </div>
        <div class="col-sm-3">
          <tr *ngFor="let data of pendingdata">
            <td *ngIf="data.Pending_PO == 'Outstanding'"><b>Outstanding&nbsp;Value:</b>&nbsp;{{data.Amount | number :
              '1.2-2'}}&nbsp;({{data.cc}})</td>
          </tr>
        </div>
      </div>

      <div class="row t_s_1">
        <div class="row bg-theme dash_status" style="margin:0px">
          <div class=" col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':POhidden == true}"
              (click)="po()">Pending PI List</a></div>
          <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':EOhidden == true}"
              (click)="eo()">Consolidated PI List</a></div>
         
          <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':SCPhidden == true}"
              (click)="SCP()">Consolidate Packing</a></div>
        </div>
        <div style="padding:5px 20px 20px 20px">
          <div *ngIf="POhidden">
            <div class="fr" *ngIf="supplierdata.length>0">
              <input type="text" [(ngModel)]="searchText" placeholder="Search here..." class="search_style">
              <button type="submit" class="input_btn">Search</button>
            </div><br>
            <div class="row" *ngIf="(supplierdata | filter :searchText) as supplierdata">

              <div class="col-sm-12 list" *ngIf="supplierdata.length>0">

                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="col-md-1">S.No</th>
                        <th class="col-md-2">PI No</th>
                        <th class="col-md-1">PI Date</th>
                        <th class="col-md-2">PI Approved Date</th>
                        <th class="col-md-2">PI Amount</th>
                        <!-- <th>Invoice Amount</th> -->
                        <!-- <th>Description</th> -->
                        <th class="col-md-1">Items</th>
                        <th class="col-md-3">Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let data of supplierdata | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                        <td class="col-md-1">{{10*(p-1)+(i+1)}}</td>
                        <td class="col-md-2">{{data.pi_no}}</td>
                        <td class="col-md-1">{{data.pidate | date:'dd-MM-yyyy'}}</td>
                        <td class="col-md-2">{{data.approveddate | date:'dd-MM-yyyy'}}</td>
                        <td class="col-md-2">{{data.POAmount |number : '1.2-2'}}&nbsp;({{data.Ctype}})</td>
                        <!-- <td>{{data.invamount}}</td> -->
                        <!-- <td *ngIf="data.description">{{data.description}}</td>
                        <td *ngIf="!data.description">-</td> -->
                        <td class="col-md-1">{{data.Items}}</td>
                        <td class="col-md-3">
                          <!-- <span class="f_size_15 blue_clr padd_right_10 cursor_pointer">
                            <i class="fa fa-edit" aria-hidden="true" title="View More" (click)="viewMore(data)"></i>
                          </span> -->
                          <button type="button" class="btn btn-sm bg_green" (click)="viewMore(data)">Invoice</button>
                          &nbsp;&nbsp;&nbsp;
                          <!-- <span class="f_size_15 red_clr padd_right_10 cursor_pointer">
                            <i class="fa fa-close" aria-hidden="true" title="Reject" (click)="rejconfirm(data)"></i>
                          </span> -->
                          <button type="button" class="btn btn-sm bg_red" (click)="rejconfirm(data)">Delete</button>
                          <span>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm bg_green" [disabled]="!data.picopy"
                              (click)="Pidownload(data.picopy, data.pi_no)">Pi&nbsp;Copy
                              <i class="fa fa-download" aria-hidden="true"
                                style="padding-left:5px;padding-top:5px;cursor:pointer"></i>
                            </button>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>

              <div *ngIf="supplierdata.length==0">
                <div class="col-md-12">
                  <div class="no_data">
                    <img class="no_data_cnter" src="../assets/emptyicon.png" />
                    <span class="nodata_txt">No Data is Available</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div *ngIf="DOhidden">
            <div class="fr" *ngIf="orders.length>0">
              <input type="text" [(ngModel)]="searchText" placeholder="Search here..." class="search_style">
              <button type="submit" class="input_btn">Search</button>
            </div><br>
            <div class="row">
              <span class="col-md-3">
                <mat-form-field color="accent">
                  <mat-label> Select From Date</mat-label>
                  <input matInput [matDatepicker]="picker1" [(ngModel)]="fromdate" required [max]="maxdate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </span>
              <span class="col-md-3 selecttodate">
                <mat-form-field color="accent">
                  <mat-label> Select To Date</mat-label>
                  <input matInput [matDatepicker]="picker2" [(ngModel)]="tilldate" required [max]="maxdate">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>

              </span>
              <span class="col-md-2">
                <button type="submit" class="input_btn" (click)="getinvregister()">Get Data</button>
              </span>
            </div>
            
            <div *ngIf="orders">
              <div class="row" *ngIf="(orders | filter :searchText) as orders">
                <div class="col-sm-12 list" *ngIf="orders.length>0">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>S.No</th>
                          <th class="text">Invoice No</th>
                          <th class="text-right">Invoice Date </th>
                          <th class="text-right">InvAmount</th>
                          <th class="text-center">Options</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of orders | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                          <td>{{10*(p-1)+(i+1)}}</td>
                          <td class="text">{{data.inv_no}}</td>
                          <td class="text-right">{{data.InvDate | date:'dd-MM-yyyy'}}</td>
                          <td class="text-right">{{data.InvAmount}}&nbsp;({{data.currency}})</td>
                          <td class="text-center">
                            <span class="f_size_15 blue_clr padd_right_10 cursor_pointer">
                              <i class="fa fa-print" aria-hidden="true" title="Print Details"
                                (click)="printdatadetail(data.INVQHID,'invoice')"></i>
                            </span>&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm bg_green text-white" (click)="editinv(data)">Edit</button>&nbsp;&nbsp;
                            <span class="f_size_15 red_clr padd_right_10 cursor_pointer">
                              <button type="button" class="btn btn-sm" title="delete" (click)="delinv1(data.INVQHID)">
                                <i class="fa fa-trash" style="font-size: 18px;color: #a51d1d;"></i></button>
                            </span>&nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                <div *ngIf="orders.length==0">
                  <div class="col-md-12">
                    <div class="no_data">
                      <img class="no_data_cnter" src="../assets/emptyicon.png" />
                      <span class="nodata_txt">No Data is Available</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div> -->



        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="deleteModal" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
              <span>PO Cancelled Sucessfully..!!</span>
              <br>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-success fr" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="reject" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert_heading">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <h4>Do you want to cancel ?</h4>
        <br>
        <br>


      </div>
      <div class="modal-footer">
        <button type="button" (click)="reject()" class="btn btn-success brdr_radius_50   fr">Confirm
        </button>
        <button type="button" class="btn btn-danger fl brdr_radius_50 " data-dismiss="modal">
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>


<!-- <div class="modal fade" id="delinv1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert_heading">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <h4>Do you want to Delete ?</h4>
        <br>
        <br>


      </div>
      <div class="modal-footer">
        <button type="button" (click)="delinv()" class="btn btn-success brdr_radius_50   fr">Confirm
        </button>
        <button type="button" class="btn btn-danger fl brdr_radius_50 " data-dismiss="modal">
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="deleteInv"  tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
              <span>Invoice Deleted Sucessfully..!!</span>
              <br>
           
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-success fr" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div> -->