<div class="container pad_t_5per">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>
      <a href="javascript.void(0)" routerLink="/Quotation">Quotation</a>
    </span>
    <span>&nbsp;>&nbsp;</span>
    <span>Print</span>
  </p>

  <div class="total_invoice_page" id="printSectionId" style="margin-bottom: 20px;">
    <div class="printwrap">
      <div class="marg_t_b_15" style="margin-bottom: 0 !important;margin-top:0px;">
        <div class="row" style="margin: 0 !important;">
          <div class="col-xs-12">
            <div class="company_address" style="text-align: center;">
              <h3
                style="text-align: center;font-weight: 600;font-size: 20px;margin-top: 0px;padding-top: 10px;margin-bottom: 5px;">
                {{loginUserData.company_address.companyname}}
              </h3>
              <div>
                <span *ngIf="loginUserData.company_address.address1">{{ loginUserData.company_address.address1}}
                </span><br>
                <!-- <span style="line-height: 1.5;" *ngIf="loginUserData.company_address.address2">{{ loginUserData.company_address.address2}},
                </span> -->
                <!-- <span style="line-height: 1.5;" *ngIf="loginUserData.company_address.city"><br> <span
                    style="line-height: 1;">
                    <b>City&nbsp;</b>
                  </span> : {{ loginUserData.company_address.city}},</span> -->

                <!-- <span style="line-height: 1;">
                  <b>State&nbsp;</b>
                </span>
                <span style="line-height: 1.5;"> : {{loginUserData.company_address.state |
                  titlecase}}&nbsp;-&nbsp; <span style="line-height: 1.5;" *ngIf="loginUserData.company_address.pin">{{
                    loginUserData.company_address.pin}}.</span></span><br> -->
                <span style="line-height: 1.5;" *ngIf="loginUserData.company_address.company_mobile">
                  <b>Mobile </b>
                </span>
                <span style="line-height: 1.5;" *ngIf="loginUserData.company_address.company_mobile"> :
                  {{loginUserData.company_address.company_mobile}},</span>

                <span *ngIf="loginUserData.role=='Admin'"
                  style="line-height: 1.5;font-size: 9px !important;">
                  <b>IEC Code&nbsp;</b>
                </span>
                <span *ngIf="loginUserData.role=='Admin'" style="line-height: 1.5;"> : {{loginUserData.company_address.cin |
                  titlecase}}.</span>
                <span style="line-height: 1.5;">Email</span>
                <span *ngIf="loginUserData.role=='Admin'" style="line-height: 1.5;"> :
                  {{loginUserData.company_address.company_email}},</span>
                <span *ngIf="loginUserData.role!='Admin'" style="line-height: 1.5;"> :
                  {{loginUserData.company_address.company_email}},</span><br>
                  <br>
              </div>
            </div>
          </div>
        </div>
        <!-- <h4 style="margin-top: 0;margin-bottom: 5px ;text-align: center;padding:0 !important;">
          <b>COMMERCIAL INVOICE</b>
        </h4> -->
      </div>


      <h3 style="padding-bottom: 6px;text-align: center;font-weight: 600;font-size: 20px;margin-top: 0px;">Quotation
      </h3>
      <div class="invoce_address" id="contentToConvert">
        <!-- <div class="row hr_line_botm">
          <div class="col-md-9 company_address padding_0 poheadLeft customwidth70" style="line-height: 1;float:left;">
            <h5 *ngIf="!poaddress && loginUserData.role!='Marketing Manager' && loginUserData.role!='Special'"
              style="font-weight: 700;margin-top:7px !important;margin-bottom: 3px !important;">
              {{loginUserData.business_name}}
            </h5>
            <h5 *ngIf="loginUserData.role=='Marketing Manager' || loginUserData.role=='Special'"
              style="font-weight: 700;margin-top:7px !important;margin-bottom: 3px !important;">
              {{billingAddress.business_name}}
            </h5>
            <h5 *ngIf="poaddress" style="font-weight: 700;margin-top:7px !important;margin-bottom: 3px !important;">
              {{poaddress.business_name}}
            </h5>
            <div style="line-height: 1;">
              <span style="line-height: 1;font-size: 9px !important;">
                <b>GSTIN &nbsp; </b>
              </span>
              <span *ngIf="!poaddress && loginUserData.role!='Marketing Manager'" class="gstspan">
                : {{loginUserData.gst}}</span>
              <span *ngIf="loginUserData.role=='Marketing Manager'"
                 class="gstspan">: {{billingAddress.gst}}</span>
              <span *ngIf="poaddress" class="gstspan">:
                {{poaddress.gst}}</span>
            </div>


          </div>
          <div class="col-md-3 company_address padding_0 poheadRight customwidth25"
            style="line-height: 1.5;padding-top: 10px;margin-top:5px;">
            <div class="fnt_size_12" style="line-height: 1;">
              <span style="line-height: 1;">PO No &nbsp;&nbsp;:</span>
              <span style="font-weight: bold;line-height: 1;">&nbsp;{{poData.data.json_hdr.spo_no}}</span>
            </div>
            <div class="fnt_size_12" *ngIf="poData.data.json_hdr.import_i == 1" style="line-height: 1.5;">
              <span>Vendor Code </span>
              <span>: {{poData.data.json_hdr.supp_company_code}}</span>
            </div>
            <div class="fnt_size_12" style="line-height: 1;">
              <span style="line-height: 1;">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span style="line-height: 1;">: {{this.curDate | date:'dd/MM/yyyy'}}</span>
            </div>
          </div>
        </div> -->
        <div class="row hr_line_botm">
          <div class="col-md-9 company_address padding_0 customwidth70" style="line-height: 1.9;float: left;">
            <div class="txt_l">
              <h6>
                <b>To</b>
              </h6>
            </div>
            <div class="txt_l fnt_size_12" style="line-height: 1;">
              <h5 *ngIf="!poaddress" class="companyaddr">
                <!-- {{loginUserData.company_address.online_display_name}}</h5>comp_address -->
                {{this.poData.data.comp_addr.business_name}}</h5>
            </div>
            <div class="txt_l fnt_size_12" style="line-height: 1;">
              <!-- <span *ngIf="!poaddress" class="poaddrspan">{{loginUserData.company_address.address1}}</span>
              <span *ngIf="poaddress"
                class="poaddrspan">{{poData.data.comp_address.address1}}</span> -->
                <span class="poaddrspan">{{poData.data.comp_addr.city}}</span>
            </div>
            <div class="txt_l fnt_size_12" style="line-height: 1;">
              <span>Mobile&nbsp;</span>
              <!-- <span *ngIf="!poaddress">: {{loginUserData.company_address.mobile}},&nbsp;</span>
              <span *ngIf="poaddress">: {{poData.data.comp_address.mobile}},&nbsp;</span> -->
              <span>: {{poData.data.comp_addr.mobile}},&nbsp;</span>
              <span>Email</span>
              <!-- <span *ngIf="!poaddress"> :
                {{loginUserData.company_address.company_email}},</span>
              <span *ngIf="poaddress"> : {{poData.data.comp_address.company_email}},</span> -->
              <span> : {{poData.data.comp_addr.email}},</span>
              <!-- <br>
              <span class="panspan">GSTIN &nbsp;</span>
              <span *ngIf="!poaddress" class="gstspan">:
                {{loginUserData.company_address.gstin}},&nbsp;</span>
              <span *ngIf="poaddress" class="gstspan">:
                {{poData.data.comp_address.gst}},&nbsp;</span>
              <span class="panspan">PAN &nbsp;</span>
              <span *ngIf="!poaddress" class="panspan">:
                {{loginUserData.company_address.pan}}.</span>
              <span *ngIf="poaddress" class="panspan">:
                {{poData.data.comp_address.pan}}.</span> -->
            </div>
          </div>

          <div class="col-md-3 company_address padding_0 customwidth25" style="line-height: 1;padding-top: 10px;">
            <div class="fnt_size_12" style="line-height: 1;">
              <span style="line-height: 1;">Quot.No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span style="line-height: 1;">: {{this.poprintDataApi.qnumber}}</span>
            </div>
            <div class="fnt_size_12" style="line-height: 1;">
              <span style="line-height: 1;">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span style="line-height: 1;">: {{this.curDate | date:'dd/MM/yyyy'}}</span>
            </div>

            <!-- <div class="fnt_size_12">
              <div>
                <span style="font-size: 9px !important;line-height: 1;">
                  <u>Special Instructions</u>
                </span>
                <br>
                <span *ngIf="poData.data.json_hdr.spl_instr"
                  style="line-height:1.5;font-size: 9px !important;width: 200px;word-break: break-all;text-align: right;line-height: 1.5;">
                  {{poData.data.json_hdr.spl_instr}}</span>

              </div>

            </div> -->
          </div>
        </div>
        <div class="table-responsive row" style="margin-top: 15px;">
          <table class="table table-bordered table-striped pending_order printTable"
            style="margin-bottom: 5px !important;table-layout: fixed;">
            <thead>
              <tr>
                <th class="txt_centr" style="font-size: 10px;width:30px;text-align: center;">Sr.</th>
                <th class="txt_left" style="font-size: 10px;width: 35%;word-break: break-all;">Product Name</th>
                <th class="txt_right" style="font-size: 10px;text-align: right;">MRP(&#8377;)</th>
                <th class="txt_right" style="font-size: 10px;text-align: right;">Disc(%)</th>
                <!-- <th class="txt_right" style="font-size: 10px;text-align: right;">N/C</th> -->
                <th class="txt_right" style="font-size: 10px;text-align: right;">P/C</th>
                <th class="txt_right" style="font-size: 10px;text-align: right;">T.Qty</th>
                <th class="txt_right tqtywidth" style="font-size: 10px;text-align: right;">Rate(&#8377;)</th>
                <th class="txt_right" style="font-size: 10px;text-align: right;">Total(&#8377;)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of poData.data.json_dtl; let i=index;">
                <td class="txt_centr" style="text-align: center;">{{i+1}}</td>
                <td class="txt_left" style="width: 350px !important; word-break: break-all;line-height: 1.5;">
                  {{item.subcategory}}-&nbsp;{{item.modelno}}</td>

                <td class="txt_right">{{item.mrp | currency : '&nbsp;'}}</td>
                <td class="txt_right" *ngIf="item.offer_type!=='Clearance'">{{item.mdiscount}}</td>
                <td class="txt_right" *ngIf="item.offer_type=='Clearance'">-</td>
                <!-- <td class="txt_right">{{item.qty/item.piecepercarton | number : '1.2-2' }}</td> -->
                <td class="txt_right" style="word-break: break-all;width: 7%;">{{item.piecepercarton}}</td>
                <td class="txt_right" style="width: 100px !important;">{{ item.qty }}</td>
                <td class="txt_right">{{item.net_price| currency : '&nbsp;'}}</td>
                <td class="txt_right">{{item.tot_value| currency : '&nbsp;':'symbol':'.2'}}</td>

              </tr>
              <tr>
                <td colspan="6" class="no-line" style="font-size: 9px;  vertical-align: middle !important;">
                  <!-- <b *ngIf="totalsp_discountamount!=0">Special Discount : ₹
                    {{totalsp_discountamount.toLocaleString('en-IN')}}</b> -->
                </td>


                <td class="no-line txt_right">
                  <span style="font-size: 8px !important;">
                    <b>TAXABLE</b>
                  </span>
                </td>
                <td class="no-line txt_right">
                  <span style="color:#000;"></span>₹
                  {{(this.poheaderdata.line_amount.toLocaleString('en-IN'))}}.00
                </td>
              </tr>
              <tr *ngIf="loginUserData.company_address.state != billingAddress.state">
                <td colspan="6" class="no-line" style="font-size: 9px;  vertical-align: middle !important;">
                </td>
                <td class="no-line txt_right">
                  <span style="font-size: 9px !important;">
                    <b>GST</b>
                  </span>
                </td>
                <td class="no-line txt_right">
                  <span style="color:#000;"></span>₹
                  {{this.poheaderdata.gst_amount.toLocaleString('en-IN')}}.00
                </td>

              </tr>
              <tr>
                <td colspan="6" class="no-line">
                </td>
                <td class="no-line txt_right">
                  <span style="font-size: 8.5px !important;">
                    <b>NET AMOUNT</b>
                  </span>
                </td>
                <td class="no-line txt_right">
                  <span style="color:#000;"></span>₹ {{final_amount.toLocaleString('en-IN')}}.00
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- GST table -->
        <!-- <div class="row">
          <div class="col-md-6 gsttable">
            <div class="table-responsive">
              <table class="table table-bordered table-striped pending_order printTable"
                style="margin-bottom: 5px !important;table-layout: initial;">
                <thead>
                  <tr>
                    <th class="alignright">GST%</th>
                    <th class="alignright">Taxable (&#8377;)</th>
                    <th class="alignright">CGST (&#8377;)</th>
                    <th class="alignright">SGST (&#8377;)</th>
                    <th class="alignright">IGST (&#8377;)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="first">
                    <td class="alignright">18%</td>
                    <td class="alignright">{{totalfirsttaxable.toLocaleString('en-IN')}}.{{decimalfirsttaxableamount}}
                    </td>
                    <td class="alignright">-</td>
                    <td class="alignright">-</td>
                    <td class="alignright">{{(totalfirstgst).toLocaleString('en-IN')}}.{{decimalfirstgstamount}}</td>
                  </tr>
                  <tr *ngIf="second">
                    <td class="alignright">5%</td>
                    <td class="alignright">{{totalsecondtaxable.toLocaleString('en-IN')}}.{{decimalsecondtaxableamount}}
                    </td>
                    <td class="alignright">-</td>
                    <td class="alignright">-</td>
                    <td class="alignright">{{(totalsecondgst).toLocaleString('en-IN')}}.{{decimalsecondgstamount}}</td>
                  </tr>
                  <tr *ngIf="third">
                    <td class="alignright">12%</td>
                    <td class="alignright">{{totalthirdtaxable.toLocaleString('en-IN')}}.{{decimalthirdtaxableamount}}
                    </td>
                    <td class="alignright">-</td>
                    <td class="alignright">-</td>
                    <td class="alignright">{{(totalthirdgst).toLocaleString('en-IN')}}.{{decimalthirdgstamount}}</td>
                  </tr>
                  <tr *ngIf="fourth">
                    <td class="alignright">28%</td>
                    <td class="alignright">{{totalfourthtaxable.toLocaleString('en-IN')}}.{{decimalfourthtaxableamount}}
                    </td>
                    <td class="alignright">-</td>
                    <td class="alignright">-</td>
                    <td class="alignright">{{(totalfourthgst).toLocaleString('en-IN')}}.{{decimalfourthgstamount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> -->
        <!-- ends GST table -->

        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h5 style="margin-bottom: 5px;">
              <strong class="theme_color fnt_size_12">Declaration</strong>
            </h5>
            <p style="font-size:9px;">1. This Quotation is not use for sale order.</p>
            <p style="font-size:9px;">2. This Quotation is an approximation and is not guaranteed.
            </p>
            <p style="font-size:9px;">3. Goods will be dispatched subject to availability & pass from accounts
              department.If account overdue it can be delay in dispatch,so keep track of payment.</p>
              <p style="font-size:9px;">4. The Quotation is based on information provided from the 
                customer regarding product requirements.
              </p>
              <p style="font-size:9px;">5. Quotation valid for 7 days.</p>
              <p style="font-size:9px;">6. The quantity to be supplied is subject to +/- 5% variation unless otherwise specified.</p>
              <p style="font-size:9px;">7. Payment should be made by online in favor of “Powertex Tools Company Private Limited - A/c No. XXXXXXXXX.</p>
              <p style="font-size:9px;">8. A Sales Order against a Quotation shall be issued only on receipt of payment.</p>
              <p style="font-size:9px;">9. In case the customer not covered under cheque facility is desirous to pay by cheque, the Sales Order
                shall be issued only after realization of the cheque amount.</p>

            <p style="font-size:9px;">10. In case of any doubt,please contact marketing person as shown above or send
              mail or contact customer care (8885080111).</p>
            <p style="font-size:9px;">11. If there is no instruction,delivery will be through standard mode.
            </p>
            <p style="font-size:9px;">12. The prices quoted are exclusive of GST.</p>
            <p style="font-size:9px;">13. Quotation valid for 7 days.</p>

            <p style="font-size:9px;">
              <sub class="txt_red" style="font-size:15px">*</sub> Terms and conditions apply.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="text-align: center;">
            <p style="font-size:9px !important;"> *This is a computer generated PO and does not require a physical
              signature.

            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row pad_t_b_5" style="text-align: center;">
    <button type="submit" class="btn btn-success" (click)="printPO()">Print</button>
    <button type="submit" style="margin:10px;" class="btn btn-success" routerLink="/Quotation">Close</button>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>