<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
</ngx-spinner>
<div class="container pad_t_5per pad_b_5per" *ngIf="poHidden">
  <div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center pad_b_30">
      <h3 class="shopee_name">
        <span class="shopee_name">{{ loginUserData.content }}</span>
      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg" />
    </div>
    <p class="bread-crumb1">
      <span>
        <a href="javascript.void(0)" routerLink="/dashboard">Dashboard</a>
      </span>&nbsp;>&nbsp;
      <span>Quotation</span>
    </p>
  </div>
  <section *ngIf="loginUserData.designation == 'Marketing Manager'">
    <div class="chose_vendr">
      <div class="col-md-12   text-center">
        <div class="form-group">
          <label class="vendor_lab" for="sel1">Choose Dealer </label>
          <span>
            <select class="vendor_sel" [(ngModel)]="selectedObj" (ngModelChange)="dealer_chn($event)" id="sel1">
              <option [ngValue]="undefined" disabled selected>Select Dealer</option>
              <option *ngFor="let p of dealers" [ngValue]="p">{{ p.business_name }}, {{ p.city }}</option>
            </select>
          </span>
        </div>
      </div>
    </div>

  </section>
  <section *ngIf="orderspage">
    <div class="reg_form mar_b_30 pad_15">
      <div class="row">
        <div class="col-md-12 mar_span" style="float:right;" *ngIf="loginUserData.role=='Employee'">


          <span class="total" style="float:right" *ngIf="dealer_outstanding"
            [ngClass]="{'colorchange':dealer_outstanding>dealer_creditlimit}">
            <b>, Outstanding Amount:</b>₹ {{dealer_outstanding.toLocaleString('en-IN')}}.00</span>
          <span class="total" style="float:right">
            <b> Credit Limit:</b> {{dealer_creditlimit}}</span>
          <span class="total" style="float:right">
            <b>Credit Period (days):</b> {{dealer_creditperiod}}, </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 adnce_search">
          <button class="btn btn-primary" (click)="adv_display()">
            Advanced Selection</button>&nbsp;
          <button class="btn btn-primary hidden" (click)="display()">
            Select Products
          </button>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 orderstatusbtnwrap" *ngIf="loginUserData.role != 'Employee'">
          <button style="float:right;" class="btn btn-danger" routerLink="/Dealer-STATUS"
            [disabled]="fieldArray.length>0">
            Purchase Orders Status
          </button>
        </div>
      </div>
      <!-- ADV_sEARCH sTART-->
      <div class="row  mar_t_30" style="background: url('../../../assets/images/banners/slider5.jpg')"
        *ngIf="isAdvHidden">
        <div class="col-md-2" style="padding:0px;min-height: 300px;">
          <ul class="menu">
            <li *ngFor="let p of resources">
              <a>{{ p.Category }}</a>
              <div class="container megadrop" style="max-height:300px;overflow:auto">
                <div class="row" style="margin:0px !important;padding: 5px;">
                  <div class="col-md-4" style="height:200px;padding: 0px" *ngFor="let subp of p.detail">
                    <h4>{{ subp["SubCategory"] }}</h4>
                    <div class="col-md-12">
                      <div class="row">
                        <ul style="max-height:140px;overflow:auto; padding: 0px">
                          <li class="l_s_m" *ngFor="let m of subp.modelno">
                            <input class="a_c_f" type="checkbox" [checked]="selected" id="{{ m }}"
                              (change)="prod_modal1(p, subp, m, $event)" />{{ m }}
                            <i class="fa fa-info-circle" (click)="pro_detail(p, subp, m)"
                              style="font-size:16px;color:#0fa497"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="adv_det_disp" (mouseleave)="dis()"
                    style="width: 300px;background:white;position: sticky;top: 20%;left: 40%;">
                    <div class="row" *ngFor="let D of adv_det"
                      style="position: fixed;background: white;padding: 10px;border: 2px solid #0fa497;left: 40%;">
                      <h4 class="alert_heading"
                        style="padding:10px !important;color: white !important;    margin-bottom: 0px !important; ">
                        {{ D.modelno }} Attributes
                      </h4>
                      <table class="table det_table">
                        <tr *ngFor="let p of D.details">
                          <td>
                            {{ p.attribute }}
                          </td>
                          <td style="width:100px">:</td>
                          <td>
                            {{ p.actual_value }}
                          </td>
                        </tr>
                      </table>

                      <button class="btn btn-primary" style="float:right;" (click)="dis()">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- ADV_sEARCH END-->

      <div class="row adv_search mar_t_30" style="padding-top:10px;" *ngIf="isHidden">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3 pad_r_l_0">
            <div>
              <h3>Category</h3>
              <div class="cats">
                <p *ngFor="let p of resources" class="pad_l_5">
                  <input type="checkbox" [checked]="selected_cat === p.Category" (change)="prod_category(p, $event)" />
                  {{ p.Category }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 pad_r_l_0">
            <h3>Sub Category</h3>
            <div *ngFor="let p of resources">
              <div *ngIf="selectedCategory == p.Category" class="cats">
                <p *ngFor="let pd of p['detail']" class="pad_l_5">
                  <input type="checkbox" [checked]="selected_sub_cat === pd.SubCategory"
                    (change)="prod_subcategory(p, pd, $event)" /> {{ pd["SubCategory"] }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 pad_r_l_0">
            <h3>Model Type</h3>
            <div class="cats">
              <p *ngFor="let r of httpdatadet" class="pad_l_5">
                <input type="checkbox" (change)="prod_modal(r)" /> {{ r.modelno }}
                <i class="fa fa-info-circle" (mouseenter)="info_s(r)" style="font-size:16px;color:#0fa497"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row pad_t_5per pad_15 ordertablewrap">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Category</th>
                <th>SubCategory</th>
                <th>Model No</th>
                <th>PCS In Qty</th>

                <th>PCS/CTN</th>
                <th>No. Of Carton's</th>
                <th>MRP</th>
                <th>Discount%</th>
                <th class="textright">Net Rate(&#8377;)</th>
                <th class="textright">Net Value(&#8377;)</th>
                <th>Action</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let field of fieldArray; let i = index">
                <td>{{ field.category }}</td>
                <td>{{ field.subcategory }}</td>
                <td>{{ field.modelno }}</td>
                <td>{{ field.qty }}</td>
                <td>{{ field.piecepercarton }}</td>
                <td>
                  {{ field.carton | number: "1.2-2" }}
                </td>

                <td>{{ field.mrp | number: "1.2-2" }}</td>
                <td>{{ field.mdiscount }}</td>
                <td class="textright">
                  {{ field.net_price | currency: "&nbsp;":"symbol":".3" }}
                </td>
                <td class="textright">
                  {{ field.tot_value | currency: "&nbsp;":"symbol":".3" }}
                </td>
                <td class="i_opt">
                  <p>
                    <button class="btn btn-primary" type="button" [disabled]="add_disable(newAttribute1) || add"
                      (click)="addFieldValue()">
                      Add
                    </button>
                  </p>
               
                </td>
                <td class="i_opt">
                  <p>
                    <i class="fa fa-trash" (click)="deleteFieldValue2(i)" style="font-size: 18px;color: #20978c;"></i>
                  </p>
                </td>
              </tr>
              <tr *ngFor="let catg of selectedList; let j = index">
                <td>{{ catg.category }}</td>
                <td>{{ catg.subcategory }}</td>
                <td>{{ catg.modelno }}</td>
                <td>
                  <input type="number" class="form-control" placeholder="Enter Quantity" [(ngModel)]="catg.qty"
                    name="quantity" (keydown)="isNumberKey($event)" (change)="onKey(catg)" (keyup)="onKey(catg)"
                    style="padding-left: 5px;" required min="1" max="999999" oninput="validity.valid||(value='');" />
                </td>
                <td>{{ catg.piecepercarton }}</td>
                <td>
                  <div class="cartoninput">
                    {{ catg.carton | number: "1.2-2" }}
                  </div>
                </td>
                <td>
                  <!-- {{ catg.mrp | number: "1.2-2" }} -->
                  <input type="number" class="form-control" placeholder="Enter MRP" [(ngModel)]="catg.mrp"
                    name="mrp" (keydown)="isNumberKey($event)" (change)="onKey(catg)" (keyup)="onKey(catg)"
                    style="padding-left: 5px;" required min="1" max="999999"/>
                </td>
                 <td>
                  <input type="number" class="form-control" placeholder="Enter Quantity" [(ngModel)]="catg.mdiscount"
                    name="quantity" (keydown)="isNumberKey($event)" (change)="discountQ(catg)" (keyup)="discountQ(catg)"
                    style="padding-left: 5px;" required min="1" max="999999" oninput="validity.valid||(value='');" />
                </td>
                <td>{{ catg.net_price | currency: "&nbsp;" }}</td>
                <td>{{ catg.tot_value | currency: "&nbsp;" }}</td>
                <td>
                  <i class="fa fa-trash" (click)="deleteFieldValue(j)" style="font-size: 18px;color: #20978c;"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <input list="categorys" class="form-control" placeholder="Select Category"
                    [(ngModel)]="newAttribute1.category" (input)="change_form($any($event.target).value)"
                    style="padding-left: 5px;" #inputBox />
                  <datalist id="categorys">
                    <option *ngFor="let p of resources" value="{{ p.Category }}">
                    </option>
                  </datalist>
                </td>
                <td>
                  <input list="subcategorys" class="form-control" placeholder="Select Sub Category"
                    [(ngModel)]="newAttribute1.subcategory" (input)="
                      change1($any($event.target).value, selectedCategory_form)
                    " style="padding-left: 5px;" [disabled]="sele_sub_catg()" />
                  <div *ngFor="let p of resources">
                    <datalist id="subcategorys" *ngIf="selectedCategory_form == p.Category">
                      <option *ngFor="let pd of p['detail']" value="{{ pd['SubCategory'] }}">
                      </option>
                    </datalist>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control" list="modelno" placeholder="Select Model"
                    [(ngModel)]="newAttribute1.modelno" (change)="change2($any($event.target).value, data)"
                    style="padding-left: 5px;" [disabled]="sele_model()" />
                  <div>
                    <datalist id="modelno">
                      <select *ngIf="selectedCategory_form !== 'Powertex Spare Parts'">
                        <option *ngFor="let data of httpdata2data" value="{{ data.modelno }}">
                        </option>
                      </select>

                      <select *ngIf="selectedCategory_form == 'Powertex Spare Parts'">
                        <option *ngFor="let data of httpdata2data" value="{{ data.modelno }}">{{ data.name3 }}
                        </option>
                      </select>
                    </datalist>
                  </div>
                </td>
                <td style="width: 9%;">
                  <input type="number" class="form-control" style="text-align: right;" name="newAttributequantity"
                    placeholder="Qty" [(ngModel)]="newAttribute1.qty" style="padding-left: 5px;"
                    (keydown)="isNumberKey($event)" (change)="onKey1(newAttribute1)" (keyup)="onKey1(newAttribute1)"
                    min="1" max="999999" oninput="validity.valid||(value='');" [disabled]="sele_quan()" />
                </td>
                <td>
                  <input type="number" class="form-control txtright" name="newAttributepiecepercarton"
                    [(ngModel)]="newAttribute1.piecepercarton" style="padding-left: 5px;" disabled />
                </td>
                <td>
                  <div class="cartoninput">
                    {{ newAttribute1.carton | number: "1.2-2" }}
                  </div>
                </td>
                <td>
                  <!-- <div class="cartoninput">
                    {{ newAttribute1.mrp | number: "1.2-2" }}
                  </div> -->
                  <input type="number" class="form-control" placeholder="Enter MRP" [(ngModel)]="newAttribute1.mrp"
                    name="mrp" (keydown)="isNumberKey($event)" (change)="onKey(catg)" (keyup)="onKey(catg)"
                    style="padding-left: 5px;" required min="1" max="999999"/>
                </td>
                <td>
                  <input type="number" class="form-control" style="text-align: center;" name="newAttributequantity"
                    [(ngModel)]="newAttribute1.mdiscount" (change)="discountQ(newAttribute1)" placeholder="Discount" style="padding-left: 5px;" />
                </td>
                <td>
                  <input class="form-control txtright" name="newAttributeprice" type="text"
                    [ngModel]="newAttribute1.net_price | currency: '&nbsp;'"
                    (ngModelChange)="newAttribute1.net_price = $event" style="padding-left: 5px;" disabled />
                </td>
                <td>
                  <input type="text" class="form-control txtright" name="newAttributevalue"
                    [ngModel]="newAttribute1.tot_value | currency: '&nbsp;'"
                    (ngModelChange)="newAttribute1.tot_value = $event" style="padding-left: 5px;" disabled />
                </td>
                <td>
                  <button class="btn btn-primary" type="button" [disabled]="add_disable(newAttribute1) || add"
                  #btn  (click)="addFieldValue()">
                    Add
                  </button>
                </td>
                <!-- ============delete=================== -->
                <td>
                  <p>
                    <i class="fa fa-trash" (click)=" deleteFieldValue3() " style="font-size: 18px;color: #20978c;" ></i>
                  </p>
                </td>

                <!-- ============================================ -->
              </tr>              
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p style="font-weight: bold; color: #293270;">
              Total Items Selected :
              <b style="color:red">{{ order_items }}</b>
            </p>
          </div>
          <div class="col-md-6">
            <input type="button" style="float:right" class="btn btn-primary" *ngIf="loginUserData.role == 'Employee'"
              [disabled]="dealer == false || disablee() || add || newAttribute1.category"
              value="Place Order" (click)="addupd(selectedList, newAttribute1, fieldArray)"
              [disabled]="disablee() || newAttribute1.category && !newAttribute1.tot_value" />
            <input type="button" style="float:right" class="btn btn-primary" *ngIf="loginUserData.role != 'Employee'"
              value="Place Order" (click)="addupd(selectedList, newAttribute1, fieldArray)"
              [disabled]="disablee() || newAttribute1.category" />
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<!-- *ngIf="addressHidden" -->
<div class="container pad_t_5per pad_b_5per" *ngIf="addressHidden">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
    </span>
    &nbsp;>&nbsp;
    <span (click)="change()" class="bread_crumb_hover"> Quotation</span>
    &nbsp;>&nbsp;
    <span>Info</span>
  </p>
  <div>
    
  <div class="reg_form marg_t_b_15 pad_l_20 pad_r_20">
    <p class="pad_t_10" style="font-size: 16px;text-decoration: underline;text-align:center">
      <b>Products List</b>
    </p>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Product Name</th>
            <!-- <th>SKU</th> -->
            <th>MRP</th>
            <th>Disc(%)</th>
            <th>N/C</th>
            <th>P/C</th>
            <th>T.Qty</th>
            <th>Rate(&#8377;)</th>
            <th>Total(&#8377;)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let p of po | paginate: { itemsPerPage: 7, currentPage: Page };
              let i = index
            ">
            <td>{{ 7 * (Page - 1) + (i + 1) }}</td>
            <td style="text-align:left">
              {{ p.subcategory }} - {{ p.modelno }}
            </td>
            <!-- <td>{{p.sku_no}}</td> -->
            <td>{{ p.mrp | currency: "&nbsp;"}}</td>
            <td>{{ p.mdiscount }}</td>
            <td>{{ ((p.qty + p.free_qty)/p.piecepercarton) | currency: "&nbsp;" }}</td>
            <td>{{ p.piecepercarton }}</td>
            <td>{{ p.qty + p.free_qty }}</td>
            <td>₹ {{ p.net_price | currency: "&nbsp;" }}</td>
            <td style="text-align:right">
              ₹ {{p.tot_value| currency: "&nbsp;" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="Page = $event"></pagination-controls>
  </div>
  <div class="reg_form marg_t_b_15 pad_l_20">
    <div class="col-md-4" *ngIf="this.response.devicediscamount ==''">
      <p>
        <b>Taxable:</b> ₹ {{ (this.response.price).toLocaleString('en-IN')}}.00
      </p>
      <!-- <p *ngIf="this.response.devicediscamount">
        <b>Discount:</b> ₹ {{ this.response.devicediscamount.toLocaleString('en-IN') }}
      </p> -->
      <!-- <p *ngIf="this.response.promo_amount">
        <b> Promo Discount:</b> ₹ {{ this.response.promo_amount.toLocaleString('en-IN')}}
      </p> -->
      <p>
        <b> GST:</b> ₹ {{ this.response.gst.toLocaleString('en-IN') }}.00
      </p>
      <p>
        <b>NET Amount:</b> ₹ {{ (this.response.finalamount).toLocaleString('en-IN')}}.00
      </p>
    </div>
    <div class="col-md-4" *ngIf="loginUserData.role!='Employee'">
      <p>
        <b>Credit Period (days):</b> {{loginUserData.credit_period}}
      </p>
      <p>
        <b>Credit Limit:</b> {{loginUserData.credit_limit}}
      </p>
      <p *ngIf="this.totaloutstandingamount"
        [ngClass]="{'colorchange':this.totaloutstandingamount>loginUserData.credit_limit}">
        <b>Outstanding Amount:</b> ₹ {{this.totaloutstandingamount.toLocaleString('en-IN')}}.00
      </p>
    </div>
  </div>
  </div>
  <!-- <form #paymentForm="ngForm"> -->
    <div class="">
      <div class="row"></div>
      <div class="row pad_t_5per">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
          <button class="btn btn-primary" (click)="c_order()" style="margin:5px;">
            Cancel
          </button>
          <!-- <button class="btn btn-primary" *ngIf="!a_order" (click)="gotoPrint(Message)" style="margin:5px;">
            Ok
          </button> -->
          <button class="btn btn-primary"  (click)="confirm_order()"
            style="margin:5px;">
            <!-- Confirm Order -->
            Print
          </button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  <!-- </form> -->
</div>

<ngx-spinner class="loader_spinner"></ngx-spinner>
<!-- modal pop up start here -->
<div class="modal fade" id="orderSuccessfulModal" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="text-center content_msg">
              <span>Your Order was Placed Successfully..!!</span>
              <p style="padding: 10% 0;" class="alert_order_no">
                {{ Message }}
              </p>
              <p class="m_p_t">Thank You, For Choosing Powertex</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="gotoPrint(Message)">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="orderdetail" (mouseleave)="info_h()" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="attr_image">
            <h4 class="alert_heading" style="padding:10px !important;color: white !important; ">
              {{ attr_image.modelno }} Attributes
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </h4>
            <!-- <div class="right_mark">
                <i class="fa fa-check" aria-hidden="true"></i> 
              </div> -->
            <div class=" text-center content_msg" *ngIf="attributes" style="padding:0px 40px">
              <div class=" alert_order_no" style="font-size:14px !important">
                <div class="text-center">
                  <img src="{{ attr_image.low_image_1 }}" style="width:110px" />
                </div>
                <table class="table det_table">
                  <tr *ngFor="let D of attributes">
                    <td>
                      {{ D.attribute }}
                    </td>
                    <td style="width:100px">:</td>
                    <td>
                      {{ D.actual_value }}
                    </td>
                  </tr>
                </table>

                <p></p>
              </div>
              <p class="m_p_t">Thank You, For Choosing Powertex</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success fr" data-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="orderdetail1" tabindex="-1" *ngIf="adv_det" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;" *ngFor="let D of adv_det">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h4 class="alert_heading" style="padding:10px !important;color: white !important; ">
              {{ D.modelno }} Attributes
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </h4>
            <!-- <div class="right_mark">
                <i class="fa fa-check" aria-hidden="true"></i> 
              </div> -->
            <div class=" text-center content_msg" style="padding:0px 40px">
              <div class=" alert_order_no" style="font-size:14px !important">
                <div class="text-center">
                  <img src="{{ D.low_image_1 }}" style="width:110px" />
                </div>
                <table class="table det_table">
                  <tr *ngFor="let p of D.details">
                    <td>
                      {{ p.attribute }}
                    </td>
                    <td style="width:100px">:</td>
                    <td>
                      {{ p.actual_value }}
                    </td>
                  </tr>
                </table>

                <p></p>
              </div>
              <p class="m_p_t">Thank You, For Choosing Powertex</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success fr" data-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="check" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="text-center content_msg">
              <span>Your Order was Placed Successfully..!!</span>
              <p style="padding: 10% 0;" class="alert_order_no">
                {{ Message }}
              </p>
              <p class="m_p_t">Thank You, For Choosing Powertex</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success fr" data-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addresModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
              <span>Address added Successfully..!!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger fl" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success fr" data-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="offers" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </h4>
            <!-- <div class="right_mark"><i class="fa fa-check" aria-hidden="true"></i></div> -->
            <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
              <span>Address added Successfully..!!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger fl" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success fr" data-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
