.custom_loder{
    z-index: 99999999999 !important;
     position: fixed !important;
      top: 42%;
        left: 50%;
        opacity: 9 !important;  }
sup {
    font-size: 2.4rem;
    color: red;
    top: 0.3rem;
    }