.<div class="container pad_t_5per">
  <!-- <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span> {{loginUserData.content}}</span>
      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div> -->
  <!-- <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important; ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>Supplier Ledger</span> 
  </p> -->

  <div class="reg_form mar_b_30 pad_15">
    <div class="row mar_b_15">
      <div class="col-md-12 form-group">
        <!-- <div class="pull-left">
          <h4>Supplier Ledger</h4>
        </div> -->
        <div class="text-center">
          <h1><b>COMING SOON...</b></h1>
          <hr>
          <p>DEAR VALUED CUSTOMERS,</p>
          <p>WE APOLOGIZE FOR THE INCONVENIENCE AND WILL BE BACK OPEN SOON.</p>
          <p>LET US KNOW IF ANY QUESTION.</p>
          <p>EMAIL : info&#64;powertextools.com</p>
          <button type="button" style="margin:10px;" class="btn btn-success"
            routerLink="/home">Home</button>
        </div>
      </div>
    </div>
    <!-- <div>

    </div> -->
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>