<ngx-spinner class="custom_loder">
  <img src="../../../assets/Loader.gif">
</ngx-spinner>
<div class="container pad_t_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
      <h3 class="shopee_name">
        <span> {{loginUserData.content}}</span>
      </h3>
      <img class="s_bpy_ctg" src="../../assets/images/Underline Shaded.svg">
    </div>
  </div>
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important; ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>Pending Payments</span>
  </p>
  <div class="reg_form mar_b_30 pad_15">
    <div class="row">
      <div class="col-sm-12">
        <div class="fl">
          <h4>Supplier Pending Payments &nbsp;</h4>
        </div>
        <input type="date" [(ngModel)]="searchduedate" class="search_style">&nbsp;
        <button (click)="filterduedate()" class="input_btn">Due Date</button><br>
        <div class="fr" *ngIf="supplierdata.length>0">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..."
            class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class="row" *ngIf="(supplierdata | filter :searchText) as supplierdata">

          <div class="col-sm-12 list">

            <div class="table-responsive"  id="printsuppndng">
              <br *ngIf="this.loginUserData.role=='Admin'">
              <div class="fr" *ngIf="this.loginUserData.role=='Admin'">
                <select class='s_s_r' style="margin-right:10px;" (change)="setFilteredItems()" [(ngModel)]="supplier"
                  name="supplier" #supplier1="ngModel">
                  <option [ngValue]="undefined" selected>--Select Supplier--</option>
                  <option *ngFor="let m of suppliers" [ngValue]="m.business_name">
                    {{m.business_name}}
                  </option>
                </select>

              </div><br *ngIf="this.loginUserData.role=='Admin'"><br>
              <table class="table table-striped" *ngIf="supplierdata.length>0">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th *ngIf="loginUserData.role=='Admin'">Business Name</th>
                    <!-- <th>PO No</th>
              <th>PO Date</th> -->
                    <th>Inv No</th>
                    <th>Inv Date</th>
                    <th class="text-right">Inv Amt</th>
                    <th class="text-right">Balance Amt</th>
                    <th class="text-right">BL Date</th>
                    <!-- <th style="width: 5%;">Credit Days</th> -->
                    <th class="text-center">Credit Days</th>
                    <th>Due Date</th>
                    <!-- <th>Days</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of supplierdata | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                    <td>{{10*(p-1)+(i+1)}}</td>
                    <td *ngIf="loginUserData.role=='Admin'">{{data.business_name}}</td>
                    <!-- <td>{{data.pono}}</td>
              <td>{{data.podate | date:'dd-MM-yyyy'}}</td> -->
                    <td>{{data.inv_no}}</td>
                    <td>{{data.updateon | date:'dd-MM-yyyy'}}</td>
                    <td class="text-right">{{data.poamount | number : '1.2-2'}} ({{data.currency}})</td>
                    <td class="text-right">{{data.balance_amount | number : '1.2-2'}} ({{data.currency}})</td>
                    <td class="text-right">{{data.bldate | date:'dd-MM-yyyy'}}</td>
                    <td class="text-center">{{data.credit_period}}</td>
                    <!-- <td>{{data.days}}</td> -->
                    <td>{{data.Due_date | date:'dd-MM-yyyy'}}</td>
                  </tr>
                  <tr>
                    <td colspan="3"><b></b></td>
                    <td  class="text-right">Total</td>
                    <td  class="text-right pright-2"><b>{{this.totaldue | number : '1.2-2'}}</b></td>
                    <td colspan="3"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12" *ngIf="supplierdata.length>0">
              <div class="pull-right">
                <button class="btn btn-primary " type="button" id="printPageButton" (click)="printreport()">Print</button>
              </div>
              <pagination-controls *ngIf="supplierdata.length>0" (pageChange)="p = $event" class="page"></pagination-controls>
            </div>
          </div>

          <div *ngIf="supplierdata.length==0">
            <div class="col-md-12">
              <div class="no_data">
                <img class="no_data_cnter" src="../assets/emptyicon.png" />
                <span class="nodata_txt">No Data is Available</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>