<div class="container pad_t_5per">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="
                    color: #878787 !important;
                ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span><a href="javascript.void(0)" routerLink="/Pos Cleark-POS" style="color: #878787 !important;">POS</a></span>
    &nbsp;>&nbsp; <span>Pos-Print</span>
  </p>

  <div class="total_invoice_page" style="margin-bottom: 20px;" id="printSectionId">
    <h3 style="padding-bottom: 10px;text-align: center;font-weight: 600;font-size: 20px;margin-top: 0px;">POS
    </h3>
    <div class="invoce_address">
      <div class="row">
        <div class="col-xs-12">
          <h2 style="text-align: center;font-size: 20px;font-weight: 700;">
            {{loginUserData.company_address.online_display_name}}
          </h2>
        </div>
      </div>
      <div class="row" *ngIf="loginUserData.company_address; let data">
        <div class="col-xs-12" style="text-align:center;">
          <p class="company_address" style="font-size: 13px;">
            <span> {{data.address1}},</span>
            <br>
            <span>{{data.address2}},</span>
            <br>
            <span>{{data.city}},</span>
            <br>
            <span>{{data.state}},</span>
          </p>
        </div>
        <div class="col-xs-12 company_address" style="font-size: 11px;text-align: center;">
          <span>CITY </span>
          <span style="font-weight: normal;">: {{data.city}}</span>,&nbsp;&nbsp;
          <span>STATE </span>
          <span style="font-weight: normal;">: {{data.state}}</span>,&nbsp;&nbsp;
          <span>GSTIN </span>
          <span style="font-weight: normal;">: {{data.gstin}}</span>,&nbsp;&nbsp;
          <span>PAN </span>
          <span style="font-weight: normal;">: {{data.pan}}</span>,&nbsp;&nbsp;
          <span>CIN </span>
          <span style="font-weight: normal;">: {{data.cin}}</span>.
        </div>
      </div>
      <div class="hr_line marg_t_b_15" style="margin-bottom: 0 !important;">
        <div class="row">
          <div class="col-xs-12">
            <div class="company_address" style="font-size: 14px;text-align: center;">
              <h4>Invoice</h4>
            </div>
          </div>
        </div>
      </div>
   

      <div class="hr_line_botm" style="padding: 5px;">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-6 f_left fnt_size_12">
              <div><span class="f_wt_600">POS No :</span> <span> {{posPrintData.POS}}</span></div>
              <div *ngFor="let data of pos_user"><span class="f_wt_600" > Purchased By:</span> {{data.mobile}}</div>
            </div>
            <div class="col-xs-6  fnt_size_12">
              <div class="f_right"> <span class="f_wt_600"> Date :</span> <span> {{posPrintData.data.json_hdr.packing_l_date| date:'dd-MM-yyyy'}}</span> </div>
            </div>
            <!-- <div class="company_address">
              <span class="f_left fnt_size_12">
                <span>POS No </span>
                <br/>
                <span ></span>
              </span>
              <span class="f_right fnt_size_12">
                <span>Date </span>
                <span>{{posPrintData.data.json_hdr.packing_l_date| date:'dd-MM-yyyy'}}</span>
              </span>
            </div> -->
          </div>
        </div>
      </div>

      <div class="table-responsive" style="margin-top: 15px;">
        <table class="table table-bordered table-striped pending_order printTable"
          style="margin-bottom: 0px !important;">
          <thead>
            <tr>
              <th class="txt_centr" style="font-size: 11px;">S.No</th>
              <th class="txt_left" style="font-size: 11px;">Product Name</th>
              <th class="txt_left" style="font-size: 11px;">Model Number</th>
              <th class="txt_right" style="font-size: 11px;">Piece per corton</th>
              <th class="txt_right" style="font-size: 11px;">MRP(&#8377;)</th>
              <!-- <th class="txt_right" style="font-size: 11px;">Net Price(&#8377;)</th> -->
              <th class="txt_right" style="font-size: 11px;">Qty</th>
              <th class="txt_right" style="font-size: 11px;">Discount(%)</th>
              <th class="txt_right" style="font-size: 11px;">Tax Amount</th>
              <th class="txt_right" style="font-size: 11px;">Net Price(&#8377;)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of posPrintData.data.json_dtl; let i=index">
              <td class="txt_centr">{{i+1}}</td>
              <td class="txt_left">{{item.subcategory}}</td>
              <td class="txt_left">{{item.modelno}}</td>
              <td class="txt_right">{{item.piecepercarton}}</td>
              <td class="txt_right">{{item.mrp | currency : '&nbsp;'}}</td>
              <!-- <td class="txt_right">{{item.net_price}}</td> -->
              <td class="txt_right">{{item.packing_qty}}</td>
              <td class="txt_right">{{item.discount_eff}}</td>
              <td class="txt_right">{{item.gst_amount | currency : '&nbsp;'}}</td>
              <td class="txt_right">{{item.net_price | currency : '&nbsp;'}}</td>
            </tr>
            <tr>
              <td colspan="8"></td>
              <!-- <td class="no-line txt_right">
                  <strong>Grand Total</strong>
              </td> -->
              <td class="no-line txt_right"><span
                      style="color:#000;"></span>{{grand_total | currency:'&#8377;'}}</td>
          </tr>
          <tr>
              <td colspan="7" class="no-line"> </td>
              <td class="no-line txt_right">
                  <strong>CGST</strong>
              </td>
              <td class="no-line txt_right"><span
                      style="color:#000;"></span>{{taxAmount/2 | currency :'&#8377;'}}</td>

          </tr>
          <tr>
              <td colspan="7" class="no-line"> </td>
              <td class="no-line txt_right">
                  <strong>SGST</strong>
                  </td>
              <td class="no-line txt_right"><span
                      style="color:#000;"></span>{{taxAmount/2 | currency : '&#8377;'}}</td>

          </tr>
          <tr>
              <td colspan="7" class="no-line"> </td>
              <td class="no-line txt_right">
                  <strong>NET AMOUNT</strong>
              </td>
              <td class="no-line txt_right"><span
                      style="color:#000;"></span>{{(grand_total + taxAmount) | currency :'&#8377;'}}</td>

          </tr>
          </tbody>
        </table>
      </div>


      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <h5>
            <strong class="theme_color fnt_size_12">Declaration</strong>
          </h5>
          <p style="font-size:11px;">We Declare that this invoice shows the actual price of the goods
            described above and that all particulars
            are true and correct.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <h5>
            <strong class="theme_color fnt_size_12">Terms & Conditions :</strong>
          </h5>
          <!-- <p style="font-size:10px;">1. 1.We are not responsible with typographical errors as most of the data
                      would be entered with accuracy.</p>
                  <p style="font-size:10px;">2. 2.In case of error in pricing, we reserve right to cancel the
                      respective order unless items are dispatched.</p>
                  <p style="font-size:10px;">3. 3.Additional charges are subject to bulk orders and longer distances
                      of delivery.</p> -->
          <p style="font-size:10px;">1. We are not responsible for any Breakage/Damage/Shortage/Leakage in
            transist.</p>
          <p style="font-size:10px;">2. Our responsiblity ceases when the goods are delivered to the carrier.
          </p>
          <p style="font-size:10px;">3. Goods once sold will not be taken back.</p>
          <p style="font-size:10px;">4. Interest &#64;12% p.a. will be charged, if invoice is not paid on or
            before due date.</p>
          <p style="font-size:10px;">5. All Disputes are Subject to Hyderabad Jurisdiction.</p>
          <!--    <p style="font-size:10px;">7. Please read all Terms and Policies on www.powertex.com for Invoices and other related issues.</p> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="text-align: center;">
          <h6>
            <strong> *This is a computer generated invoice and does not require a physical signature.
            </strong>
          </h6>
        </div>
      </div>

    </div>

  </div>
  <div class="row" style="text-align: center;padding-bottom: 15px;">
    <button type="submit" class="btn btn-success" (click)="printInvoice()">Print Invoice</button>
    <button type="submit" style="margin:10px;" class="btn btn-success" routerLink="/dashboard">Cancel</button>
  </div>
</div>